In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('/Users/rajathadri_as/Documents/download (10).csv')

In [8]:
df.head()

  search_term          Date Comparison Total users
0         Sex                 % change      -8.65%
1         NaN     10 Jan - 13 Feb 2024         285
2         NaN  6 Dec 2023 - 9 Jan 2024         312
3       Adult                 % change     -19.29%
4         NaN     10 Jan - 13 Feb 2024         226