# Max_dim Analysis

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import re
import warnings

In [2]:
warnings.filterwarnings('ignore')

In [3]:
pd.set_option('display.max_rows', None)

# Dataset firstview

In [196]:
df = pd.read_csv('/Users/rajathadri_as/Documents/GSC_HM_Pages.csv')

In [197]:
df.head()

,Top pages,Clicks,Impressions,CTR,Position
0,https://www.horsemart.co.uk/horses-for-sale.php,494837,3067584,16.13%,13.06
1,https://www.horsemart.co.uk/,163000,762762,21.37%,34.06
2,https://www.horsemart.co.uk/Horses-for-Loan,105329,850471,12.38%,6.34
3,https://www.horsemart.co.uk/Shetland-pony/B/ho...,78126,493230,15.84%,6.56
4,https://www.horsemart.co.uk/horseboxes-and-tra...,69695,998833,6.98%,6.52

In [198]:
df.columns

Index(['Top pages', 'Clicks', 'Impressions', 'CTR', 'Position'], dtype='object')

In [199]:
df.shape

(1000, 5)

In [200]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Clicks,1000.0,2545.88300,17451.551431,206.00,291.0000,473.000,1199.7500,494837.00
Impressions,1000.0,40316.23100,154498.526758,710.00,3266.7500,6597.000,20360.7500,3067584.00
Position,1000.0,9.60211,4.644905,1.94,6.5975,8.675,11.4725,43.27

In [201]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Top pages    1000 non-null   object
 1   Clicks       1000 non-null   int64
 2   Impressions  1000 non-null   int64
 3   CTR          1000 non-null   object
 4   Position     1000 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 39.2+ KB

In [202]:
df.isna().sum()

Top pages      0
Clicks         0
Impressions    0
CTR            0
Position       0
dtype: int64

In [203]:
df['Clicks'].sum()

2545883

In [204]:
df['Impressions'].sum()

40316231

# Data Wrangling

In [205]:
df['CTR']=df['CTR'].str.replace('%','')

In [206]:
df.head()

,Top pages,Clicks,Impressions,CTR,Position
0,https://www.horsemart.co.uk/horses-for-sale.php,494837,3067584,16.13,13.06
1,https://www.horsemart.co.uk/,163000,762762,21.37,34.06
2,https://www.horsemart.co.uk/Horses-for-Loan,105329,850471,12.38,6.34
3,https://www.horsemart.co.uk/Shetland-pony/B/ho...,78126,493230,15.84,6.56
4,https://www.horsemart.co.uk/horseboxes-and-tra...,69695,998833,6.98,6.52

In [207]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Top pages    1000 non-null   object
 1   Clicks       1000 non-null   int64
 2   Impressions  1000 non-null   int64
 3   CTR          1000 non-null   object
 4   Position     1000 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 39.2+ KB

In [208]:
df['CTR']= df['CTR'].apply(pd.to_numeric)

In [209]:
df.shape

(1000, 5)

In [210]:
df.rename(columns={'Top pages':'URL'}, inplace=True)

In [211]:
list(df['URL'])

['https://www.horsemart.co.uk/horses-for-sale.php',
 'https://www.horsemart.co.uk/',
 'https://www.horsemart.co.uk/Horses-for-Loan',
 'https://www.horsemart.co.uk/Shetland-pony/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/horseboxes-and-trailers.php',
 'https://www.horsemart.co.uk/Scotland/C/horses-for-sale.php',
 'https://www.horsemart.co.uk/Cob/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/Friesian/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/Horsetrailers/E/horseboxes-and-trailers.php',
 'https://www.horsemart.co.uk/Shire/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/Welsh-Sec-D/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/horseboxes-and-trailers.php?tonnage=1',
 'https://www.horsemart.co.uk/Miniatures/A/horses-for-sale.php',
 'https://www.horsemart.co.uk/Palomino/E/horses-for-sale.php',
 'https://www.horsemart.co.uk/Irish-Draught/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/Arabian/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/Connemara/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/equestrian-property.php',
 'https://www.horsemart.co.uk/Clydesdale/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/Thoroughbred/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/Ex-Racehorses/A/horses-for-sale.php',
 'https://www.horsemart.co.uk/Appaloosa-horse-/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/Ifor-Williams/F/horseboxes-and-trailers.php',
 'https://www.horsemart.co.uk/Donkey/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/15-15-3-hands/G/horses-for-sale.php',
 'https://www.horsemart.co.uk/Irish-Sport-Horse/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/Young-Stock/A/horses-for-sale.php',
 'https://www.horsemart.co.uk/Lead-Rein-First-Ridden/A/horses-for-sale.php',
 'https://www.horsemart.co.uk/Quarter-Horse/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/Andalusian/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/Show-Jumpers/A/horses-for-sale.php',
 'https://www.horsemart.co.uk/New-Forest/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/Northern-Ireland/C/horses-for-sale.php',
 'https://www.horsemart.co.uk/Wales/C/horses-for-sale.php',
 'https://www.horsemart.co.uk/Ireland/C/horses-for-sale.php',
 'https://www.horsemart.co.uk/Happy-Hackers/A/horses-for-sale.php',
 'https://www.horsemart.co.uk/Welsh-Sec-A/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/Fell/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/16-16-3-hands/G/horses-for-sale.php',
 'https://www.horsemart.co.uk/Black/E/horses-for-sale.php',
 'https://www.horsemart.co.uk/Cornwall/D/horses-for-sale.php',
 'https://www.horsemart.co.uk/Kent/D/horses-for-sale.php',
 'https://www.horsemart.co.uk/All-Rounder/A/horses-for-sale.php',
 'https://www.horsemart.co.uk/Devon/D/horses-for-sale.php',
 'https://www.horsemart.co.uk/community/news-events/which-countries-have-the-most-horses-',
 'https://www.horsemart.co.uk/Horseboxes/E/horseboxes-and-trailers.php?tonnage=2',
 'https://www.horsemart.co.uk/Falabella/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/-17-hands/G/horses-for-sale.php',
 'https://www.horsemart.co.uk/North-East/C/horses-for-sale.php',
 'https://www.horsemart.co.uk/Horsetrailers/equi-trek/EF/horseboxes-and-trailers.php',
 'https://www.horsemart.co.uk/14-14-3-hands/G/horses-for-sale.php',
 'https://www.horsemart.co.uk/Irish-Draught-X/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/Companions/A/horses-for-sale.php',
 'https://www.horsemart.co.uk/Family/A/horses-for-sale.php',
 'https://www.horsemart.co.uk/Driving/A/horses-for-sale.php',
 'https://www.horsemart.co.uk/Pony-Club-Ponies/A/horses-for-sale.php',
 'https://www.horsemart.co.uk/Broodmares/A/horses-for-sale.php',
 'https://www.horsemart.co.uk/South-West/C/horses-for-sale.php',
 'https://www.horsemart.co.uk/Dun/E/horses-for-sale.php',
 'https://www.horsemart.co.uk/Scotland/C/Horses-for-Loan',
 'https://www.horsemart.co.uk/Dressage/A/horses-for-sale.php',
 'https://www.horsemart.co.uk/Essex/D/horses-for-sale.php',
 'https://www.horsemart.co.uk/Gypsy-Vanner/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/community/equestrian-advice-guides/feeding/what-horses-can-and-can-t-eat',
 'https://www.horsemart.co.uk/Haflinger/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/Norfolk/D/horses-for-sale.php',
 'https://www.horsemart.co.uk/Belgian-Ardennes/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/Warmblood/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/community/equestrian-advice-guides/general-equestrian-advice/find-the-perfect-horse-name',
 'https://www.horsemart.co.uk/Hunters/A/horses-for-sale.php',
 'https://www.horsemart.co.uk/Welsh-Sec-C/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/Dapple-Grey/E/horses-for-sale.php',
 'https://www.horsemart.co.uk/Stables/A/horse-equipment.php',
 'https://www.horsemart.co.uk/West-Yorkshire/D/horses-for-sale.php',
 'https://www.horsemart.co.uk/community/equestrian-advice-guides/equestrian-career-advice/working-with-horses-15-of-the-best-equine-jobs',
 'https://www.horsemart.co.uk/highland/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/West-Sussex/D/horses-for-sale.php',
 'https://www.horsemart.co.uk/Miniatures/Shetland-pony/AB/horses-for-sale.php',
 'https://www.horsemart.co.uk/North-Yorkshire/D/horses-for-sale.php',
 'https://www.horsemart.co.uk/Dartmoor/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/North-West/C/horses-for-sale.php',
 'https://www.horsemart.co.uk/Greater-Manchester/D/horses-for-sale.php',
 'https://www.horsemart.co.uk/Percheron/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/Welsh-Sec-B/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/Cheshire/D/horses-for-sale.php',
 'https://www.horsemart.co.uk/Horseboxes/E/horseboxes-and-trailers.php',
 'https://www.horsemart.co.uk/full-loan/A/Horses-for-Loan',
 'https://www.horsemart.co.uk/Lincolnshire/D/horses-for-sale.php',
 'https://www.horsemart.co.uk/KWPN/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/South-East/C/Horses-for-Loan',
 'https://www.horsemart.co.uk/Eventers/A/horses-for-sale.php',
 'https://www.horsemart.co.uk/Nottinghamshire/D/horses-for-sale.php',
 'https://www.horsemart.co.uk/2-stalls/C/horseboxes-and-trailers.php',
 'https://www.horsemart.co.uk/South-East/C/horses-for-sale.php',
 'https://www.horsemart.co.uk/community/equestrian-advice-guides/general-equestrian-advice/horse-prices-how-much-does-a-horse-cost-',
 'https://www.horsemart.co.uk/horseboxes-and-trailers.php?tonnage=3',
 'https://www.horsemart.co.uk/Somerset/D/horses-for-sale.php',
 'https://www.horsemart.co.uk/South-West/C/Horses-for-Loan',
 'https://www.horsemart.co.uk/Akhal-Teke-horse-/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/Hampshire/D/horses-for-sale.php',
 'https://www.horsemart.co.uk/Chestnut/E/horses-for-sale.php',
 'https://www.horsemart.co.uk/West-Sussex/D/Horses-for-Loan',
 'https://www.horsemart.co.uk/East-Sussex/D/horses-for-sale.php',
 'https://www.horsemart.co.uk/Gloucestershire/D/horses-for-sale.php',
 'https://www.horsemart.co.uk/Cob/15-15-3-hands/BG/horses-for-sale.php',
 'https://www.horsemart.co.uk/London/D/horses-for-sale.php',
 'https://www.horsemart.co.uk/Dales/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/Lusitano/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/Cumbria/D/horses-for-sale.php',
 'https://www.horsemart.co.uk/Durham/D/horses-for-sale.php',
 'https://www.horsemart.co.uk/Grey/E/horses-for-sale.php',
 'https://www.horsemart.co.uk/West-Midlands/C/horses-for-sale.php',
 'https://www.horsemart.co.uk/Leicestershire/D/horses-for-sale.php',
 'https://www.horsemart.co.uk/Suffolk/D/horses-for-sale.php',
 'https://www.horsemart.co.uk/Cleveland-Bay/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/Glasgow/J/horses-for-sale.php',
 'https://www.horsemart.co.uk/Scotland/A/horseboxes-and-trailers.php',
 'https://www.horsemart.co.uk/Coloured/A/horses-for-sale.php',
 'https://www.horsemart.co.uk/Dorset/D/horses-for-sale.php',
 'https://www.horsemart.co.uk/Worcestershire/D/horses-for-sale.php',
 'https://www.horsemart.co.uk/Colt/F/horses-for-sale.php',
 'https://www.horsemart.co.uk/Surrey/D/Horses-for-Loan',
 'https://www.horsemart.co.uk/North-East/C/Horses-for-Loan',
 'https://www.horsemart.co.uk/community/equestrian-advice-guides/business-advice/how-to-write-a-livery-yard-contract-sample',
 'https://www.horsemart.co.uk/Surrey/D/horses-for-sale.php',
 'https://www.horsemart.co.uk/Shropshire/D/horses-for-sale.php',
 'https://www.horsemart.co.uk/equi-trek/F/horseboxes-and-trailers.php',
 'https://www.horsemart.co.uk/Friesian/Black/BE/horses-for-sale.php',
 'https://www.horsemart.co.uk/Lancashire/D/horses-for-sale.php',
 'https://www.horsemart.co.uk/Cambridgeshire/D/horses-for-sale.php',
 'https://www.horsemart.co.uk/Horseboxes/Renault/EF/horseboxes-and-trailers.php',
 'https://www.horsemart.co.uk/Paint/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/Buckskin/E/horses-for-sale.php',
 'https://www.horsemart.co.uk/Stallions/A/horses-for-sale.php',
 'https://www.horsemart.co.uk/North-West/C/Horses-for-Loan',
 'https://www.horsemart.co.uk/white/E/horses-for-sale.php',
 'https://www.horsemart.co.uk/Saddles/A/horse-equipment.php',
 'https://www.horsemart.co.uk/Kent/D/Horses-for-Loan',
 'https://www.horsemart.co.uk/Exmoor/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/School-Masters/A/horses-for-sale.php',
 'https://www.horsemart.co.uk/Staffordshire/D/horses-for-sale.php',
 'https://www.horsemart.co.uk/Cremello/E/horses-for-sale.php',
 'https://www.horsemart.co.uk/Hanoverian/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/Welsh-X-breed-guide/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/Polo-Ponies/A/horses-for-sale.php',
 'https://www.horsemart.co.uk/Derbyshire/D/horses-for-sale.php',
 'https://www.horsemart.co.uk/Horseboxes/equi-trek/EF/horseboxes-and-trailers.php',
 'https://www.horsemart.co.uk/Northamptonshire/D/horses-for-sale.php',
 'https://www.horsemart.co.uk/1-stall/C/horseboxes-and-trailers.php',
 'https://www.horsemart.co.uk/6-or-more-stalls/C/horseboxes-and-trailers.php',
 'https://www.horsemart.co.uk/community/news-events/new-stallion-chosen-as-the-black-horse-for-lloyds-tsb',
 'https://www.horsemart.co.uk/Scania/F/horseboxes-and-trailers.php',
 'https://www.horsemart.co.uk/Pembrokeshire/D/horses-for-sale.php',
 'https://www.horsemart.co.uk/Bloomfields/F/horseboxes-and-trailers.php',
 'https://www.horsemart.co.uk/Horsetrailers/E/horseboxes-and-trailers.php?ads_mk=125',
 'https://www.horsemart.co.uk/>16-years/H/horses-for-sale.php',
 'https://www.horsemart.co.uk/Connemara/15-15-3-hands/BG/horses-for-sale.php',
 'https://www.horsemart.co.uk/Oxfordshire/D/horses-for-sale.php',
 'https://www.horsemart.co.uk/community/news-events/13-hottest-male-equestrians-voted-by-horsemart',
 'https://www.horsemart.co.uk/community/equestrian-advice-guides/general-equestrian-advice/what-is-the-average-weight-of-a-horse-',
 'https://www.horsemart.co.uk/spotted/E/horses-for-sale.php',
 'https://www.horsemart.co.uk/American-Standardbred/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/13-13-3-hands/G/horses-for-sale.php',
 'https://www.horsemart.co.uk/Miniatures/Falabella/AB/horses-for-sale.php',
 'https://www.horsemart.co.uk/Suffolk-Punch/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/Wales/C/Horses-for-Loan',
 'https://www.horsemart.co.uk/Pony-Club-Ponies/12-12-3-hands/AG/horses-for-sale.php',
 'https://www.horsemart.co.uk/Horseboxes/daf/EF/horseboxes-and-trailers.php',
 'https://www.horsemart.co.uk/Newcastle-u-Tyne/J/horses-for-sale.php',
 'https://www.horsemart.co.uk/Thoroughbred/Mare/BF/horses-for-sale.php',
 'https://www.horsemart.co.uk/Hertfordshire/D/horses-for-sale.php',
 'https://www.horsemart.co.uk/West-Midlands/D/horses-for-sale.php',
 'https://www.horsemart.co.uk/Cob/16-16-3-hands/BG/horses-for-sale.php',
 'https://www.horsemart.co.uk/Horses-Wanted',
 'https://www.horsemart.co.uk/Northumberland/D/horses-for-sale.php',
 'https://www.horsemart.co.uk/community/horse-breed-guides/the-welsh-pony-breed-guide',
 'https://www.horsemart.co.uk/Scotland/Gelding/CF/horses-for-sale.php',
 'https://www.horsemart.co.uk/Skewbald/E/horses-for-sale.php',
 'https://www.horsemart.co.uk/Knabstrupper/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/Showing/A/horses-for-sale.php',
 'https://www.horsemart.co.uk/Spanish-Iberian/A/horses-for-sale.php',
 'https://www.horsemart.co.uk/Eastern/C/horses-for-sale.php',
 'https://www.horsemart.co.uk/Part-Bred-Arab/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/horseboxes-and-trailers.php?tonnage=2',
 'https://www.horsemart.co.uk/East-Sussex/D/Horses-for-Loan',
 'https://www.horsemart.co.uk/community/buying-selling/buying-advice/loaning-a-horse-successfully-loanee-do-s-and-don-ts-for-maki',
 'https://www.horsemart.co.uk/Cob/Scotland/BC/horses-for-sale.php',
 'https://www.horsemart.co.uk/Young-Stock/Cob/AB/horses-for-sale.php',
 'https://www.horsemart.co.uk/Wiltshire/D/horses-for-sale.php',
 'https://www.horsemart.co.uk/Cob/14-14-3-hands/BG/horses-for-sale.php',
 'https://www.horsemart.co.uk/Aberdeenshire/D/horses-for-sale.php',
 'https://www.horsemart.co.uk/Connemara/Dun/BE/horses-for-sale.php',
 'https://www.horsemart.co.uk/East-Midlands/C/horses-for-sale.php',
 'https://www.horsemart.co.uk/Western/A/horses-for-sale.php',
 'https://www.horsemart.co.uk/Cob/hackers/BI/horses-for-sale.php',
 'https://www.horsemart.co.uk/Black/Stallion/EF/horses-for-sale.php',
 'https://www.horsemart.co.uk/London/D/Horses-for-Loan',
 'https://www.horsemart.co.uk/Cheshire/D/Horses-for-Loan',
 'https://www.horsemart.co.uk/Essex/D/Horses-for-Loan',
 'https://www.horsemart.co.uk/Blue-Roan/E/horses-for-sale.php',
 'https://www.horsemart.co.uk/Riding-Pony/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/Cob/Black/BE/horses-for-sale.php',
 'https://www.horsemart.co.uk/TB-X/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/Southampton/J/horses-for-sale.php',
 'https://www.horsemart.co.uk/South-Yorkshire/D/horses-for-sale.php',
 'https://www.horsemart.co.uk/South-West/C/equestrian-property.php',
 'https://www.horsemart.co.uk/community/buying-selling/buying-advice/finding-horses-for-sale-under-1000-pounds',
 'https://www.horsemart.co.uk/Bristol/D/horses-for-sale.php',
 'https://www.horsemart.co.uk/Hampshire/D/Horses-for-Loan',
 'https://www.horsemart.co.uk/cobs-heavy-horses/A/horses-for-sale.php',
 'https://www.horsemart.co.uk/Stallion/F/horses-for-sale.php',
 'https://www.horsemart.co.uk/Horsetrailers/cheval-liberte/EF/horseboxes-and-trailers.php',
 'https://www.horsemart.co.uk/Exeter/J/horses-for-sale.php',
 'https://www.horsemart.co.uk/Bay/E/horses-for-sale.php',
 'https://www.horsemart.co.uk/Palomino/15-15-3-hands/EG/horses-for-sale.php',
 'https://www.horsemart.co.uk/community/equestrian-advice-guides/all-disciplines/draw-reins-teaching-tool-or-torture-instrument-',
 'https://www.horsemart.co.uk/Doncaster/J/horses-for-sale.php',
 'https://www.horsemart.co.uk/horse-equipment.php',
 'https://www.horsemart.co.uk/Peterborough/J/horses-for-sale.php',
 'https://www.horsemart.co.uk/3-5-years/H/horses-for-sale.php',
 'https://www.horsemart.co.uk/Morgan/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/5-stalls/C/horseboxes-and-trailers.php',
 'https://www.horsemart.co.uk/All-Rounder/highland/AB/horses-for-sale.php',
 'https://www.horsemart.co.uk/horses-for-sale.php?ads_pid_max=2000',
 'https://www.horsemart.co.uk/community/training-top-tips/showjumping/show-jumping-dress-code',
 'https://www.horsemart.co.uk/York-North-Yorkshire/J/horses-for-sale.php',
 'https://www.horsemart.co.uk/Ayrshire/D/horses-for-sale.php',
 'https://www.horsemart.co.uk/Riding-Club-Horses-Ponies/A/horses-for-sale.php',
 'https://www.horsemart.co.uk/Warwickshire/D/horses-for-sale.php',
 'https://www.horsemart.co.uk/Belgian-Warmblood/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/Herefordshire/D/horses-for-sale.php',
 'https://www.horsemart.co.uk/Norwich/J/horses-for-sale.php',
 'https://www.horsemart.co.uk/Anglo-Arab-horse-/B/horses-for-sale.php',
 'https://www.horsemart.co.uk/Northern-Ireland/A/horseboxes-and-trailers.php',
 'https://www.horsemart.co.uk/Carlisle/J/horses-for-sale.php',
 'https://www.horsemart.co.uk/Piebald/E/horses-for-sale.php',
 'https://www.horsemart.co.uk/Broodmares/Thoroughbred/AB/horses-for-sale.php',
 'https://www.horsemart.co.uk/Iveco/F/horseboxes-and-trailers.php',
 'https://www.horsemart.co.uk/Devon/D/Horses-for-Loan',
 'https://www.horsemart.co.uk/community/equestrian-advice-guides/general-equestrian-advice/our-top-destinations-to-take-your-horse-on-a-uk-holiday',
 'https://www.horsemart.co.uk/community/reviews/micklem-bridles-review-are-they-worth-the-money-and-do-they-',
 'https://www.horsemart.co.uk/Pony-Club-Ponies/13-13-3-hands/AG/horses-for-sale.php',
 'https://www.horsemart.co.uk/community/buying-selling/buying-advice/how-to-write-a-loan-contract-sample',
 'https://www.horsemart.co.uk/Young-Stock/0-2-years/AH/horses-for-sale.php',
 'https://www.horsemart.co.uk/North-Yorkshire/D/Horses-for-Loan',
 'https://www.horsemart.co.uk/Cob/B/Horses-for-Loan',
 'https://www.horsemart.co.uk/Derbyshire/D/Horses-for-Loan',
 'https://www.horsemart.co.uk/Stoke-on-Trent/J/horses-for-sale.php',
 'https://www.horsemart.co.uk/West-Midlands/C/Horses-for-Loan',
 'https://www.horsemart.co.uk/Plymouth/J/horses-for-sale.php',
 'https://www.horsemart.co.uk/Young-Stock/Thoroughbred/AB/horses-for-sale.php',
 'https://www.horsemart.co.uk/project-horses/A/horses-for-sale.php',
 'https://www.horsemart.co.uk/Suffolk/D/Horses-for-Loan',
 'https://www.horsemart.co.uk/4-stalls/C/horseboxes-and-trailers.php',
 'https://www.horsemart.co.uk/Welsh-Sec-D/15-15-3-hands/BG/horses-for-sale.php',
 'https://www.horsemart.co.uk/community/equestrian-advice-guides/equestrian-career-advice/how-to-become-a-chartered-equine-physiotherapist',
 'https://www.horsemart.co.uk/Bateson/F/horseboxes-and-trailers.php',
 'https://www.horsemart.co.uk/community/buying-selling/buying-advice/horse-share-everything-you-need-to-know',
 'https://www.horsemart.co.uk/London/J/horses-for-sale.php',
 'https://www.horsemart.co.uk/East-Midlands/C/Horses-for-Loan',
 'https://www.horsemart.co.uk/Berkshire/D/horses-for-sale.php',
 'https://www.horsemart.co.uk/foxy/F/horseboxes-and-trailers.php',
 'https://www.horsemart.co.uk/Sunderland-Cumbria/J/horses-for-sale.php',
 'https://www.horsemart.co.uk/Cob/South-West/BC/horses-for-sale.php',
 'https://www.horsemart.co.uk/Cob/up-to-11-3-hands/BG/horses-for-sale.php',
 'https://www.horsemart.co.uk/Palomino/Mare/EF/horses-for-sale.php',
 'https://www.horsemart.co.uk/Scotland/15-15-3-hands/CG/horses-for-sale.php',
 'https://www.horsemart.co.uk/Buckinghamshire/D/horses-for-sale.php',
 'https://www.horsemart.co.uk/Cob/Gelding/BF/horses-for-sale.php',
 'https://www.horsemart.co.uk/Thames-Valley/C/Horses-for-Loan',
 'https://www.horsemart.co.uk/Horsetrailers/E/horseboxes-and-trailers.php?ads_mk=155',
 'https://www.horsemart.co.uk/Scotland/Horsetrailers/AE/horseboxes-and-trailers.php',
 'https://www.horsemart.co.uk/Horseboxes/Vauxhall/EF/horseboxes-and-trailers.php',
 'https://www.horsemart.co.uk/2-stalls/Iveco/CF/horseboxes-and-trailers.php',
 'https://www.horsemart.co.uk/Somerset/D/Horses-for-Loan',
 'https://www.horsemart.co.uk/Eastern/C/Horses-for-Loan',
 'https://www.horsemart.co.uk/Swansea/J/horses-for-sale.php',
 'https://www.horsemart.co.uk/up-to-11-3-hands/G/horses-for-sale.php',
 'https://www.horsemart.co.uk/community/training-top-tips/showing/showing-tips-for-beginners',
 'https://www.horsemart.co.uk/Edinburgh/J/horses-for-sale.php',
 'https://www.horsemart.co.uk/3-stalls/Ifor-Williams/CF/horseboxes-and-trailers.php',
 'https://www.horsemart.co.uk/Gelding/F/horses-for-sale.php',
 'https://www.horsemart.co.uk/Colchester/J/horses-for-sale.php',
 'https://www.horsemart.co.uk/South-West/Horseboxes/AE/horseboxes-and-trailers.php',

In [212]:
df['URL'] = df['URL'].str.replace('/KWPN','/kwpn')

In [213]:
df['URL'] = df['URL'].str.replace('/TB-X','/tb-x')

In [214]:
df['URL'] = df['URL'].str.replace('/WHP','/whp')

In [215]:
df['URL']=df['URL'].str.replace('https://www.horsemart.co.uk/','')

In [216]:
df[df['URL'].str.contains(pat='https://www.horsemart.co.uk')]

Empty DataFrame
Columns: [URL, Clicks, Impressions, CTR, Position]
Index: []

In [217]:
df.head()

                                   URL  Clicks  Impressions    CTR  Position
0                  horses-for-sale.php  494837      3067584  16.13     13.06
1                                       163000       762762  21.37     34.06
2                      Horses-for-Loan  105329       850471  12.38      6.34
3  Shetland-pony/B/horses-for-sale.php   78126       493230  15.84      6.56
4          horseboxes-and-trailers.php   69695       998833   6.98      6.52

In [218]:
df[df['URL'].str.contains(pat='page=')]

,URL,Clicks,Impressions,CTR,Position
537,Shetland-pony/B/horses-for-sale.php?page=3,429,9958,4.31,12.23
601,horses-for-sale.php?ads_hid=6&page=2,373,1632,22.86,5.92
614,Horses-for-Loan?page=2,361,127365,0.28,2.40
730,Suffolk-Punch/B/horses-for-sale.php?amp;page=27,297,1222,24.30,5.70
875,Morgan/B/horses-for-sale.php?page=68,240,1364,17.60,28.22

In [219]:
df.shape

(1000, 5)

In [220]:
def replace_page(url):
    return re.sub(r'(page=).*', r'\1', url)

In [221]:
df['URL'] = df['URL'].apply(replace_page)

In [222]:
df.head()

                                   URL  Clicks  Impressions    CTR  Position
0                  horses-for-sale.php  494837      3067584  16.13     13.06
1                                       163000       762762  21.37     34.06
2                      Horses-for-Loan  105329       850471  12.38      6.34
3  Shetland-pony/B/horses-for-sale.php   78126       493230  15.84      6.56
4          horseboxes-and-trailers.php   69695       998833   6.98      6.52

In [223]:
df['URL'] = df['URL'].str.replace('page=','')

In [224]:
def replace_filtervalue(url):
    return re.sub(r'(=).*', r'\1', url)

In [225]:
df['URL'] = df['URL'].apply(replace_filtervalue)

In [226]:
list(df[df['URL'].str.contains(pat='tonnage=')]['URL'])

['horseboxes-and-trailers.php?tonnage=',
 'Horseboxes/E/horseboxes-and-trailers.php?tonnage=',
 'horseboxes-and-trailers.php?tonnage=',
 'horseboxes-and-trailers.php?tonnage=',
 'Horseboxes/E/horseboxes-and-trailers.php?tonnage=',
 'Horseboxes/E/horseboxes-and-trailers.php?tonnage=',
 'oakley/F/horseboxes-and-trailers.php?tonnage=']

In [227]:
df.shape

(1000, 5)

In [228]:
list(df[df['URL'].str.contains(pat='page=')]['URL'])

[]

In [229]:
list(df['URL'])

['horses-for-sale.php',
 '',
 'Horses-for-Loan',
 'Shetland-pony/B/horses-for-sale.php',
 'horseboxes-and-trailers.php',
 'Scotland/C/horses-for-sale.php',
 'Cob/B/horses-for-sale.php',
 'Friesian/B/horses-for-sale.php',
 'Horsetrailers/E/horseboxes-and-trailers.php',
 'Shire/B/horses-for-sale.php',
 'Welsh-Sec-D/B/horses-for-sale.php',
 'horseboxes-and-trailers.php?tonnage=',
 'Miniatures/A/horses-for-sale.php',
 'Palomino/E/horses-for-sale.php',
 'Irish-Draught/B/horses-for-sale.php',
 'Arabian/B/horses-for-sale.php',
 'Connemara/B/horses-for-sale.php',
 'equestrian-property.php',
 'Clydesdale/B/horses-for-sale.php',
 'Thoroughbred/B/horses-for-sale.php',
 'Ex-Racehorses/A/horses-for-sale.php',
 'Appaloosa-horse-/B/horses-for-sale.php',
 'Ifor-Williams/F/horseboxes-and-trailers.php',
 'Donkey/B/horses-for-sale.php',
 '15-15-3-hands/G/horses-for-sale.php',
 'Irish-Sport-Horse/B/horses-for-sale.php',
 'Young-Stock/A/horses-for-sale.php',
 'Lead-Rein-First-Ridden/A/horses-for-sale.php',
 'Quarter-Horse/B/horses-for-sale.php',
 'Andalusian/B/horses-for-sale.php',
 'Show-Jumpers/A/horses-for-sale.php',
 'New-Forest/B/horses-for-sale.php',
 'Northern-Ireland/C/horses-for-sale.php',
 'Wales/C/horses-for-sale.php',
 'Ireland/C/horses-for-sale.php',
 'Happy-Hackers/A/horses-for-sale.php',
 'Welsh-Sec-A/B/horses-for-sale.php',
 'Fell/B/horses-for-sale.php',
 '16-16-3-hands/G/horses-for-sale.php',
 'Black/E/horses-for-sale.php',
 'Cornwall/D/horses-for-sale.php',
 'Kent/D/horses-for-sale.php',
 'All-Rounder/A/horses-for-sale.php',
 'Devon/D/horses-for-sale.php',
 'community/news-events/which-countries-have-the-most-horses-',
 'Horseboxes/E/horseboxes-and-trailers.php?tonnage=',
 'Falabella/B/horses-for-sale.php',
 '-17-hands/G/horses-for-sale.php',
 'North-East/C/horses-for-sale.php',
 'Horsetrailers/equi-trek/EF/horseboxes-and-trailers.php',
 '14-14-3-hands/G/horses-for-sale.php',
 'Irish-Draught-X/B/horses-for-sale.php',
 'Companions/A/horses-for-sale.php',
 'Family/A/horses-for-sale.php',
 'Driving/A/horses-for-sale.php',
 'Pony-Club-Ponies/A/horses-for-sale.php',
 'Broodmares/A/horses-for-sale.php',
 'South-West/C/horses-for-sale.php',
 'Dun/E/horses-for-sale.php',
 'Scotland/C/Horses-for-Loan',
 'Dressage/A/horses-for-sale.php',
 'Essex/D/horses-for-sale.php',
 'Gypsy-Vanner/B/horses-for-sale.php',
 'community/equestrian-advice-guides/feeding/what-horses-can-and-can-t-eat',
 'Haflinger/B/horses-for-sale.php',
 'Norfolk/D/horses-for-sale.php',
 'Belgian-Ardennes/B/horses-for-sale.php',
 'Warmblood/B/horses-for-sale.php',
 'community/equestrian-advice-guides/general-equestrian-advice/find-the-perfect-horse-name',
 'Hunters/A/horses-for-sale.php',
 'Welsh-Sec-C/B/horses-for-sale.php',
 'Dapple-Grey/E/horses-for-sale.php',
 'Stables/A/horse-equipment.php',
 'West-Yorkshire/D/horses-for-sale.php',
 'community/equestrian-advice-guides/equestrian-career-advice/working-with-horses-15-of-the-best-equine-jobs',
 'highland/B/horses-for-sale.php',
 'West-Sussex/D/horses-for-sale.php',
 'Miniatures/Shetland-pony/AB/horses-for-sale.php',
 'North-Yorkshire/D/horses-for-sale.php',
 'Dartmoor/B/horses-for-sale.php',
 'North-West/C/horses-for-sale.php',
 'Greater-Manchester/D/horses-for-sale.php',
 'Percheron/B/horses-for-sale.php',
 'Welsh-Sec-B/B/horses-for-sale.php',
 'Cheshire/D/horses-for-sale.php',
 'Horseboxes/E/horseboxes-and-trailers.php',
 'full-loan/A/Horses-for-Loan',
 'Lincolnshire/D/horses-for-sale.php',
 'kwpn/B/horses-for-sale.php',
 'South-East/C/Horses-for-Loan',
 'Eventers/A/horses-for-sale.php',
 'Nottinghamshire/D/horses-for-sale.php',
 '2-stalls/C/horseboxes-and-trailers.php',
 'South-East/C/horses-for-sale.php',
 'community/equestrian-advice-guides/general-equestrian-advice/horse-prices-how-much-does-a-horse-cost-',
 'horseboxes-and-trailers.php?tonnage=',
 'Somerset/D/horses-for-sale.php',
 'South-West/C/Horses-for-Loan',
 'Akhal-Teke-horse-/B/horses-for-sale.php',
 'Hampshire/D/horses-for-sale.php',
 'Chestnut/E/horses-for-sale.php',
 'West-Sussex/D/Horses-for-Loan',
 'East-Sussex/D/horses-for-sale.php',
 'Gloucestershire/D/horses-for-sale.php',
 'Cob/15-15-3-hands/BG/horses-for-sale.php',
 'London/D/horses-for-sale.php',
 'Dales/B/horses-for-sale.php',
 'Lusitano/B/horses-for-sale.php',
 'Cumbria/D/horses-for-sale.php',
 'Durham/D/horses-for-sale.php',
 'Grey/E/horses-for-sale.php',
 'West-Midlands/C/horses-for-sale.php',
 'Leicestershire/D/horses-for-sale.php',
 'Suffolk/D/horses-for-sale.php',
 'Cleveland-Bay/B/horses-for-sale.php',
 'Glasgow/J/horses-for-sale.php',
 'Scotland/A/horseboxes-and-trailers.php',
 'Coloured/A/horses-for-sale.php',
 'Dorset/D/horses-for-sale.php',
 'Worcestershire/D/horses-for-sale.php',
 'Colt/F/horses-for-sale.php',
 'Surrey/D/Horses-for-Loan',
 'North-East/C/Horses-for-Loan',
 'community/equestrian-advice-guides/business-advice/how-to-write-a-livery-yard-contract-sample',
 'Surrey/D/horses-for-sale.php',
 'Shropshire/D/horses-for-sale.php',
 'equi-trek/F/horseboxes-and-trailers.php',
 'Friesian/Black/BE/horses-for-sale.php',
 'Lancashire/D/horses-for-sale.php',
 'Cambridgeshire/D/horses-for-sale.php',
 'Horseboxes/Renault/EF/horseboxes-and-trailers.php',
 'Paint/B/horses-for-sale.php',
 'Buckskin/E/horses-for-sale.php',
 'Stallions/A/horses-for-sale.php',
 'North-West/C/Horses-for-Loan',
 'white/E/horses-for-sale.php',
 'Saddles/A/horse-equipment.php',
 'Kent/D/Horses-for-Loan',
 'Exmoor/B/horses-for-sale.php',
 'School-Masters/A/horses-for-sale.php',
 'Staffordshire/D/horses-for-sale.php',
 'Cremello/E/horses-for-sale.php',
 'Hanoverian/B/horses-for-sale.php',
 'Welsh-X-breed-guide/B/horses-for-sale.php',
 'Polo-Ponies/A/horses-for-sale.php',
 'Derbyshire/D/horses-for-sale.php',
 'Horseboxes/equi-trek/EF/horseboxes-and-trailers.php',
 'Northamptonshire/D/horses-for-sale.php',
 '1-stall/C/horseboxes-and-trailers.php',
 '6-or-more-stalls/C/horseboxes-and-trailers.php',
 'community/news-events/new-stallion-chosen-as-the-black-horse-for-lloyds-tsb',
 'Scania/F/horseboxes-and-trailers.php',
 'Pembrokeshire/D/horses-for-sale.php',
 'Bloomfields/F/horseboxes-and-trailers.php',
 'Horsetrailers/E/horseboxes-and-trailers.php?ads_mk=',
 '>16-years/H/horses-for-sale.php',
 'Connemara/15-15-3-hands/BG/horses-for-sale.php',
 'Oxfordshire/D/horses-for-sale.php',
 'community/news-events/13-hottest-male-equestrians-voted-by-horsemart',
 'community/equestrian-advice-guides/general-equestrian-advice/what-is-the-average-weight-of-a-horse-',
 'spotted/E/horses-for-sale.php',
 'American-Standardbred/B/horses-for-sale.php',
 '13-13-3-hands/G/horses-for-sale.php',
 'Miniatures/Falabella/AB/horses-for-sale.php',
 'Suffolk-Punch/B/horses-for-sale.php',
 'Wales/C/Horses-for-Loan',
 'Pony-Club-Ponies/12-12-3-hands/AG/horses-for-sale.php',
 'Horseboxes/daf/EF/horseboxes-and-trailers.php',
 'Newcastle-u-Tyne/J/horses-for-sale.php',
 'Thoroughbred/Mare/BF/horses-for-sale.php',
 'Hertfordshire/D/horses-for-sale.php',
 'West-Midlands/D/horses-for-sale.php',
 'Cob/16-16-3-hands/BG/horses-for-sale.php',
 'Horses-Wanted',
 'Northumberland/D/horses-for-sale.php',
 'community/horse-breed-guides/the-welsh-pony-breed-guide',
 'Scotland/Gelding/CF/horses-for-sale.php',
 'Skewbald/E/horses-for-sale.php',
 'Knabstrupper/B/horses-for-sale.php',
 'Showing/A/horses-for-sale.php',
 'Spanish-Iberian/A/horses-for-sale.php',
 'Eastern/C/horses-for-sale.php',
 'Part-Bred-Arab/B/horses-for-sale.php',
 'horseboxes-and-trailers.php?tonnage=',
 'East-Sussex/D/Horses-for-Loan',
 'community/buying-selling/buying-advice/loaning-a-horse-successfully-loanee-do-s-and-don-ts-for-maki',
 'Cob/Scotland/BC/horses-for-sale.php',
 'Young-Stock/Cob/AB/horses-for-sale.php',
 'Wiltshire/D/horses-for-sale.php',
 'Cob/14-14-3-hands/BG/horses-for-sale.php',
 'Aberdeenshire/D/horses-for-sale.php',
 'Connemara/Dun/BE/horses-for-sale.php',
 'East-Midlands/C/horses-for-sale.php',
 'Western/A/horses-for-sale.php',
 'Cob/hackers/BI/horses-for-sale.php',
 'Black/Stallion/EF/horses-for-sale.php',
 'London/D/Horses-for-Loan',
 'Cheshire/D/Horses-for-Loan',
 'Essex/D/Horses-for-Loan',
 'Blue-Roan/E/horses-for-sale.php',
 'Riding-Pony/B/horses-for-sale.php',
 'Cob/Black/BE/horses-for-sale.php',
 'tb-x/B/horses-for-sale.php',
 'Southampton/J/horses-for-sale.php',
 'South-Yorkshire/D/horses-for-sale.php',
 'South-West/C/equestrian-property.php',
 'community/buying-selling/buying-advice/finding-horses-for-sale-under-1000-pounds',
 'Bristol/D/horses-for-sale.php',
 'Hampshire/D/Horses-for-Loan',
 'cobs-heavy-horses/A/horses-for-sale.php',
 'Stallion/F/horses-for-sale.php',
 'Horsetrailers/cheval-liberte/EF/horseboxes-and-trailers.php',
 'Exeter/J/horses-for-sale.php',
 'Bay/E/horses-for-sale.php',
 'Palomino/15-15-3-hands/EG/horses-for-sale.php',
 'community/equestrian-advice-guides/all-disciplines/draw-reins-teaching-tool-or-torture-instrument-',
 'Doncaster/J/horses-for-sale.php',
 'horse-equipment.php',
 'Peterborough/J/horses-for-sale.php',
 '3-5-years/H/horses-for-sale.php',
 'Morgan/B/horses-for-sale.php',
 '5-stalls/C/horseboxes-and-trailers.php',
 'All-Rounder/highland/AB/horses-for-sale.php',
 'horses-for-sale.php?ads_pid_max=',
 'community/training-top-tips/showjumping/show-jumping-dress-code',
 'York-North-Yorkshire/J/horses-for-sale.php',
 'Ayrshire/D/horses-for-sale.php',
 'Riding-Club-Horses-Ponies/A/horses-for-sale.php',
 'Warwickshire/D/horses-for-sale.php',
 'Belgian-Warmblood/B/horses-for-sale.php',
 'Herefordshire/D/horses-for-sale.php',
 'Norwich/J/horses-for-sale.php',
 'Anglo-Arab-horse-/B/horses-for-sale.php',
 'Northern-Ireland/A/horseboxes-and-trailers.php',
 'Carlisle/J/horses-for-sale.php',
 'Piebald/E/horses-for-sale.php',
 'Broodmares/Thoroughbred/AB/horses-for-sale.php',
 'Iveco/F/horseboxes-and-trailers.php',
 'Devon/D/Horses-for-Loan',
 'community/equestrian-advice-guides/general-equestrian-advice/our-top-destinations-to-take-your-horse-on-a-uk-holiday',
 'community/reviews/micklem-bridles-review-are-they-worth-the-money-and-do-they-',
 'Pony-Club-Ponies/13-13-3-hands/AG/horses-for-sale.php',
 'community/buying-selling/buying-advice/how-to-write-a-loan-contract-sample',
 'Young-Stock/0-2-years/AH/horses-for-sale.php',
 'North-Yorkshire/D/Horses-for-Loan',
 'Cob/B/Horses-for-Loan',
 'Derbyshire/D/Horses-for-Loan',
 'Stoke-on-Trent/J/horses-for-sale.php',
 'West-Midlands/C/Horses-for-Loan',
 'Plymouth/J/horses-for-sale.php',
 'Young-Stock/Thoroughbred/AB/horses-for-sale.php',
 'project-horses/A/horses-for-sale.php',
 'Suffolk/D/Horses-for-Loan',
 '4-stalls/C/horseboxes-and-trailers.php',
 'Welsh-Sec-D/15-15-3-hands/BG/horses-for-sale.php',
 'community/equestrian-advice-guides/equestrian-career-advice/how-to-become-a-chartered-equine-physiotherapist',
 'Bateson/F/horseboxes-and-trailers.php',
 'community/buying-selling/buying-advice/horse-share-everything-you-need-to-know',
 'London/J/horses-for-sale.php',
 'East-Midlands/C/Horses-for-Loan',
 'Berkshire/D/horses-for-sale.php',
 'foxy/F/horseboxes-and-trailers.php',
 'Sunderland-Cumbria/J/horses-for-sale.php',
 'Cob/South-West/BC/horses-for-sale.php',
 'Cob/up-to-11-3-hands/BG/horses-for-sale.php',
 'Palomino/Mare/EF/horses-for-sale.php',
 'Scotland/15-15-3-hands/CG/horses-for-sale.php',
 'Buckinghamshire/D/horses-for-sale.php',
 'Cob/Gelding/BF/horses-for-sale.php',
 'Thames-Valley/C/Horses-for-Loan',
 'Horsetrailers/E/horseboxes-and-trailers.php?ads_mk=',
 'Scotland/Horsetrailers/AE/horseboxes-and-trailers.php',
 'Horseboxes/Vauxhall/EF/horseboxes-and-trailers.php',
 '2-stalls/Iveco/CF/horseboxes-and-trailers.php',
 'Somerset/D/Horses-for-Loan',
 'Eastern/C/Horses-for-Loan',
 'Swansea/J/horses-for-sale.php',
 'up-to-11-3-hands/G/horses-for-sale.php',
 'community/training-top-tips/showing/showing-tips-for-beginners',
 'Edinburgh/J/horses-for-sale.php',
 '3-stalls/Ifor-Williams/CF/horseboxes-and-trailers.php',
 'Gelding/F/horses-for-sale.php',
 'Colchester/J/horses-for-sale.php',
 'South-West/Horseboxes/AE/horseboxes-and-trailers.php',
 'Dark-Bay/E/horses-for-sale.php',
 'Huddersfield/J/horses-for-sale.php',
 'Cob/13-13-3-hands/BG/horses-for-sale.php',
 'Strawberry-Roan/E/horses-for-sale.php',
 'Thoroughbred/Black/BE/horses-for-sale.php',
 'Scottish-Borders/D/horses-for-sale.php',
 'Black/Gelding/EF/horses-for-sale.php',
 'Pony-Club-Ponies/14-14-3-hands/AG/horses-for-sale.php',
 'Gloucestershire/D/Horses-for-Loan',
 'Oldenburg/B/horses-for-sale.php',
 'Ipswich/J/horses-for-sale.php',
 'Chesterfield/J/horses-for-sale.php',
 'Lancashire/D/Horses-for-Loan',
 'community/buying-selling/buying-advice/the-3-5-tonne-horsebox-a-buyer-s-guide',
 'Horseboxes/E/horseboxes-and-trailers.php?tonnage=',
 'Young-Stock/Connemara/AB/horses-for-sale.php',
 'community/equestrian-advice-guides/beginners-advice/thinking-of-going-affiliated-showjumping-what-you-need-to-kn',
 'Liver-Chestnut/E/horses-for-sale.php',
 'Hertfordshire/D/Horses-for-Loan',
 'Dumfries-&-Galloway/D/horses-for-sale.php',
 'Preston-Lancashire/J/horses-for-sale.php',
 'Liverpool/J/horses-for-sale.php',
 'Tyne-Wear/D/horses-for-sale.php',
 'Shetland-pony/Palomino/BE/horses-for-sale.php',
 'Cardiff/J/horses-for-sale.php',
 'Bedfordshire/D/horses-for-sale.php',
 'Trakehner/B/horses-for-sale.php',
 'Northamptonshire/D/Horses-for-Loan',
 'Fleabitten-Grey/E/horses-for-sale.php',
 '3-stalls/C/horseboxes-and-trailers.php',
 'Cambridgeshire/D/Horses-for-Loan',
 'view-trader/graham-sugden/120185',
 'West-Midlands/D/Horses-for-Loan',
 'Fife/D/horses-for-sale.php',
 'Welsh-Sec-D/Palomino/BE/horses-for-sale.php',
 'Inverness/J/horses-for-sale.php',
 'Wales/A/horseboxes-and-trailers.php',
 'Milton-Keynes/J/horses-for-sale.php',
 'Cob/Piebald/BE/horses-for-sale.php',
 'Hackney/B/horses-for-sale.php',
 'Kings-Lynn/J/horses-for-sale.php',
 'Swindon-Wiltshire/J/horses-for-sale.php',
 'Shetland-pony/B/Horses-for-Loan',
 'Endurance/A/horses-for-sale.php',
 'Harrogate/J/horses-for-sale.php',
 'Wigan/J/horses-for-sale.php',
 'Hull/J/horses-for-sale.php',
 'Telford/J/horses-for-sale.php',
 'Isle-of-Wight/D/horses-for-sale.php',
 'Cob/Coloured/BE/horses-for-sale.php',
 'Wiltshire/D/Horses-for-Loan',
 'Leicestershire/D/Horses-for-Loan',
 'Greater-Manchester/D/Horses-for-Loan',
 'community/equestrian-advice-guides/all-disciplines/the-rider-s-aids-explained-how-we-communicate-with-our-horse',
 'Lincolnshire/D/Horses-for-Loan',
 'Companion-horse/A/horses-for-sale.php',
 'Young-Stock/Welsh-Sec-D/AB/horses-for-sale.php',
 'community/equestrian-advice-guides/horse-care/how-to-recognise-when-your-horse-is-approaching-foaling',
 'Darlington/J/horses-for-sale.php',
 'Filly/F/horses-for-sale.php',
 'community/horse-breed-guides/thoroughbred-cross-breed-guide',
 'Buckinghamshire/D/Horses-for-Loan',
 'Leeds-West-Yorkshire/J/horses-for-sale.php',
 'Man/F/horseboxes-and-trailers.php',
 'Sheffield-Cornwall/J/horses-for-sale.php',
 'Newmarket-Suffolk/J/horses-for-sale.php',
 'Carmarthen/J/horses-for-sale.php',
 'Coventry/J/horses-for-sale.php',
 '3-5t-equito-longstall-built-by-bloomfields/Horseboxes-Trailers/700616',
 'Horseboxes/Mercedes-Benz/EF/horseboxes-and-trailers.php',
 'Young-Stock/Irish-Sport-Horse/AB/horses-for-sale.php',
 'Welsh-Sec-D/Black/BE/horses-for-sale.php',
 'ads_new.php',
 'Cheltenham/J/horses-for-sale.php',
 'Connemara/Grey/BE/horses-for-sale.php',
 'bateson/F/horseboxes-and-trailers.php',
 'Lipizzaner/B/horses-for-sale.php',
 'Barnsley-South-Yorkshire/J/horses-for-sale.php',
 'Horsetrailers/Ifor-Williams/EF/horseboxes-and-trailers.php',
 'Irish-X/B/horses-for-sale.php',
 'North-East/A/horseboxes-and-trailers.php',
 'Gelding/15-15-3-hands/FG/horses-for-sale.php',
 'community/equestrian-advice-guides/horse-health/diagnosing-and-treating-horse-mites-mange',
 'Holstein/B/horses-for-sale.php',
 '10-12-years/H/horses-for-sale.php',
 'polo-ponies/I/horses-for-sale.php',
 'Horsham-West-Sussex/J/horses-for-sale.php',
 'Kent/B/horseboxes-and-trailers.php',
 'Scotland/C/horses-for-sale.php?ads_pid_max=',
 'whp/A/horses-for-sale.php',
 'community/equestrian-advice-guides/beginners-advice/horse-rugs-guide-different-types-of-rug-and-when-to-use-them',
 'West-Midlands/C/equestrian-property.php',
 'East-Yorkshire/D/horses-for-sale.php',
 'community/equestrian-advice-guides/horse-health/treating-horse-ear-mites',
 'Chestnut/Gelding/EF/horses-for-sale.php',
 'Blackpool-Lancashire/J/horses-for-sale.php',
 'North-Yorkshire/B/horseboxes-and-trailers.php',
 'backing-competition-livery-and-sales-livery/Horses/620881',
 'Wakefield/J/horses-for-sale.php',
 'Mare/F/horses-for-sale.php',
 'community/buying-selling/selling-advice_2/how-to-place-an-ad-on-horsemart',
 'West-Sussex/C/horse-services.php',
 'Marlborough/F/horseboxes-and-trailers.php',
 'community/news-events/13-of-the-richest-people-in-horse-racing',
 'Horses-for-Loan?ads_hid=',
 'peugeot/F/horseboxes-and-trailers.php',
 'South-East/C/equestrian-property.php',
 'Thoroughbred/Grey/BE/horses-for-sale.php',
 'Salisbury/J/horses-for-sale.php',
 'Warrington-Cheshire/J/Horses-for-Loan',
 'community/equestrian-advice-guides/horse-care/horse-grooming-step-by-step-guide',
 'Sheffield-South-Yorkshire/J/horses-for-sale.php',
 'Warrington-Cheshire/J/horses-for-sale.php',
 'Bradford-West-Yorkshire/J/horses-for-sale.php',
 'New-Forest/14-14-3-hands/BG/horses-for-sale.php',
 'Cob/0-2-years/BH/horses-for-sale.php',
 'Selle-Francais/B/horses-for-sale.php',
 'Chichester/J/horses-for-sale.php',
 'community/equestrian-advice-guides/beginners-advice/teaching-a-beginner-to-ride-a-horse',
 'Connemara/Scotland/BC/horses-for-sale.php',
 'Stockport/J/horses-for-sale.php',
 'Happy-Hackers/all-rounders/AI/horses-for-sale.php',
 'community/buying-selling/selling-advice_2/how-to-sell-your-saddle-online-expert-secrets-',
 'Young-Stock/Filly/AF/horses-for-sale.php',
 'British-Warmblood/B/horses-for-sale.php',
 'Essex/B/horseboxes-and-trailers.php',
 'Rotherham/J/horses-for-sale.php',
 'Burnley/J/horses-for-sale.php',
 'Dun/Gelding/EF/horses-for-sale.php',
 'West-Yorkshire/D/Horses-for-Loan',
 'North-West/C/equestrian-property.php',
 '2-3-years/H/horses-for-sale.php',
 'Rugby/J/horses-for-sale.php',
 'Middlesbrough/J/horses-for-sale.php',
 'Cob/Palomino/BE/horses-for-sale.php',
 'Portsmouth-Hampshire/J/horses-for-sale.php',
 'Scarborough/J/horses-for-sale.php',
 'Shetland-pony/all-rounders/BI/horses-for-sale.php',
 'Bridgend-Mid-Glamorgan/J/horses-for-sale.php',
 'Show-Jumps/A/horse-equipment.php',
 'Welsh-Sec-A/Palomino/BE/horses-for-sale.php',
 'Cob/Skewbald/BE/horses-for-sale.php',
 'Cob/Blue-Roan/BE/horses-for-sale.php',
 'Staffordshire/D/Horses-for-Loan',
 'Oldham/J/horses-for-sale.php',
 'Bristol/D/Horses-for-Loan',
 'community/horse-breed-guides/irish-sport-horse-breed-guide',
 'Blue-White/E/horses-for-sale.php',
 'citroen/F/horseboxes-and-trailers.php',
 'Horseboxes/E/horseboxes-and-trailers.php?tonnage=',
 'Dorset/D/Horses-for-Loan',
 'Maidstone/J/horses-for-sale.php',
 'view-trader/combe-farm-arabians/141650',
 'community/equestrian-advice-guides/general-equestrian-advice/is-diy-livery-really-the-cheapest-option-',
 '12-12-3-hands/G/horses-for-sale.php',
 'community/training-top-tips/showjumping/show-jumping-rules',
 'Brown/E/horses-for-sale.php',
 'Horsetrailers/fautras/EF/horseboxes-and-trailers.php',
 'Fjord/B/horses-for-sale.php',
 'Basingstoke/J/horses-for-sale.php',
 'Perthshire/D/horses-for-sale.php',
 'Ipswich/J/Horses-for-Loan',
 'community/equestrian-advice-guides/tack-equipment/how-to-put-on-sausage-boots',
 'Dales/Gelding/BF/horses-for-sale.php',
 'Newport-Gwent/J/horses-for-sale.php',
 'Cob/Kent/BD/horses-for-sale.php',
 'Palomino/Gelding/EF/horses-for-sale.php',
 'Irish-Sport-Horse/15-15-3-hands/BG/horses-for-sale.php',
 'Leopard-Spot/E/horses-for-sale.php',
 'Shoreham-by-Sea/J/Horses-for-Loan',
 'community/horse-breed-guides/selle-francais-horse-breed-guide',
 'Grey/Gelding/EF/horses-for-sale.php',
 'Chelmsford/J/horses-for-sale.php',
 'Scotland/Ifor-Williams/AF/horseboxes-and-trailers.php',

In [230]:
df[['URL_first_half', 'URL_second_half']] = df['URL'].str.split('?', n=1, expand=True)

In [231]:
df.head()

,URL,Clicks,Impressions,CTR,Position,URL_first_half,URL_second_half
0,horses-for-sale.php,494837,3067584,16.13,13.06,horses-for-sale.php,None
1,,163000,762762,21.37,34.06,,None
2,Horses-for-Loan,105329,850471,12.38,6.34,Horses-for-Loan,None
3,Shetland-pony/B/horses-for-sale.php,78126,493230,15.84,6.56,Shetland-pony/B/horses-for-sale.php,None
4,horseboxes-and-trailers.php,69695,998833,6.98,6.52,horseboxes-and-trailers.php,None

In [232]:
df['URL_second_half'].describe().T

count           30
unique           8
top       ads_hid=
freq             8
Name: URL_second_half, dtype: object

In [233]:
df['URL_second_half'].value_counts()

URL_second_half
ads_hid=             8
tonnage=             7
ads_mk=              7
                     3
ads_pid_max=         2
amp;                 1
ads_hid_max=         1
breed_type=\nBred    1
Name: count, dtype: int64

In [234]:
list(df[df['URL'].str.contains(pat='tonnage=')]['URL'])

['horseboxes-and-trailers.php?tonnage=',
 'Horseboxes/E/horseboxes-and-trailers.php?tonnage=',
 'horseboxes-and-trailers.php?tonnage=',
 'horseboxes-and-trailers.php?tonnage=',
 'Horseboxes/E/horseboxes-and-trailers.php?tonnage=',
 'Horseboxes/E/horseboxes-and-trailers.php?tonnage=',
 'oakley/F/horseboxes-and-trailers.php?tonnage=']

In [235]:
def split_url(url):
    pattern = r'[&?]'
    split_list = [item for sublist in [re.split(pattern, item) for item in url.split('/')] for item in sublist]
    return [item for item in split_list if item]

In [236]:
df['URL_first_half'] = df['URL_first_half'].apply(split_url)

In [237]:
df.head()

,URL,Clicks,Impressions,CTR,Position,URL_first_half,URL_second_half
0,horses-for-sale.php,494837,3067584,16.13,13.06,[horses-for-sale.php],None
1,,163000,762762,21.37,34.06,[],None
2,Horses-for-Loan,105329,850471,12.38,6.34,[Horses-for-Loan],None
3,Shetland-pony/B/horses-for-sale.php,78126,493230,15.84,6.56,"[Shetland-pony, B, horses-for-sale.php]",None
4,horseboxes-and-trailers.php,69695,998833,6.98,6.52,[horseboxes-and-trailers.php],None

In [238]:
df['items'] = df['URL_first_half'].apply(len)

In [239]:
df['items'].value_counts()

items
3    623
4    350
1     26
0      1
Name: count, dtype: int64

In [240]:
df.shape

(1000, 8)

In [241]:
df = df[df['items'] != 0]

In [242]:
df['Impressions'].sum()

39553469

In [243]:
df.isna().sum()

URL                  0
Clicks               0
Impressions          0
CTR                  0
Position             0
URL_first_half       0
URL_second_half    969
items                0
dtype: int64

In [244]:
df_query = df[df['URL_second_half'].notnull() == True]

In [245]:
df_query.shape

(30, 8)

In [246]:
df_query['Clicks'].sum()

51261

In [247]:
df.head()

,URL,Clicks,Impressions,CTR,Position,URL_first_half,URL_second_half,items
0,horses-for-sale.php,494837,3067584,16.13,13.06,[horses-for-sale.php],None,1
2,Horses-for-Loan,105329,850471,12.38,6.34,[Horses-for-Loan],None,1
3,Shetland-pony/B/horses-for-sale.php,78126,493230,15.84,6.56,"[Shetland-pony, B, horses-for-sale.php]",None,3
4,horseboxes-and-trailers.php,69695,998833,6.98,6.52,[horseboxes-and-trailers.php],None,1
5,Scotland/C/horses-for-sale.php,44717,414112,10.80,4.32,"[Scotland, C, horses-for-sale.php]",None,3

In [248]:
df['type'] = df['URL_first_half'].apply(lambda x : x[-1])

In [249]:
df.head()

,URL,Clicks,Impressions,CTR,Position,URL_first_half,URL_second_half,items,type
0,horses-for-sale.php,494837,3067584,16.13,13.06,[horses-for-sale.php],None,1,horses-for-sale.php
2,Horses-for-Loan,105329,850471,12.38,6.34,[Horses-for-Loan],None,1,Horses-for-Loan
3,Shetland-pony/B/horses-for-sale.php,78126,493230,15.84,6.56,"[Shetland-pony, B, horses-for-sale.php]",None,3,horses-for-sale.php
4,horseboxes-and-trailers.php,69695,998833,6.98,6.52,[horseboxes-and-trailers.php],None,1,horseboxes-and-trailers.php
5,Scotland/C/horses-for-sale.php,44717,414112,10.80,4.32,"[Scotland, C, horses-for-sale.php]",None,3,horses-for-sale.php

In [250]:
df.shape

(999, 9)

In [251]:
df['type'].value_counts()

type
horses-for-sale.php                                             677
horseboxes-and-trailers.php                                     104
Horses-for-Loan                                                  83
equestrian-property.php                                           9
horse-services.php                                                7
horse-equipment.php                                               4
Equestrian-Jobs                                                   3
thoroughbred-cross-breed-guide                                    2
the-right-insurance-for-your-yard                                 1
which-nations-import-and-export-the-most-horses-                  1
722579                                                            1
reports-of-strangles-outbreaks-across-the-uk                      1
445866                                                            1
227                                                               1
230869                                                            1
701084                                                            1
724054                                                            1
398943                                                            1
what-to-expect-from-your-newly-backed-horse-or-pony               1
272381                                                            1
warmblood-horse-breed-guide                                       1
537479                                                            1
159432                                                            1
some-helpful-tips-for-gridwork-exercises                          1
buying-a-7-5-tonne-horsebox-the-ultimate-guide                    1
autumnal-grass-growth-all-you-need-to-know                        1
161170                                                            1
here-are-horsemart-s-5-recommended-fly-rugs-for-the-coming-s      1
six-equine-diabetes-symptoms                                      1
henning-horseboxes-guide-to-buying-a-new-or-used-horsebox         1
mountain-and-moorland-horse-breed-guide                           1
the-pros-and-cons-of-grazing-muzzles                              1
stallions-at-stud.php                                             1
560770                                                            1
how-to-measure-your-horse-for-a-rug                               1
522785                                                            1
how-can-i-stop-my-lower-leg-swinging-back-while-jumping-          1
43073                                                             1
701096                                                            1
661915                                                            1
709931                                                            1
how-to-get-started-with-carriage-driving                          1
dealing-with-livery-yard-price-increases                          1
270513                                                            1
648742                                                            1
cambox-helmet-camera-product-review                               1
the-scales-of-training-for-the-horse                              1
buying-a-horsebox-on-finance-how-does-it-work-                    1
safe-storage-of-your-horsebox-or-trailer                          1
want-some-grazing-companions-for-your-horse-options-to-consi      1
how-to-ride-an-arabian-horse                                      1
763996                                                            1
how-to-put-on-tendon-boots                                        1
5-considerations-when-putting-a-horse-on-box-rest                 1
685765                                                            1
why-do-flies-like-horses-and-ponies-so-much-                      1
373104                                                            1
fitness-training-for-a-show-jumper                                1
horse-showing-everything-you-need-to-know-                        1
groundwork-an-introduction-to-long-reining                        1
health-safety-in-equestrian-establishments                        1
diagnosing-and-treating-horse-lice                                1
how-to-recognise-and-treat-kissing-spine                          1
lunging-and-lunge-aids-a-beginners-guide                          1
finding-horses-for-sale-under-1000-pounds                         1
120185                                                            1
thinking-of-going-affiliated-showjumping-what-you-need-to-kn      1
the-3-5-tonne-horsebox-a-buyer-s-guide                            1
showing-tips-for-beginners                                        1
horse-share-everything-you-need-to-know                           1
how-to-become-a-chartered-equine-physiotherapist                  1
how-to-write-a-loan-contract-sample                               1
micklem-bridles-review-are-they-worth-the-money-and-do-they-      1
our-top-destinations-to-take-your-horse-on-a-uk-holiday           1
show-jumping-dress-code                                           1
draw-reins-teaching-tool-or-torture-instrument-                   1
loaning-a-horse-successfully-loanee-do-s-and-don-ts-for-maki      1
how-to-recognise-when-your-horse-is-approaching-foaling           1
the-welsh-pony-breed-guide                                        1
Horses-Wanted                                                     1
what-is-the-average-weight-of-a-horse-                            1
13-hottest-male-equestrians-voted-by-horsemart                    1
new-stallion-chosen-as-the-black-horse-for-lloyds-tsb             1
how-to-write-a-livery-yard-contract-sample                        1
horse-prices-how-much-does-a-horse-cost-                          1
working-with-horses-15-of-the-best-equine-jobs                    1
find-the-perfect-horse-name                                       1
what-horses-can-and-can-t-eat                                     1
which-countries-have-the-most-horses-                             1
the-rider-s-aids-explained-how-we-communicate-with-our-horse      1
700616                                                            1
696140                                                            1
show-jumping-rules                                                1
avoiding-common-mistakes-as-a-new-livery-yard-owner               1
essential-paperwork-for-yard-owners                               1
moving-livery-yards-is-the-grass-always-greener-                  1
how-to-keep-your-grey-horse-clean-top-grooming-hacks-             1
buying-and-owning-a-3-5t-horsebox-safely-                         1
490207                                                            1
my-winter-top-tip-pig-oil                                         1
our-kissing-spine-journey-part-2-rehab-from-the-ground-up         1
the-ultimate-guide-to-selling-a-horse-online-everything-you-      1
selle-francais-horse-breed-guide                                  1
how-to-put-on-sausage-boots                                       1
is-diy-livery-really-the-cheapest-option-                         1
ads_new.php                                                       1
141650                                                            1
irish-sport-horse-breed-guide                                     1
how-to-sell-your-saddle-online-expert-secrets-                    1
teaching-a-beginner-to-ride-a-horse                               1
horse-grooming-step-by-step-guide                                 1
13-of-the-richest-people-in-horse-racing                          1
how-to-place-an-ad-on-horsemart                                   1
620881                                                            1
treating-horse-ear-mites                                          1
horse-rugs-guide-different-types-of-rug-and-when-to-use-them      1
diagnosing-and-treating-horse-mites-mange                         1
201918                                                            1
Name: count, dtype: int64

In [252]:
df[df['type']=='722579']

,URL,Clicks,Impressions,CTR,Position,URL_first_half,URL_second_half,items,type
718,ifor-williams-eventa-m-with-living-2015/Horseb...,301,1189,25.32,7.69,"[ifor-williams-eventa-m-with-living-2015, Hors...",None,3,722579

In [253]:
df.shape

(999, 9)

In [254]:
df_nan = df.loc[~df['type'].isin(['horses-for-sale.php','horseboxes-and-trailers.php','Horses-for-Loan','equestrian-property.php','horse-equipment.php','Equestrian-Jobs','stallions-at-stud.php','Horses-Wanted','4x4s-for-sale'])]

In [255]:
df_nan.shape

(117, 9)

In [256]:
df = df.loc[df['type'].isin(['horses-for-sale.php','horseboxes-and-trailers.php','Horses-for-Loan','equestrian-property.php','horse-equipment.php','Equestrian-Jobs','stallions-at-stud.php','Horses-Wanted','4x4s-for-sale'])]

In [257]:
df.shape

(882, 9)

In [258]:
df.head()

,URL,Clicks,Impressions,CTR,Position,URL_first_half,URL_second_half,items,type
0,horses-for-sale.php,494837,3067584,16.13,13.06,[horses-for-sale.php],None,1,horses-for-sale.php
2,Horses-for-Loan,105329,850471,12.38,6.34,[Horses-for-Loan],None,1,Horses-for-Loan
3,Shetland-pony/B/horses-for-sale.php,78126,493230,15.84,6.56,"[Shetland-pony, B, horses-for-sale.php]",None,3,horses-for-sale.php
4,horseboxes-and-trailers.php,69695,998833,6.98,6.52,[horseboxes-and-trailers.php],None,1,horseboxes-and-trailers.php
5,Scotland/C/horses-for-sale.php,44717,414112,10.80,4.32,"[Scotland, C, horses-for-sale.php]",None,3,horses-for-sale.php

In [259]:
df['type'].value_counts()

type
horses-for-sale.php            677
horseboxes-and-trailers.php    104
Horses-for-Loan                 83
equestrian-property.php          9
horse-equipment.php              4
Equestrian-Jobs                  3
Horses-Wanted                    1
stallions-at-stud.php            1
Name: count, dtype: int64

# Basically, only 3 types are driving traffic
### 4x4 vehicles type is not driving any traffic

In [260]:
df['URL_main'] = df['URL'].apply(split_url)

In [261]:
df['type'].isna().sum()

0

In [262]:
df['items'].value_counts()

items
3    577
4    280
1     25
Name: count, dtype: int64

In [263]:
# df['URL'] = df['URL'].apply(lambda x: x[4:] if len(x) > 3 else [])

In [264]:
df['items'] = df['URL_main'].apply(len)

In [265]:
df['items'].value_counts()

items
3    566
4    291
2     16
1      9
Name: count, dtype: int64

In [266]:
df['items'].describe().T

count    882.000000
mean       3.291383
std        0.551661
min        1.000000
25%        3.000000
50%        3.000000
75%        4.000000
max        4.000000
Name: items, dtype: float64

In [267]:
df.reset_index(drop=True, inplace=True)

In [268]:
df.head()

,URL,Clicks,Impressions,CTR,Position,URL_first_half,URL_second_half,items,type,URL_main
0,horses-for-sale.php,494837,3067584,16.13,13.06,[horses-for-sale.php],None,1,horses-for-sale.php,[horses-for-sale.php]
1,Horses-for-Loan,105329,850471,12.38,6.34,[Horses-for-Loan],None,1,Horses-for-Loan,[Horses-for-Loan]
2,Shetland-pony/B/horses-for-sale.php,78126,493230,15.84,6.56,"[Shetland-pony, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Shetland-pony, B, horses-for-sale.php]"
3,horseboxes-and-trailers.php,69695,998833,6.98,6.52,[horseboxes-and-trailers.php],None,1,horseboxes-and-trailers.php,[horseboxes-and-trailers.php]
4,Scotland/C/horses-for-sale.php,44717,414112,10.80,4.32,"[Scotland, C, horses-for-sale.php]",None,3,horses-for-sale.php,"[Scotland, C, horses-for-sale.php]"

In [269]:
df[df['items']==2]

,URL,Clicks,Impressions,CTR,Position,URL_first_half,URL_second_half,items,type,URL_main
10,horseboxes-and-trailers.php?tonnage=,23651,518047,4.57,3.87,[horseboxes-and-trailers.php],tonnage=,2,horseboxes-and-trailers.php,"[horseboxes-and-trailers.php, tonnage=]"
89,horseboxes-and-trailers.php?tonnage=,3841,239872,1.60,4.15,[horseboxes-and-trailers.php],tonnage=,2,horseboxes-and-trailers.php,"[horseboxes-and-trailers.php, tonnage=]"
172,horseboxes-and-trailers.php?tonnage=,1795,405616,0.44,2.80,[horseboxes-and-trailers.php],tonnage=,2,horseboxes-and-trailers.php,"[horseboxes-and-trailers.php, tonnage=]"
209,horses-for-sale.php?ads_pid_max=,1386,29104,4.76,9.75,[horses-for-sale.php],ads_pid_max=,2,horses-for-sale.php,"[horses-for-sale.php, ads_pid_max=]"
352,Horses-for-Loan?ads_hid=,672,18248,3.68,3.06,[Horses-for-Loan],ads_hid=,2,Horses-for-Loan,"[Horses-for-Loan, ads_hid=]"
459,horseboxes-and-trailers.php?ads_mk=,457,5392,8.48,10.77,[horseboxes-and-trailers.php],ads_mk=,2,horseboxes-and-trailers.php,"[horseboxes-and-trailers.php, ads_mk=]"
467,Horses-for-Loan?ads_hid=,448,6842,6.55,8.32,[Horses-for-Loan],ads_hid=,2,Horses-for-Loan,"[Horses-for-Loan, ads_hid=]"
468,Horses-for-Loan?ads_hid=,447,42375,1.05,1.97,[Horses-for-Loan],ads_hid=,2,Horses-for-Loan,"[Horses-for-Loan, ads_hid=]"
513,horseboxes-and-trailers.php?ads_mk=,396,7791,5.08,11.82,[horseboxes-and-trailers.php],ads_mk=,2,horseboxes-and-trailers.php,"[horseboxes-and-trailers.php, ads_mk=]"
539,horses-for-sale.php?ads_hid=,373,1632,22.86,5.92,[horses-for-sale.php],ads_hid=,2,horses-for-sale.php,"[horses-for-sale.php, ads_hid=]"
545,Horses-for-Loan?ads_hid=,366,3817,9.59,6.12,[Horses-for-Loan],ads_hid=,2,Horses-for-Loan,"[Horses-for-Loan, ads_hid=]"
569,horseboxes-and-trailers.php?ads_mk=,349,5037,6.93,9.01,[horseboxes-and-trailers.php],ads_mk=,2,horseboxes-and-trailers.php,"[horseboxes-and-trailers.php, ads_mk=]"
599,horseboxes-and-trailers.php?ads_mk=,326,5401,6.04,7.01,[horseboxes-and-trailers.php],ads_mk=,2,horseboxes-and-trailers.php,"[horseboxes-and-trailers.php, ads_mk=]"
796,Horses-for-Loan?ads_hid=,232,2542,9.13,9.29,[Horses-for-Loan],ads_hid=,2,Horses-for-Loan,"[Horses-for-Loan, ads_hid=]"
821,Horses-for-Loan?ads_hid=,223,1165,19.14,12.09,[Horses-for-Loan],ads_hid=,2,Horses-for-Loan,"[Horses-for-Loan, ads_hid=]"
834,Horses-for-Loan?ads_hid=,220,3997,5.50,9.66,[Horses-for-Loan],ads_hid=,2,Horses-for-Loan,"[Horses-for-Loan, ads_hid=]"

# Analysis

## All Types

In [270]:
pvt = df.pivot_table(values = 'Clicks' , index='type', aggfunc='sum')

In [271]:
pvt.sort_values(by='Clicks',ascending=False, inplace=True)

In [272]:
pvt.to_clipboard(excel=True, sep=',')

In [273]:
df.head()

,URL,Clicks,Impressions,CTR,Position,URL_first_half,URL_second_half,items,type,URL_main
0,horses-for-sale.php,494837,3067584,16.13,13.06,[horses-for-sale.php],None,1,horses-for-sale.php,[horses-for-sale.php]
1,Horses-for-Loan,105329,850471,12.38,6.34,[Horses-for-Loan],None,1,Horses-for-Loan,[Horses-for-Loan]
2,Shetland-pony/B/horses-for-sale.php,78126,493230,15.84,6.56,"[Shetland-pony, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Shetland-pony, B, horses-for-sale.php]"
3,horseboxes-and-trailers.php,69695,998833,6.98,6.52,[horseboxes-and-trailers.php],None,1,horseboxes-and-trailers.php,[horseboxes-and-trailers.php]
4,Scotland/C/horses-for-sale.php,44717,414112,10.80,4.32,"[Scotland, C, horses-for-sale.php]",None,3,horses-for-sale.php,"[Scotland, C, horses-for-sale.php]"

In [274]:
df_exploded = df.explode('URL_main')

In [275]:
df_exploded.head()

,URL,Clicks,Impressions,CTR,Position,URL_first_half,URL_second_half,items,type,URL_main
0,horses-for-sale.php,494837,3067584,16.13,13.06,[horses-for-sale.php],None,1,horses-for-sale.php,horses-for-sale.php
1,Horses-for-Loan,105329,850471,12.38,6.34,[Horses-for-Loan],None,1,Horses-for-Loan,Horses-for-Loan
2,Shetland-pony/B/horses-for-sale.php,78126,493230,15.84,6.56,"[Shetland-pony, B, horses-for-sale.php]",None,3,horses-for-sale.php,Shetland-pony
2,Shetland-pony/B/horses-for-sale.php,78126,493230,15.84,6.56,"[Shetland-pony, B, horses-for-sale.php]",None,3,horses-for-sale.php,B
2,Shetland-pony/B/horses-for-sale.php,78126,493230,15.84,6.56,"[Shetland-pony, B, horses-for-sale.php]",None,3,horses-for-sale.php,horses-for-sale.php

In [276]:
pivot_table = pd.pivot_table(df_exploded, values='Clicks', index='URL_main', aggfunc='sum')

In [277]:
pivot_table.sort_values(by='Clicks',ascending=False, inplace=True)

In [278]:
pivot_table.head()

                              Clicks
URL_main
horses-for-sale.php          1828755
B                             532725
horseboxes-and-trailers.php   234657
D                             200093
A                             192030

In [279]:
pivot_table.to_clipboard(excel=True, sep=',')

In [280]:
pivot_table = pd.pivot_table(df_exploded, values='Impressions', index='URL_main', aggfunc='sum')

In [281]:
pivot_table.sort_values(by='Impressions',ascending=False, inplace=True)

In [282]:
pivot_table.to_clipboard(excel=True, sep=',')

In [283]:
df['Impressions'].sum()

33256160

In [284]:
def filter_url(row):
    return [url for url in row['URL_main'] if url != row['type']]

In [285]:
df['URL_notype'] = df.apply(filter_url, axis=1)

In [286]:
df

,URL,Clicks,Impressions,CTR,Position,URL_first_half,URL_second_half,items,type,URL_main,URL_notype
0,horses-for-sale.php,494837,3067584,16.13,13.06,[horses-for-sale.php],None,1,horses-for-sale.php,[horses-for-sale.php],[]
1,Horses-for-Loan,105329,850471,12.38,6.34,[Horses-for-Loan],None,1,Horses-for-Loan,[Horses-for-Loan],[]
2,Shetland-pony/B/horses-for-sale.php,78126,493230,15.84,6.56,"[Shetland-pony, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Shetland-pony, B, horses-for-sale.php]","[Shetland-pony, B]"
3,horseboxes-and-trailers.php,69695,998833,6.98,6.52,[horseboxes-and-trailers.php],None,1,horseboxes-and-trailers.php,[horseboxes-and-trailers.php],[]
4,Scotland/C/horses-for-sale.php,44717,414112,10.80,4.32,"[Scotland, C, horses-for-sale.php]",None,3,horses-for-sale.php,"[Scotland, C, horses-for-sale.php]","[Scotland, C]"
5,Cob/B/horses-for-sale.php,44224,421463,10.49,6.28,"[Cob, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Cob, B, horses-for-sale.php]","[Cob, B]"
6,Friesian/B/horses-for-sale.php,32982,228863,14.41,10.36,"[Friesian, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Friesian, B, horses-for-sale.php]","[Friesian, B]"
7,Horsetrailers/E/horseboxes-and-trailers.php,25645,669154,3.83,8.68,"[Horsetrailers, E, horseboxes-and-trailers.php]",None,3,horseboxes-and-trailers.php,"[Horsetrailers, E, horseboxes-and-trailers.php]","[Horsetrailers, E]"
8,Shire/B/horses-for-sale.php,24808,184408,13.45,5.54,"[Shire, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Shire, B, horses-for-sale.php]","[Shire, B]"
9,Welsh-Sec-D/B/horses-for-sale.php,23671,179579,13.18,6.59,"[Welsh-Sec-D, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Welsh-Sec-D, B, horses-for-sale.php]","[Welsh-Sec-D, B]"
10,horseboxes-and-trailers.php?tonnage=,23651,518047,4.57,3.87,[horseboxes-and-trailers.php],tonnage=,2,horseboxes-and-trailers.php,"[horseboxes-and-trailers.php, tonnage=]",[tonnage=]
11,Miniatures/A/horses-for-sale.php,23483,280903,8.36,9.41,"[Miniatures, A, horses-for-sale.php]",None,3,horses-for-sale.php,"[Miniatures, A, horses-for-sale.php]","[Miniatures, A]"
12,Palomino/E/horses-for-sale.php,22753,189207,12.03,8.89,"[Palomino, E, horses-for-sale.php]",None,3,horses-for-sale.php,"[Palomino, E, horses-for-sale.php]","[Palomino, E]"
13,Irish-Draught/B/horses-for-sale.php,22587,131432,17.19,7.01,"[Irish-Draught, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Irish-Draught, B, horses-for-sale.php]","[Irish-Draught, B]"
14,Arabian/B/horses-for-sale.php,22043,556675,3.96,5.23,"[Arabian, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Arabian, B, horses-for-sale.php]","[Arabian, B]"
15,Connemara/B/horses-for-sale.php,20861,156124,13.36,7.74,"[Connemara, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Connemara, B, horses-for-sale.php]","[Connemara, B]"
16,equestrian-property.php,20310,513698,3.95,10.88,[equestrian-property.php],None,1,equestrian-property.php,[equestrian-property.php],[]
17,Clydesdale/B/horses-for-sale.php,18502,81955,22.58,10.35,"[Clydesdale, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Clydesdale, B, horses-for-sale.php]","[Clydesdale, B]"
18,Thoroughbred/B/horses-for-sale.php,17864,182007,9.82,12.51,"[Thoroughbred, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Thoroughbred, B, horses-for-sale.php]","[Thoroughbred, B]"
19,Ex-Racehorses/A/horses-for-sale.php,17066,202729,8.42,10.29,"[Ex-Racehorses, A, horses-for-sale.php]",None,3,horses-for-sale.php,"[Ex-Racehorses, A, horses-for-sale.php]","[Ex-Racehorses, A]"
20,Appaloosa-horse-/B/horses-for-sale.php,16134,341677,4.72,4.60,"[Appaloosa-horse-, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Appaloosa-horse-, B, horses-for-sale.php]","[Appaloosa-horse-, B]"
21,Ifor-Williams/F/horseboxes-and-trailers.php,15364,290832,5.28,11.15,"[Ifor-Williams, F, horseboxes-and-trailers.php]",None,3,horseboxes-and-trailers.php,"[Ifor-Williams, F, horseboxes-and-trailers.php]","[Ifor-Williams, F]"
22,Donkey/B/horses-for-sale.php,15294,138675,11.03,10.30,"[Donkey, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Donkey, B, horses-for-sale.php]","[Donkey, B]"
23,15-15-3-hands/G/horses-for-sale.php,15170,1085872,1.40,1.94,"[15-15-3-hands, G, horses-for-sale.php]",None,3,horses-for-sale.php,"[15-15-3-hands, G, horses-for-sale.php]","[15-15-3-hands, G]"
24,Irish-Sport-Horse/B/horses-for-sale.php,14499,426948,3.40,6.62,"[Irish-Sport-Horse, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Irish-Sport-Horse, B, horses-for-sale.php]","[Irish-Sport-Horse, B]"
25,Young-Stock/A/horses-for-sale.php,13940,125704,11.09,9.99,"[Young-Stock, A, horses-for-sale.php]",None,3,horses-for-sale.php,"[Young-Stock, A, horses-for-sale.php]","[Young-Stock, A]"
26,Lead-Rein-First-Ridden/A/horses-for-sale.php,12541,69696,17.99,6.45,"[Lead-Rein-First-Ridden, A, horses-for-sale.php]",None,3,horses-for-sale.php,"[Lead-Rein-First-Ridden, A, horses-for-sale.php]","[Lead-Rein-First-Ridden, A]"
27,Quarter-Horse/B/horses-for-sale.php,12109,66448,18.22,11.57,"[Quarter-Horse, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Quarter-Horse, B, horses-for-sale.php]","[Quarter-Horse, B]"
28,Andalusian/B/horses-for-sale.php,11717,376352,3.11,3.55,"[Andalusian, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Andalusian, B, horses-for-sale.php]","[Andalusian, B]"
29,Show-Jumpers/A/horses-for-sale.php,11562,138365,8.36,14.42,"[Show-Jumpers, A, horses-for-sale.php]",None,3,horses-for-sale.php,"[Show-Jumpers, A, horses-for-sale.php]","[Show-Jumpers, A]"
30,New-Forest/B/horses-for-sale.php,11241,54739,20.54,11.15,"[New-Forest, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[New-Forest, B, horses-for-sale.php]","[New-Forest, B]"
31,Northern-Ireland/C/horses-for-sale.php,11159,76112,14.66,6.25,"[Northern-Ireland, C, horses-for-sale.php]",None,3,horses-for-sale.php,"[Northern-Ireland, C, horses-for-sale.php]","[Northern-Ireland, C]"
32,Wales/C/horses-for-sale.php,11077,81618,13.57,6.15,"[Wales, C, horses-for-sale.php]",None,3,horses-for-sale.php,"[Wales, C, horses-for-sale.php]","[Wales, C]"
33,Ireland/C/horses-for-sale.php,11040,342700,3.22,7.50,"[Ireland, C, horses-for-sale.php]",None,3,horses-for-sale.php,"[Ireland, C, horses-for-sale.php]","[Ireland, C]"
34,Happy-Hackers/A/horses-for-sale.php,10447,161114,6.48,5.11,"[Happy-Hackers, A, horses-for-sale.php]",None,3,horses-for-sale.php,"[Happy-Hackers, A, horses-for-sale.php]","[Happy-Hackers, A]"
35,Welsh-Sec-A/B/horses-for-sale.php,9729,79696,12.21,7.23,"[Welsh-Sec-A, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Welsh-Sec-A, B, horses-for-sale.php]","[Welsh-Sec-A, B]"
36,Fell/B/horses-for-sale.php,9729,39747,24.48,5.95,"[Fell, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Fell, B, horses-for-sale.php]","[Fell, B]"
37,16-16-3-hands/G/horses-for-sale.php,9658,1048416,0.92,2.05,"[16-16-3-hands, G, horses-for-sale.php]",None,3,horses-for-sale.php,"[16-16-3-hands, G, horses-for-sale.php]","[16-16-3-hands, G]"
38,Black/E/horses-for-sale.php,8984,246705,3.64,7.57,"[Black, E, horses-for-sale.php]",None,3,horses-for-sale.php,"[Black, E, horses-for-sale.php]","[Black, E]"
39,Cornwall/D/horses-for-sale.php,8700,49513,17.57,5.10,"[Cornwall, D, horses-for-sale.php]",None,3,horses-for-sale.php,"[Cornwall, D, horses-for-sale.php]","[Cornwall, D]"
40,Kent/D/horses-for-sale.php,8510,58999,14.42,6.78,"[Kent, D, horses-for-sale.php]",None,3,horses-for-sale.php,"[Kent, D, horses-for-sale.php]","[Kent, D]"
41,All-Rounder/A/horses-for-sale.php,8451,1539664,0.55,2.33,"[All-Rounder, A, horses-for-sale.php]",None,3,horses-for-sale.php,"[All-Rounder, A, horses-for-sale.php]","[All-Rounder, A]"
42,Devon/D/horses-for-sale.php,8419,47873,17.59,6.09,"[Devon, D, horses-for-sale.php]",None,3,horses-for-sale.php,"[Devon, D, horses-for-sale.php]","[Devon, D]"
43,Horseboxes/E/horseboxes-and-trailers.php?tonnage=,8148,145743,5.59,8.93,"[Horseboxes, E, horseboxes-and-trailers.php]",tonnage=,4,horseboxes-and-trailers.php,"[Horseboxes, E, horseboxes-and-trailers.php, t...","[Horseboxes, E, tonnage=]"
44,Falabella/B/horses-for-sale.php,8136,58090,14.01,8.05,"[Falabella, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Falabella, B, horses-for-sale.php]","[Falabella, B]"
45,-17-hands/G/horses-for-sale.php,7855,240970,3.26,3.67,"[-17-hands, G, horses-for-sale.php]",None,3,horses-for-sale.php,"[-17-hands, G, horses-for-sale.php]","[-17-hands, G]"
46,North-East/C/horses-for-sale.php,7835,65409,11.98,6.71,"[North-East, C, horses-for-sale.php]",None,3,horses-for-sale.php,"[North-East, C, horses-for-sale.php]","[North-East, C]"
47,Horsetrailers/equi-trek/EF/horseboxes-and-trai...,7785,103982,7.49,8.06,"[Horsetrailers, equi-trek, EF, horseboxes-and-...",None,4,horseboxes-and-trailers.php,"[Horsetrailers, equi-trek, EF, horseboxes-and-...","[Horsetrailers, equi-trek, EF]"
48,14-14-3-hands/G/horses-for-sale.php,7361,489799,1.50,2.70,"[14-14-3-hands, G, horses-for-sale.php]",None,3,horses-for-sale.php,"[14-14-3-hands, G, horses-for-sale.php]","[14-14-3-hands, G]"
49,Irish-Draught-X/B/horses-for-sale.php,7343,60397,12.16,6.36,"[Irish-Draught-X, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Irish-Draught-X, B, horses-for-sale.php]","[Irish-Draught-X, B]"
50,Companions/A/horses-for-sale.php,6846,49014,13.97,5.76,"[Companions, A, horses-for-sale.php]",None,3,horses-for-sale.php,"[Companions, A, horses-for-sale.php]","[Companions, A]"
51,Family/A/horses-for-sale.php,6796,497908,1.36,3.29,"[Family, A, horses-for-sale.php]",None,3,horses-for-sale.php,"[Family, A, horses-for-sale.php]","[Family, A]"
52,Driving/A/horses-for-sale.php,6745,214844,3.14,4.99,"[Driving, A, horses-for-sale.php]",None,3,horses-for-sale.php,"[Driving, A, horses-for-sale.php]","[Driving, A]"
53,Pony-Club-Ponies/A/horses-for-sale.php,6722,276761,2.43,4.45,"[Pony-Club-Ponies, A, horses-for-sale.php]",None,3,horses-for-sale.php,"[Pony-Club-Ponies, A, horses-for-sale.php]","[Pony-Club-Ponies, A]"
54,Broodmares/A/horses-for-sale.php,6722,51082,13.16,6.79,"[Broodmares, A, horses-for-sale.php]",None,3,horses-for-sale.php,"[Broodmares, A, horses-for-sale.php]","[Broodmares, A]"
55,South-West/C/horses-for-sale.php,6712,44839,14.97,7.69,"[South-West, C, horses-for-sale.php]",None,3,horses-for-sale.php,"[South-West, C, horses-for-sale.php]","[South-West, C]"
56,Dun/E/horses-for-sale.php,6668,43509,15.33,8.10,"[Dun, E, horses-for-sale.php]",None,3,horses-for-sale.php,"[Dun, E, horses-for-sale.php]","[Dun, E]"
57,Scotland/C/Horses-for-Loan,6663,62699,10.63,3.50,"[Scotland, C, Horses-for-Loan]",None,3,Horses-for-Loan,"[Scotland, C, Horses-for-Loan]","[Scotland, C]"
58,Dressage/A/horses-for-sale.php,6609,336640,1.96,4.85,"[Dressage, A, horses-for-sale.php]",None,3,horses-for-sale.php,"[Dressage, A, horses-for-sale.php]","[Dressage, A]"
59,Essex/D/horses-for-sale.php,6349,55519,11.44,7.29,"[Essex, D, horses-for-sale.php]",None,3,horses-for-sale.php,"[Essex, D, horses-for-sale.php]","[Essex, D]"
60,Gypsy-Vanner/B/horses-for-sale.php,6298,56681,11.11,13.50,"[Gypsy-Vanner, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Gypsy-Vanner, B, horses-for-sale.php]","[Gypsy-Vanner, B]"
61,Haflinger/B/horses-for-sale.php,5844,28656,20.39,11.46,"[Haflinger, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Haflinger, B, horses-for-sale.php]","[Haflinger, B]"
62,Norfolk/D/horses-for-sale.php,5791,34204,16.93,6.20,"[Norfolk, D, horses-for-sale.php]",None,3,horses-for-sale.php,"[Norfolk, D, horses-for-sale.php]","[Norfolk, D]"
63,Belgian-Ardennes/B/horses-for-sale.php,5657,29656,19.08,12.21,"[Belgian-Ardennes, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Belgian-Ardennes, B, horses-for-sale.php]","[Belgian-Ardennes, B]"
64,Warmblood/B/horses-for-sale.php,5572,49430,11.27,13.59,"[Warmblood, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Warmblood, B, horses-for-sale.php]","[Warmblood, B]"
65,Hunters/A/horses-for-sale.php,5365,67815,7.91,10.28,"[Hunters, A, horses-for-sale.php]",None,3,horses-for-sale.php,"[Hunters, A, horses-for-sale.php]","[Hunters, A]"
66,Welsh-Sec-C/B/horses-for-sale.php,5323,47359,11.24,5.99,"[Welsh-Sec-C, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Welsh-Sec-C, B, horses-for-sale.php]","[Welsh-Sec-C, B]"
67,Dapple-Grey/E/horses-for-sale.php,5241,90235,5.81,10.93,"[Dapple-Grey, E, horses-for-sale.php]",None,3,horses-for-sale.php,"[Dapple-Grey, E, horses-for-sale.php]","[Dapple-Grey, E]"
68,Stables/A/horse-equipment.php,5203,152767,3.41,22.74,"[Stables, A, horse-equipment.php]",None,3,horse-equipment.php,"[Stables, A, horse-equipment.php]","[Stables, A]"
69,West-Yorkshire/D/horses-for-sale.php,5119,61074,8.38,5.76,"[West-Yorkshire, D, horses-for-sale.php]",None,3,horses-for-sale.php,"[West-Yorkshire, D, horses-for-sale.php]","[West-Yorkshire, D]"
70,highland/B/horses-for-sale.php,4928,24754,19.91,6.41,"[highland, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[highland, B, horses-for-sale.php]","[highland, B]"
71,West-Sussex/D/horses-for-sale.php,4921,46731,10.53,6.65,"[West-Sussex, D, horses-for-sale.php]",None,3,horses-for-sale.php,"[West-Sussex, D, horses-for-sale.php]","[West-Sussex, D]"
72,Miniatures/Shetland-pony/AB/horses-for-sale.php,4832,82701,5.84,8.45,"[Miniatures, Shetland-pony, AB, horses-for-sal...",None,4,horses-for-sale.php,"[Miniatures, Shetland-pony, AB, horses-for-sal...","[Miniatures, Shetland-pony, AB]"
73,North-Yorkshire/D/horses-for-sale.php,4744,41104,11.54,6.98,"[North-Yorkshire, D, horses-for-sale.php]",None,3,horses-for-sale.php,"[North-Yorkshire, D, horses-for-sale.php]","[North-Yorkshire, D]"
74,Dartmoor/B/horses-for-sale.php,4631,28852,16.05,10.30,"[Dartmoor, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Dartmoor, B, horses-for-sale.php]","[Dartmoor, B]"
75,North-West/C/horses-for-sale.php,4572,53045,8.62,7.12,"[North-West, C, horses-for-sale.php]",None,3,horses-for-sale.php,"[North-West, C, horses-for-sale.php]","[North-West, C]"
76,Greater-Manchester/D/horses-for-sale.php,4437,70942,6.25,5.02,"[Greater-Manchester, D, horses-for-sale.php]",None,3,horses-for-sale.php,"[Greater-Manchester, D, horses-for-sale.php]","[Greater-Manchester, D]"
77,Percheron/B/horses-for-sale.php,4422,25105,17.61,13.50,"[Percheron, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Percheron, B, horses-for-sale.php]","[Percheron, B]"
78,Welsh-Sec-B/B/horses-for-sale.php,4378,41122,10.65,7.36,"[Welsh-Sec-B, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Welsh-Sec-B, B, horses-for-sale.php]","[Welsh-Sec-B, B]"
79,Cheshire/D/horses-for-sale.php,4328,31799,13.61,9.99,"[Cheshire, D, horses-for-sale.php]",None,3,horses-for-sale.php,"[Cheshire, D, horses-for-sale.php]","[Cheshire, D]"
80,Horseboxes/E/horseboxes-and-trailers.php,4254,550372,0.77,2.79,"[Horseboxes, E, horseboxes-and-trailers.php]",None,3,horseboxes-and-trailers.php,"[Horseboxes, E, horseboxes-and-trailers.php]","[Horseboxes, E]"
81,full-loan/A/Horses-for-Loan,4224,113287,3.73,2.91,"[full-loan, A, Horses-for-Loan]",None,3,Horses-for-Loan,"[full-loan, A, Horses-for-Loan]","[full-loan, A]"
82,Lincolnshire/D/horses-for-sale.php,4160,63223,6.58,4.81,"[Lincolnshire, D, horses-for-sale.php]",None,3,horses-for-sale.php,"[Lincolnshire, D, horses-for-sale.php]","[Lincolnshire, D]"
83,kwpn/B/horses-for-sale.php,4084,46427,8.80,11.60,"[kwpn, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[kwpn, B, horses-for-sale.php]","[kwpn, B]"
84,South-East/C/Horses-for-Loan,4008,260474,1.54,2.43,"[South-East, C, Horses-for-Loan]",None,3,Horses-for-Loan,"[South-East, C, Horses-for-Loan]","[South-East, C]"
85,Eventers/A/horses-for-sale.php,3956,54034,7.32,8.82,"[Eventers, A, horses-for-sale.php]",None,3,horses-for-sale.php,"[Eventers, A, horses-for-sale.php]","[Eventers, A]"
86,Nottinghamshire/D/horses-for-sale.php,3955,40740,9.71,5.54,"[Nottinghamshire, D, horses-for-sale.php]",None,3,horses-for-sale.php,"[Nottinghamshire, D, horses-for-sale.php]","[Nottinghamshire, D]"
87,2-stalls/C/horseboxes-and-trailers.php,3935,220276,1.79,3.76,"[2-stalls, C, horseboxes-and-trailers.php]",None,3,horseboxes-and-trailers.php,"[2-stalls, C, horseboxes-and-trailers.php]","[2-stalls, C]"
88,South-East/C/horses-for-sale.php,3935,135679,2.90,6.42,"[South-East, C, horses-for-sale.php]",None,3,horses-for-sale.php,"[South-East, C, horses-for-sale.php]","[South-East, C]"
89,horseboxes-and-trailers.php?tonnage=,3841,239872,1.60,4.15,[horseboxes-and-trailers.php],tonnage=,2,horseboxes-and-trailers.php,"[horseboxes-and-trailers.php, tonnage=]",[tonnage=]
90,Somerset/D/horses-for-sale.php,3812,34669,11.00,7.63,"[Somerset, D, horses-for-sale.php]",None,3,horses-for-sale.php,"[Somerset, D, horses-for-sale.php]","[Somerset, D]"
91,South-West/C/Horses-for-Loan,3742,232003,1.61,2.32,"[South-West, C, Horses-for-Loan]",None,3,Horses-for-Loan,"[South-West, C, Horses-for-Loan]","[South-West, C]"
92,Akhal-Teke-horse-/B/horses-for-sale.php,3732,53167,7.02,10.66,"[Akhal-Teke-horse-, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Akhal-Teke-horse-, B, horses-for-sale.php]","[Akhal-Teke-horse-, B]"
93,Hampshire/D/horses-for-sale.php,3672,27551,13.33,9.68,"[Hampshire, D, horses-for-sale.php]",None,3,horses-for-sale.php,"[Hampshire, D, horses-for-sale.php]","[Hampshire, D]"
94,Chestnut/E/horses-for-sale.php,3669,69794,5.26,9.12,"[Chestnut, E, horses-for-sale.php]",None,3,horses-for-sale.php,"[Chestnut, E, horses-for-sale.php]","[Chestnut, E]"
95,West-Sussex/D/Horses-for-Loan,3633,32615,11.14,5.47,"[West-Sussex, D, Horses-for-Loan]",None,3,Horses-for-Loan,"[West-Sussex, D, Horses-for-Loan]","[West-Sussex, D]"
96,East-Sussex/D/horses-for-sale.php,3605,22400,16.09,6.15,"[East-Sussex, D, horses-for-sale.php]",None,3,horses-for-sale.php,"[East-Sussex, D, horses-for-sale.php]","[East-Sussex, D]"
97,Gloucestershire/D/horses-for-sale.php,3541,54454,6.50,4.41,"[Gloucestershire, D, horses-for-sale.php]",None,3,horses-for-sale.php,"[Gloucestershire, D, horses-for-sale.php]","[Gloucestershire, D]"
98,Cob/15-15-3-hands/BG/horses-for-sale.php,3502,43348,8.08,5.43,"[Cob, 15-15-3-hands, BG, horses-for-sale.php]",None,4,horses-for-sale.php,"[Cob, 15-15-3-hands, BG, horses-for-sale.php]","[Cob, 15-15-3-hands, BG]"
99,London/D/horses-for-sale.php,3497,96046,3.64,4.36,"[London, D, horses-for-sale.php]",None,3,horses-for-sale.php,"[London, D, horses-for-sale.php]","[London, D]"
100,Dales/B/horses-for-sale.php,3497,18239,19.17,7.80,"[Dales, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Dales, B, horses-for-sale.php]","[Dales, B]"
101,Lusitano/B/horses-for-sale.php,3481,21497,16.19,11.36,"[Lusitano, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Lusitano, B, horses-for-sale.php]","[Lusitano, B]"
102,Cumbria/D/horses-for-sale.php,3456,16460,21.00,8.79,"[Cumbria, D, horses-for-sale.php]",None,3,horses-for-sale.php,"[Cumbria, D, horses-for-sale.php]","[Cumbria, D]"
103,Durham/D/horses-for-sale.php,3438,24519,14.02,5.72,"[Durham, D, horses-for-sale.php]",None,3,horses-for-sale.php,"[Durham, D, horses-for-sale.php]","[Durham, D]"
104,Grey/E/horses-for-sale.php,3437,36384,9.45,11.61,"[Grey, E, horses-for-sale.php]",None,3,horses-for-sale.php,"[Grey, E, horses-for-sale.php]","[Grey, E]"
105,West-Midlands/C/horses-for-sale.php,3412,87485,3.90,3.15,"[West-Midlands, C, horses-for-sale.php]",None,3,horses-for-sale.php,"[West-Midlands, C, horses-for-sale.php]","[West-Midlands, C]"
106,Leicestershire/D/horses-for-sale.php,3367,61322,5.49,5.10,"[Leicestershire, D, horses-for-sale.php]",None,3,horses-for-sale.php,"[Leicestershire, D, horses-for-sale.php]","[Leicestershire, D]"
107,Suffolk/D/horses-for-sale.php,3357,18055,18.59,5.84,"[Suffolk, D, horses-for-sale.php]",None,3,horses-for-sale.php,"[Suffolk, D, horses-for-sale.php]","[Suffolk, D]"
108,Cleveland-Bay/B/horses-for-sale.php,3311,14635,22.62,9.54,"[Cleveland-Bay, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Cleveland-Bay, B, horses-for-sale.php]","[Cleveland-Bay, B]"

In [287]:
list(df['URL_notype'])

[[],
 [],
 ['Shetland-pony', 'B'],
 [],
 ['Scotland', 'C'],
 ['Cob', 'B'],
 ['Friesian', 'B'],
 ['Horsetrailers', 'E'],
 ['Shire', 'B'],
 ['Welsh-Sec-D', 'B'],
 ['tonnage='],
 ['Miniatures', 'A'],
 ['Palomino', 'E'],
 ['Irish-Draught', 'B'],
 ['Arabian', 'B'],
 ['Connemara', 'B'],
 [],
 ['Clydesdale', 'B'],
 ['Thoroughbred', 'B'],
 ['Ex-Racehorses', 'A'],
 ['Appaloosa-horse-', 'B'],
 ['Ifor-Williams', 'F'],
 ['Donkey', 'B'],
 ['15-15-3-hands', 'G'],
 ['Irish-Sport-Horse', 'B'],
 ['Young-Stock', 'A'],
 ['Lead-Rein-First-Ridden', 'A'],
 ['Quarter-Horse', 'B'],
 ['Andalusian', 'B'],
 ['Show-Jumpers', 'A'],
 ['New-Forest', 'B'],
 ['Northern-Ireland', 'C'],
 ['Wales', 'C'],
 ['Ireland', 'C'],
 ['Happy-Hackers', 'A'],
 ['Welsh-Sec-A', 'B'],
 ['Fell', 'B'],
 ['16-16-3-hands', 'G'],
 ['Black', 'E'],
 ['Cornwall', 'D'],
 ['Kent', 'D'],
 ['All-Rounder', 'A'],
 ['Devon', 'D'],
 ['Horseboxes', 'E', 'tonnage='],
 ['Falabella', 'B'],
 ['-17-hands', 'G'],
 ['North-East', 'C'],
 ['Horsetrailers', 'equi-trek', 'EF'],
 ['14-14-3-hands', 'G'],
 ['Irish-Draught-X', 'B'],
 ['Companions', 'A'],
 ['Family', 'A'],
 ['Driving', 'A'],
 ['Pony-Club-Ponies', 'A'],
 ['Broodmares', 'A'],
 ['South-West', 'C'],
 ['Dun', 'E'],
 ['Scotland', 'C'],
 ['Dressage', 'A'],
 ['Essex', 'D'],
 ['Gypsy-Vanner', 'B'],
 ['Haflinger', 'B'],
 ['Norfolk', 'D'],
 ['Belgian-Ardennes', 'B'],
 ['Warmblood', 'B'],
 ['Hunters', 'A'],
 ['Welsh-Sec-C', 'B'],
 ['Dapple-Grey', 'E'],
 ['Stables', 'A'],
 ['West-Yorkshire', 'D'],
 ['highland', 'B'],
 ['West-Sussex', 'D'],
 ['Miniatures', 'Shetland-pony', 'AB'],
 ['North-Yorkshire', 'D'],
 ['Dartmoor', 'B'],
 ['North-West', 'C'],
 ['Greater-Manchester', 'D'],
 ['Percheron', 'B'],
 ['Welsh-Sec-B', 'B'],
 ['Cheshire', 'D'],
 ['Horseboxes', 'E'],
 ['full-loan', 'A'],
 ['Lincolnshire', 'D'],
 ['kwpn', 'B'],
 ['South-East', 'C'],
 ['Eventers', 'A'],
 ['Nottinghamshire', 'D'],
 ['2-stalls', 'C'],
 ['South-East', 'C'],
 ['tonnage='],
 ['Somerset', 'D'],
 ['South-West', 'C'],
 ['Akhal-Teke-horse-', 'B'],
 ['Hampshire', 'D'],
 ['Chestnut', 'E'],
 ['West-Sussex', 'D'],
 ['East-Sussex', 'D'],
 ['Gloucestershire', 'D'],
 ['Cob', '15-15-3-hands', 'BG'],
 ['London', 'D'],
 ['Dales', 'B'],
 ['Lusitano', 'B'],
 ['Cumbria', 'D'],
 ['Durham', 'D'],
 ['Grey', 'E'],
 ['West-Midlands', 'C'],
 ['Leicestershire', 'D'],
 ['Suffolk', 'D'],
 ['Cleveland-Bay', 'B'],
 ['Glasgow', 'J'],
 ['Scotland', 'A'],
 ['Coloured', 'A'],
 ['Dorset', 'D'],
 ['Worcestershire', 'D'],
 ['Colt', 'F'],
 ['Surrey', 'D'],
 ['North-East', 'C'],
 ['Surrey', 'D'],
 ['Shropshire', 'D'],
 ['equi-trek', 'F'],
 ['Friesian', 'Black', 'BE'],
 ['Lancashire', 'D'],
 ['Cambridgeshire', 'D'],
 ['Horseboxes', 'Renault', 'EF'],
 ['Paint', 'B'],
 ['Buckskin', 'E'],
 ['Stallions', 'A'],
 ['North-West', 'C'],
 ['white', 'E'],
 ['Saddles', 'A'],
 ['Kent', 'D'],
 ['Exmoor', 'B'],
 ['School-Masters', 'A'],
 ['Staffordshire', 'D'],
 ['Cremello', 'E'],
 ['Hanoverian', 'B'],
 ['Welsh-X-breed-guide', 'B'],
 ['Polo-Ponies', 'A'],
 ['Derbyshire', 'D'],
 ['Horseboxes', 'equi-trek', 'EF'],
 ['Northamptonshire', 'D'],
 ['1-stall', 'C'],
 ['6-or-more-stalls', 'C'],
 ['Scania', 'F'],
 ['Pembrokeshire', 'D'],
 ['Bloomfields', 'F'],
 ['Horsetrailers', 'E', 'ads_mk='],
 ['>16-years', 'H'],
 ['Connemara', '15-15-3-hands', 'BG'],
 ['Oxfordshire', 'D'],
 ['spotted', 'E'],
 ['American-Standardbred', 'B'],
 ['13-13-3-hands', 'G'],
 ['Miniatures', 'Falabella', 'AB'],
 ['Suffolk-Punch', 'B'],
 ['Wales', 'C'],
 ['Pony-Club-Ponies', '12-12-3-hands', 'AG'],
 ['Horseboxes', 'daf', 'EF'],
 ['Newcastle-u-Tyne', 'J'],
 ['Thoroughbred', 'Mare', 'BF'],
 ['Hertfordshire', 'D'],
 ['West-Midlands', 'D'],
 ['Cob', '16-16-3-hands', 'BG'],
 [],
 ['Northumberland', 'D'],
 ['Scotland', 'Gelding', 'CF'],
 ['Skewbald', 'E'],
 ['Knabstrupper', 'B'],
 ['Showing', 'A'],
 ['Spanish-Iberian', 'A'],
 ['Eastern', 'C'],
 ['Part-Bred-Arab', 'B'],
 ['tonnage='],
 ['East-Sussex', 'D'],
 ['Cob', 'Scotland', 'BC'],
 ['Young-Stock', 'Cob', 'AB'],
 ['Wiltshire', 'D'],
 ['Cob', '14-14-3-hands', 'BG'],
 ['Aberdeenshire', 'D'],
 ['Connemara', 'Dun', 'BE'],
 ['East-Midlands', 'C'],
 ['Western', 'A'],
 ['Cob', 'hackers', 'BI'],
 ['Black', 'Stallion', 'EF'],
 ['London', 'D'],
 ['Cheshire', 'D'],
 ['Essex', 'D'],
 ['Blue-Roan', 'E'],
 ['Riding-Pony', 'B'],
 ['Cob', 'Black', 'BE'],
 ['tb-x', 'B'],
 ['Southampton', 'J'],
 ['South-Yorkshire', 'D'],
 ['South-West', 'C'],
 ['Bristol', 'D'],
 ['Hampshire', 'D'],
 ['cobs-heavy-horses', 'A'],
 ['Stallion', 'F'],
 ['Horsetrailers', 'cheval-liberte', 'EF'],
 ['Exeter', 'J'],
 ['Bay', 'E'],
 ['Palomino', '15-15-3-hands', 'EG'],
 ['Doncaster', 'J'],
 [],
 ['Peterborough', 'J'],
 ['3-5-years', 'H'],
 ['Morgan', 'B'],
 ['5-stalls', 'C'],
 ['All-Rounder', 'highland', 'AB'],
 ['ads_pid_max='],
 ['York-North-Yorkshire', 'J'],
 ['Ayrshire', 'D'],
 ['Riding-Club-Horses-Ponies', 'A'],
 ['Warwickshire', 'D'],
 ['Belgian-Warmblood', 'B'],
 ['Herefordshire', 'D'],
 ['Norwich', 'J'],
 ['Anglo-Arab-horse-', 'B'],
 ['Northern-Ireland', 'A'],
 ['Carlisle', 'J'],
 ['Piebald', 'E'],
 ['Broodmares', 'Thoroughbred', 'AB'],
 ['Iveco', 'F'],
 ['Devon', 'D'],
 ['Pony-Club-Ponies', '13-13-3-hands', 'AG'],
 ['Young-Stock', '0-2-years', 'AH'],
 ['North-Yorkshire', 'D'],
 ['Cob', 'B'],
 ['Derbyshire', 'D'],
 ['Stoke-on-Trent', 'J'],
 ['West-Midlands', 'C'],
 ['Plymouth', 'J'],
 ['Young-Stock', 'Thoroughbred', 'AB'],
 ['project-horses', 'A'],
 ['Suffolk', 'D'],
 ['4-stalls', 'C'],
 ['Welsh-Sec-D', '15-15-3-hands', 'BG'],
 ['Bateson', 'F'],
 ['London', 'J'],
 ['East-Midlands', 'C'],
 ['Berkshire', 'D'],
 ['foxy', 'F'],
 ['Sunderland-Cumbria', 'J'],
 ['Cob', 'South-West', 'BC'],
 ['Cob', 'up-to-11-3-hands', 'BG'],
 ['Palomino', 'Mare', 'EF'],
 ['Scotland', '15-15-3-hands', 'CG'],
 ['Buckinghamshire', 'D'],
 ['Cob', 'Gelding', 'BF'],
 ['Thames-Valley', 'C'],
 ['Horsetrailers', 'E', 'ads_mk='],
 ['Scotland', 'Horsetrailers', 'AE'],
 ['Horseboxes', 'Vauxhall', 'EF'],
 ['2-stalls', 'Iveco', 'CF'],
 ['Somerset', 'D'],
 ['Eastern', 'C'],
 ['Swansea', 'J'],
 ['up-to-11-3-hands', 'G'],
 ['Edinburgh', 'J'],
 ['3-stalls', 'Ifor-Williams', 'CF'],
 ['Gelding', 'F'],
 ['Colchester', 'J'],
 ['South-West', 'Horseboxes', 'AE'],
 ['Dark-Bay', 'E'],
 ['Huddersfield', 'J'],
 ['Cob', '13-13-3-hands', 'BG'],
 ['Strawberry-Roan', 'E'],
 ['Thoroughbred', 'Black', 'BE'],
 ['Scottish-Borders', 'D'],
 ['Black', 'Gelding', 'EF'],
 ['Pony-Club-Ponies', '14-14-3-hands', 'AG'],
 ['Gloucestershire', 'D'],
 ['Oldenburg', 'B'],
 ['Ipswich', 'J'],
 ['Chesterfield', 'J'],
 ['Lancashire', 'D'],
 ['Horseboxes', 'E', 'tonnage='],
 ['Young-Stock', 'Connemara', 'AB'],
 ['Liver-Chestnut', 'E'],
 ['Hertfordshire', 'D'],
 ['Dumfries-', '-Galloway', 'D'],
 ['Preston-Lancashire', 'J'],
 ['Liverpool', 'J'],
 ['Tyne-Wear', 'D'],
 ['Shetland-pony', 'Palomino', 'BE'],
 ['Cardiff', 'J'],
 ['Bedfordshire', 'D'],
 ['Trakehner', 'B'],
 ['Northamptonshire', 'D'],
 ['Fleabitten-Grey', 'E'],
 ['3-stalls', 'C'],
 ['Cambridgeshire', 'D'],
 ['West-Midlands', 'D'],
 ['Fife', 'D'],
 ['Welsh-Sec-D', 'Palomino', 'BE'],
 ['Inverness', 'J'],
 ['Wales', 'A'],
 ['Milton-Keynes', 'J'],
 ['Cob', 'Piebald', 'BE'],
 ['Hackney', 'B'],
 ['Kings-Lynn', 'J'],
 ['Swindon-Wiltshire', 'J'],
 ['Shetland-pony', 'B'],
 ['Endurance', 'A'],
 ['Harrogate', 'J'],
 ['Wigan', 'J'],
 ['Hull', 'J'],
 ['Telford', 'J'],
 ['Isle-of-Wight', 'D'],
 ['Cob', 'Coloured', 'BE'],
 ['Wiltshire', 'D'],
 ['Leicestershire', 'D'],
 ['Greater-Manchester', 'D'],
 ['Lincolnshire', 'D'],
 ['Companion-horse', 'A'],
 ['Young-Stock', 'Welsh-Sec-D', 'AB'],
 ['Darlington', 'J'],
 ['Filly', 'F'],
 ['Buckinghamshire', 'D'],
 ['Leeds-West-Yorkshire', 'J'],
 ['Man', 'F'],
 ['Sheffield-Cornwall', 'J'],
 ['Newmarket-Suffolk', 'J'],
 ['Carmarthen', 'J'],
 ['Coventry', 'J'],
 ['Horseboxes', 'Mercedes-Benz', 'EF'],
 ['Young-Stock', 'Irish-Sport-Horse', 'AB'],
 ['Welsh-Sec-D', 'Black', 'BE'],
 ['Cheltenham', 'J'],
 ['Connemara', 'Grey', 'BE'],
 ['bateson', 'F'],
 ['Lipizzaner', 'B'],
 ['Barnsley-South-Yorkshire', 'J'],
 ['Horsetrailers', 'Ifor-Williams', 'EF'],
 ['Irish-X', 'B'],
 ['North-East', 'A'],
 ['Gelding', '15-15-3-hands', 'FG'],
 ['Holstein', 'B'],
 ['10-12-years', 'H'],
 ['polo-ponies', 'I'],
 ['Horsham-West-Sussex', 'J'],
 ['Kent', 'B'],
 ['Scotland', 'C', 'ads_pid_max='],
 ['whp', 'A'],
 ['West-Midlands', 'C'],
 ['East-Yorkshire', 'D'],
 ['Chestnut', 'Gelding', 'EF'],
 ['Blackpool-Lancashire', 'J'],
 ['North-Yorkshire', 'B'],
 ['Wakefield', 'J'],
 ['Mare', 'F'],
 ['Marlborough', 'F'],
 ['ads_hid='],
 ['peugeot', 'F'],
 ['South-East', 'C'],
 ['Thoroughbred', 'Grey', 'BE'],
 ['Salisbury', 'J'],
 ['Warrington-Cheshire', 'J'],
 ['Sheffield-South-Yorkshire', 'J'],
 ['Warrington-Cheshire', 'J'],
 ['Bradford-West-Yorkshire', 'J'],
 ['New-Forest', '14-14-3-hands', 'BG'],
 ['Cob', '0-2-years', 'BH'],
 ['Selle-Francais', 'B'],
 ['Chichester', 'J'],
 ['Connemara', 'Scotland', 'BC'],
 ['Stockport', 'J'],
 ['Happy-Hackers', 'all-rounders', 'AI'],
 ['Young-Stock', 'Filly', 'AF'],
 ['British-Warmblood', 'B'],
 ['Essex', 'B'],
 ['Rotherham', 'J'],
 ['Burnley', 'J'],
 ['Dun', 'Gelding', 'EF'],
 ['West-Yorkshire', 'D'],
 ['North-West', 'C'],
 ['2-3-years', 'H'],
 ['Rugby', 'J'],
 ['Middlesbrough', 'J'],
 ['Cob', 'Palomino', 'BE'],
 ['Portsmouth-Hampshire', 'J'],
 ['Scarborough', 'J'],
 ['Shetland-pony', 'all-rounders', 'BI'],
 ['Bridgend-Mid-Glamorgan', 'J'],
 ['Show-Jumps', 'A'],
 ['Welsh-Sec-A', 'Palomino', 'BE'],
 ['Cob', 'Skewbald', 'BE'],
 ['Cob', 'Blue-Roan', 'BE'],
 ['Staffordshire', 'D'],
 ['Oldham', 'J'],
 ['Bristol', 'D'],
 ['Blue-White', 'E'],
 ['citroen', 'F'],
 ['Horseboxes', 'E', 'tonnage='],
 ['Dorset', 'D'],
 ['Maidstone', 'J'],
 ['12-12-3-hands', 'G'],
 ['Brown', 'E'],
 ['Horsetrailers', 'fautras', 'EF'],
 ['Fjord', 'B'],
 ['Basingstoke', 'J'],
 ['Perthshire', 'D'],
 ['Ipswich', 'J'],
 ['Dales', 'Gelding', 'BF'],
 ['Newport-Gwent', 'J'],
 ['Cob', 'Kent', 'BD'],
 ['Palomino', 'Gelding', 'EF'],
 ['Irish-Sport-Horse', '15-15-3-hands', 'BG'],
 ['Leopard-Spot', 'E'],
 ['Shoreham-by-Sea', 'J'],
 ['Grey', 'Gelding', 'EF'],
 ['Chelmsford', 'J'],
 ['Scotland', 'Ifor-Williams', 'AF'],
 ['Yeovil', 'J'],
 ['Newbury-Berkshire', 'J'],
 ['Young-Stock', 'Warmblood', 'AB'],
 ['Sudbury-Suffolk', 'J'],
 ['Devon', 'B'],
 ['Mansfield-Nottinghamshire', 'J'],
 ['Ex-Racehorses', 'Thoroughbred', 'AB'],
 ['Worcestershire', 'D'],
 ['Guildford', 'J'],
 [],
 ['Hunters', 'Irish-Sport-Horse', 'AB'],
 ['14-16-years', 'H'],
 ['Shetland-pony', 'Black', 'BE'],
 ['Mercedes-Benz', 'F'],
 ['Canterbury', 'J'],
 ['Melton-Mowbray', 'J'],
 ['Clydesdale', 'all-rounders', 'BI'],
 ['Bolton-Cumbria', 'J'],
 ['Kidderminster', 'J'],
 ['Wolverhampton', 'J'],
 ['Scotland', '14-14-3-hands', 'CG'],
 ['Grantham', 'J'],
 ['Suffolk-Punch', 'Colt', 'BF'],
 ['Barnstaple', 'J'],
 ['Driving', 'Cob', 'AB'],
 ['Clydesdale', 'Scotland', 'BC'],
 ['Llanybydder', 'J'],
 ['Appaloosa-horse-', 'Mare', 'BF'],
 ['Derby-Derbyshire', 'J'],
 ['Warwickshire', 'D'],
 ['fiat', 'F'],
 ['Lead-Rein-First-Ridden', 'Scotland', 'AC'],
 ['Cob', 'North-West', 'BC'],
 ['Stockton-on-Tees', 'J'],
 ['Irish-Sport-Horse', '16-16-3-hands', 'BG'],
 ['show-jumpers', 'I'],
 ['Shetland-pony', 'Scotland', 'BC'],
 ['Ex-Racehorses', 'South-West', 'AC'],
 ['Chorley-Lancashire', 'J'],
 ['Cornwall', 'B'],
 ['Rochdale', 'J'],
 ['Andalusian', 'Black', 'BE'],
 ['Hartlepool', 'J'],
 ['Hampshire', 'B'],
 ['Weston-Super-Mare', 'J'],
 ['Cob', '12-12-3-hands', 'BG'],
 ['ads_mk='],
 ['Ely-Cambridgeshire', 'J'],
 ['Cob', 'Wales', 'BC'],
 ['Shetland-pony', 'Wales', 'BC'],
 ['Berkshire', 'D'],
 ['All-Rounder', 'South-West', 'AC'],
 ['Thoroughbred', 'Chestnut', 'BE'],
 ['Welsh-Sec-D', 'Chestnut', 'BE'],
 ['ads_hid='],
 ['ads_hid='],
 ['Young-Stock', 'Palomino', 'AE'],
 ['Blackburn-Lancashire', 'J'],
 ['Aberdeen', 'J'],
 ['Chester', 'J'],
 ['Horse-carts', 'E'],
 ['Scotland', '13-13-3-hands', 'CG'],
 ['Irish-Sport-Horse', '-17-hands', 'BG'],
 ['Gypsy-Vanner', 'all-rounders', 'BI'],
 ['West-Sussex', 'B'],
 ['Cob', '>16-years', 'BH'],
 ['Scunthorpe', 'J'],
 ['Powys', 'D'],
 ['Shire', 'Black', 'BE'],
 ['Shetland-pony', 'B'],
 ['Cob', 'Essex', 'BD'],
 ['Irish-Draught', '16-16-3-hands', 'BG'],
 ['Evesham', 'J'],
 ['East-Sussex', 'B'],
 ['Walsall', 'J'],
 ['Thoroughbred', 'Scotland', 'BC'],
 ['Bath', 'J'],
 ['Young-Stock', 'Scotland', 'AC'],
 ['Connemara', 'Ireland', 'BC'],
 ['Show-Jumpers', 'Irish-Sport-Horse', 'AB'],
 ['Nottinghamshire', 'B'],
 ['Dundee', 'J'],
 ['Mustang', 'Other', 'BE'],
 ['Young-Stock', 'Colt', 'AF'],
 ['Roan', 'E'],
 ['Horsetrailers', 'Bateson', 'EF'],
 ['Bournemouth', 'J'],
 ['Horsetrailers', 'bateson', 'EF'],
 ['Happy-Hackers', 'Cob', 'AB'],
 ['Leek', 'J'],
 ['Ashford-Kent', 'J'],
 ['Aberystwyth', 'J'],
 ['Lowestoft', 'J'],
 ['Abergavenny', 'J'],
 ['Cob', 'Northern-Ireland', 'BC'],
 ['Ex-Racehorses', 'Scotland', 'AC'],
 ['Horsham-West-Sussex', 'J'],
 ['Young-Stock', '2-3-years', 'AH'],
 ['Arabian', 'Grey', 'BE'],
 ['Tamworth', 'J'],
 ['ads_mk='],
 ['Cob', 'Chestnut', 'BE'],
 ['Ireland', 'Palomino', 'CE'],
 ['All-Rounder', 'Friesian', 'AB'],
 ['Greater-Manchester', 'B'],
 ['Young-Stock', 'Dales', 'AB'],
 ['Newark-on-Trent', 'J'],
 ['Palomino', '14-14-3-hands', 'EG'],
 ['Cob', 'Norfolk', 'BD'],
 ['Connemara', '14-14-3-hands', 'BG'],
 ['Ireland', 'C'],
 ['Horses-Ponies-for-adoption', 'A'],
 ['Macclesfield', 'J'],
 ['Bay-Roan', 'E'],
 ['Connemara', 'Bay', 'BE'],
 ['Skipton', 'J'],
 ['Morpeth', 'J'],
 ['Irish-Sport-Horse', 'Grey', 'BE'],
 ['Woodbridge-Suffolk', 'J'],
 ['Southampton', 'J'],
 ['Welsh-Sec-D', 'Scotland', 'BC'],
 ['All-Rounder', '14-14-3-hands', 'AG'],
 ['Wrexham', 'J'],
 ['Redditch', 'J'],
 ['Ford', 'F'],
 ['Cob', 'Grey', 'BE'],
 ['ads_hid='],
 ['Shrewsbury', 'J'],
 ['5-7-years', 'H'],
 ['Cob', 'North-East', 'BC'],
 ['15-15-3-hands', '7-10-years', 'GH'],
 ['Lead-Rein-First-Ridden', 'Shetland-pony', 'AB'],
 ['ads_hid='],
 ['Bishop-Auckland', 'J'],
 ['Young-Stock', 'Friesian', 'AB'],
 ['Horley-Surrey', 'J'],
 ['Young-Stock', 'Irish-Draught', 'AB'],
 ['French-Trotter', 'B'],
 [],
 ['All-Rounder', 'Dapple-Grey', 'AE'],
 ['Irish-Sport-Horse', 'Bay', 'BE'],
 ['Fell', 'Black', 'BE'],
 ['Llanelli', 'J'],
 ['All-Rounder', '15-15-3-hands', 'AG'],
 ['2-stalls', 'Horseboxes', 'CE'],
 ['Icelandic-Horse', 'B'],
 ['Bay', 'Gelding', 'EF'],
 ['Brecon', 'J'],
 ['Cob', 'Bay', 'BE'],
 ['Grimsby', 'J'],
 ['Oswestry', 'J'],
 ['Broodmares', 'Mare', 'AF'],
 ['Hunters', '-17-hands', 'AG'],
 ['Dover-Kent', 'J'],
 ['South-West', 'A'],
 ['Cheshire', 'Horseboxes', 'BE'],
 ['ads_mk='],
 ['2-stalls', 'Mercedes-Benz', 'CF'],
 ['Northallerton', 'J'],
 ['Bridgwater', 'J'],
 ['Andalusian', 'Gelding', 'BF'],
 ['Irish-Sport-Horse', 'Black', 'BE'],
 ['Leeds-West-Yorkshire', 'J'],
 ['Merseyside', 'D'],
 ['All-Rounder', 'South-East', 'AC'],
 ['Lancaster', 'J'],
 ['showing-ponies', 'I'],
 ['Cob', 'West-Midlands', 'BC'],
 ['South-Wales', 'D'],
 ['Selby', 'J'],
 ['Wisbech', 'J'],
 ['Lead-Rein-First-Ridden', 'pony-club-ponies', 'AI'],
 ['Newton-Abbot', 'J'],
 ['North-Wales', 'D'],
 ['Young-Stock', 'Highland', 'AB'],
 ['Connemara', 'Dapple-Grey', 'BE'],
 ['All-Rounder', 'North-East', 'AC'],
 ['Connemara', '3-5-years', 'BH'],
 ['daf', 'F'],
 ['Gwynedd', 'D'],
 ['Isle-of-Anglesey', 'D'],
 ['Show-Jumpers', '16-16-3-hands', 'AG'],
 ['North-West', 'Horseboxes', 'AE'],
 ['Solihull', 'J'],
 ['Irish-Sport-Horse', 'Chestnut', 'BE'],
 ['Thoroughbred', '-17-hands', 'BG'],
 ['ads_mk='],
 ['Young-Stock', 'Black', 'AE'],
 ['Oxfordshire', 'D'],
 ['Ireland', '14-14-3-hands', 'CG'],
 ['regent', 'F'],
 ['Shire', 'Bay', 'BE'],
 ['Potential-young-sports-horses', 'A'],
 ['Kendal', 'J'],
 ['Scotland', 'Horseboxes', 'AE'],
 ['Young-Stock', '3-5-years', 'AH'],
 ['Lancashire', 'B'],
 ['Richardson', 'F'],
 ['Cob', 'showing-horses', 'BI'],
 ['Grey', 'Windsor', 'EJ'],
 ['Horsetrailers', 'boeckmann', 'EF'],
 ['Banbury', 'J'],
 ['Connemara', 'Gelding', 'BF'],
 ['Crewe', 'J'],
 ['Winchester', 'J'],
 ['Great-Yarmouth', 'J'],
 ['Soham', 'J'],
 ['High-Wycombe', 'J'],
 ['Malton', 'J'],
 ['Nottinghamshire', 'D'],
 ['Reading', 'J'],
 ['All-Rounder', 'Essex', 'AD'],
 ['Okehampton', 'J'],
 ['Ex-Racehorses', 'Mare', 'AF'],
 ['Northern-Ireland', 'Gelding', 'CF'],
 ['Hemel-Hempstead', 'J'],
 ['part-loan-share', 'A'],
 ['Norfolk', 'B'],
 ['Tunbridge-Wells', 'J'],
 ['Cob', 'South-East', 'BC'],
 ['Tobiano', 'E'],
 ['Thirsk', 'J'],
 ['Buxton-Derbyshire', 'J'],
 ['All-Rounder', 'Devon', 'AD'],
 ['East-Lothian', 'D'],
 ['All-Rounder', 'Highland', 'AB'],
 ['Weymouth', 'J'],
 ['Hampshire', 'D'],
 ['Ireland', 'Black', 'CE'],
 ['Bolton-Greater-Manchester', 'J'],
 ['Welsh-Sec-B', 'Palomino', 'BE'],
 ['Bristol', 'J'],
 ['Stourbridge', 'J'],
 ['Young-Stock', 'Wales', 'AC'],
 ['Spalding', 'J'],
 ['Consett', 'J'],
 ['Suffolk-Punch', 'B', 'amp;'],
 ['Horsetrailers', 'rice', 'EF'],
 ['Suffolk', 'B'],
 ['Dales', 'Black', 'BE'],
 ['oakley', 'F', 'tonnage='],
 ['Sevenoaks', 'J'],
 ['Thoroughbred', 'Bay', 'BE'],
 ['Horsebox-parts-and-accessories', 'E'],
 ['volvo', 'F'],
 ['Thoroughbred', '2-3-years', 'BH'],
 ['Nuneaton', 'J'],
 ['Cob', 'Devon', 'BD'],
 ['All-Rounder', 'Haflinger', 'AB'],
 ['Tiverton-Devon', 'J'],
 ['riding-club-horses', 'I'],
 ['Belgian-Ardennes', 'Mare', 'BF'],
 ['14-14-3-hands', 'show-jumpers', 'GI'],
 ['Warmblood', 'Black', 'BE'],
 ['Irish-Sport-Horse', 'B'],
 ['Beverley', 'J'],
 ['Cob', 'Dapple-Grey', 'BE'],
 ['Irish-Draught', 'Grey', 'BE'],
 ['Kent', 'Horsetrailers', 'BE'],
 ['Dorset', 'B'],
 ['Stroud', 'J'],
 ['Bristol', 'J'],
 ['Winsford-Cheshire', 'J'],
 ['Part-Bred', 'A'],
 ['Young-Stock', 'Welsh-Sec-A', 'AB'],
 ['Show-Jumpers', '15-15-3-hands', 'AG'],
 ['Palomino', '16-16-3-hands', 'EG'],
 ['Horseboxes', 'Scania', 'EF'],
 ['Fareham', 'J'],
 ['Launceston', 'J'],
 ['Mustang', 'B', 'ads_hid_max='],
 ['Devon', '14-14-3-hands', 'DG'],
 ['Cambridge', 'J'],
 ['Holsworthy', 'J'],
 ['Horsetrailers', 'wessex', 'EF'],
 ['Bedfordshire', 'D'],
 ['Truro', 'J'],
 ['Glasgow', 'D'],
 ['Thoroughbred', 'B'],
 ['All-Rounder', 'Cob', 'AB'],
 ['All-Rounder', 'Cornwall', 'AD'],
 ['Frome', 'J'],
 ['Aylesbury', 'J'],
 ['Shetland-pony', 'up-to-11-3-hands', 'BG'],
 ['Wellington-Somerset', 'J'],
 ['Young-Stock', 'Percheron', 'AB'],
 ['Shetland-pony', 'North-East', 'BC'],
 ['Lincolnshire', 'B'],
 ['Lincoln', 'J'],
 ['Kerry', 'D'],
 ['Pinto', 'E'],
 ['Sittingbourne', 'J'],
 ['Scotland', 'riding-club-horses', 'CI'],
 ['Warmblood', '-17-hands', 'BG'],
 ['Pontypool', 'J'],
 ['Ormskirk', 'J'],
 ['Eastern', 'A'],
 ['Gainsborough', 'J'],
 ['Shetland-pony', 'Cornwall', 'BD'],
 ['Farnham-Surrey', 'J'],
 ['Blackwood-Gwent', 'J'],
 ['Worthing-West-Sussex', 'J'],
 ['Horseboxes', 'Volkswagen', 'EF'],
 ['Thoroughbred', 'Gelding', 'BF'],
 ['Somerset', 'B'],
 ['Mold', 'J'],
 ['Penrith', 'J'],
 ['Irish-Draught', '-17-hands', 'BG'],
 ['Connemara', 'B'],
 ['North-East', 'C'],
 ['Cirencester', 'J'],
 ['Show-Jumpers', '3-5-years', 'AH'],
 ['Kettering', 'J'],
 ['Hexham', 'J'],
 ['Kent', '3-5-years', 'DH'],
 ['Cob', '2-3-years', 'BH'],
 ['Wareham', 'J'],
 ['Cannock', 'J'],
 ['Welsh-Sec-C', 'Palomino', 'BE'],
 ['New-Forest', 'B'],
 ['All-Rounder', 'Scotland', 'AC'],
 ['Gateshead', 'J'],
 ['Chippenham-Wiltshire', 'J'],
 ['Falkirk', 'J'],
 ['Appaloosa-horse-', 'Leopard-Spot', 'BE'],
 ['Irish-Draught', 'Chestnut', 'BE'],
 ['Burnley', 'J'],
 ['Thoroughbred', 'Filly', 'BF'],
 ['Cob', 'Blue-White', 'BE'],
 ['Whitby-North-Yorkshire', 'J'],
 ['Pembrokeshire', 'D'],
 ['Manchester', 'J'],
 ['Cob', 'West-Yorkshire', 'BD'],
 ['Irish-Sport-Horse', 'Scotland', 'BC'],
 ['Cob', 'hunters', 'BI'],
 ['Irish-Sport-Horse', 'Dapple-Grey', 'BE'],
 ['Thoroughbred', '3-5-years', 'BH'],
 ['Rugby', 'J'],
 ['Show-Jumpers', 'Scotland', 'AC'],
 ['Basingstoke', 'J'],
 ['0-2-years', 'H'],
 ['Cob', 'Colt', 'BF'],
 ['Kilmarnock', 'J'],
 ['Loughborough', 'J'],
 ['Towcester', 'J'],
 ['Dorking', 'J'],
 ['Happy-Hackers', '14-14-3-hands', 'AG'],
 ['Market-Drayton', 'J'],
 ['Peterborough', 'J'],
 ['Happy-Hackers', 'Scotland', 'AC'],
 ['Happy-Hackers', 'Gelding', 'AF'],
 ['hunters', 'I'],

In [288]:
def filter_items(items):
    filtered_items = [item for item in items if not item.isupper()]
    filter_code = [item for item in items if item.isupper()]
    return filtered_items, filter_code

In [289]:
df[['URL_notype_filtered', 'filter_code']] = df['URL_notype'].apply(filter_items).apply(pd.Series)

In [290]:
df.head(200)

,URL,Clicks,Impressions,CTR,Position,URL_first_half,URL_second_half,items,type,URL_main,URL_notype,URL_notype_filtered,filter_code
0,horses-for-sale.php,494837,3067584,16.13,13.06,[horses-for-sale.php],None,1,horses-for-sale.php,[horses-for-sale.php],[],[],[]
1,Horses-for-Loan,105329,850471,12.38,6.34,[Horses-for-Loan],None,1,Horses-for-Loan,[Horses-for-Loan],[],[],[]
2,Shetland-pony/B/horses-for-sale.php,78126,493230,15.84,6.56,"[Shetland-pony, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Shetland-pony, B, horses-for-sale.php]","[Shetland-pony, B]",[Shetland-pony],[B]
3,horseboxes-and-trailers.php,69695,998833,6.98,6.52,[horseboxes-and-trailers.php],None,1,horseboxes-and-trailers.php,[horseboxes-and-trailers.php],[],[],[]
4,Scotland/C/horses-for-sale.php,44717,414112,10.80,4.32,"[Scotland, C, horses-for-sale.php]",None,3,horses-for-sale.php,"[Scotland, C, horses-for-sale.php]","[Scotland, C]",[Scotland],[C]
5,Cob/B/horses-for-sale.php,44224,421463,10.49,6.28,"[Cob, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Cob, B, horses-for-sale.php]","[Cob, B]",[Cob],[B]
6,Friesian/B/horses-for-sale.php,32982,228863,14.41,10.36,"[Friesian, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Friesian, B, horses-for-sale.php]","[Friesian, B]",[Friesian],[B]
7,Horsetrailers/E/horseboxes-and-trailers.php,25645,669154,3.83,8.68,"[Horsetrailers, E, horseboxes-and-trailers.php]",None,3,horseboxes-and-trailers.php,"[Horsetrailers, E, horseboxes-and-trailers.php]","[Horsetrailers, E]",[Horsetrailers],[E]
8,Shire/B/horses-for-sale.php,24808,184408,13.45,5.54,"[Shire, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Shire, B, horses-for-sale.php]","[Shire, B]",[Shire],[B]
9,Welsh-Sec-D/B/horses-for-sale.php,23671,179579,13.18,6.59,"[Welsh-Sec-D, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Welsh-Sec-D, B, horses-for-sale.php]","[Welsh-Sec-D, B]",[Welsh-Sec-D],[B]
10,horseboxes-and-trailers.php?tonnage=,23651,518047,4.57,3.87,[horseboxes-and-trailers.php],tonnage=,2,horseboxes-and-trailers.php,"[horseboxes-and-trailers.php, tonnage=]",[tonnage=],[tonnage=],[]
11,Miniatures/A/horses-for-sale.php,23483,280903,8.36,9.41,"[Miniatures, A, horses-for-sale.php]",None,3,horses-for-sale.php,"[Miniatures, A, horses-for-sale.php]","[Miniatures, A]",[Miniatures],[A]
12,Palomino/E/horses-for-sale.php,22753,189207,12.03,8.89,"[Palomino, E, horses-for-sale.php]",None,3,horses-for-sale.php,"[Palomino, E, horses-for-sale.php]","[Palomino, E]",[Palomino],[E]
13,Irish-Draught/B/horses-for-sale.php,22587,131432,17.19,7.01,"[Irish-Draught, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Irish-Draught, B, horses-for-sale.php]","[Irish-Draught, B]",[Irish-Draught],[B]
14,Arabian/B/horses-for-sale.php,22043,556675,3.96,5.23,"[Arabian, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Arabian, B, horses-for-sale.php]","[Arabian, B]",[Arabian],[B]
15,Connemara/B/horses-for-sale.php,20861,156124,13.36,7.74,"[Connemara, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Connemara, B, horses-for-sale.php]","[Connemara, B]",[Connemara],[B]
16,equestrian-property.php,20310,513698,3.95,10.88,[equestrian-property.php],None,1,equestrian-property.php,[equestrian-property.php],[],[],[]
17,Clydesdale/B/horses-for-sale.php,18502,81955,22.58,10.35,"[Clydesdale, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Clydesdale, B, horses-for-sale.php]","[Clydesdale, B]",[Clydesdale],[B]
18,Thoroughbred/B/horses-for-sale.php,17864,182007,9.82,12.51,"[Thoroughbred, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Thoroughbred, B, horses-for-sale.php]","[Thoroughbred, B]",[Thoroughbred],[B]
19,Ex-Racehorses/A/horses-for-sale.php,17066,202729,8.42,10.29,"[Ex-Racehorses, A, horses-for-sale.php]",None,3,horses-for-sale.php,"[Ex-Racehorses, A, horses-for-sale.php]","[Ex-Racehorses, A]",[Ex-Racehorses],[A]
20,Appaloosa-horse-/B/horses-for-sale.php,16134,341677,4.72,4.60,"[Appaloosa-horse-, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Appaloosa-horse-, B, horses-for-sale.php]","[Appaloosa-horse-, B]",[Appaloosa-horse-],[B]
21,Ifor-Williams/F/horseboxes-and-trailers.php,15364,290832,5.28,11.15,"[Ifor-Williams, F, horseboxes-and-trailers.php]",None,3,horseboxes-and-trailers.php,"[Ifor-Williams, F, horseboxes-and-trailers.php]","[Ifor-Williams, F]",[Ifor-Williams],[F]
22,Donkey/B/horses-for-sale.php,15294,138675,11.03,10.30,"[Donkey, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Donkey, B, horses-for-sale.php]","[Donkey, B]",[Donkey],[B]
23,15-15-3-hands/G/horses-for-sale.php,15170,1085872,1.40,1.94,"[15-15-3-hands, G, horses-for-sale.php]",None,3,horses-for-sale.php,"[15-15-3-hands, G, horses-for-sale.php]","[15-15-3-hands, G]",[15-15-3-hands],[G]
24,Irish-Sport-Horse/B/horses-for-sale.php,14499,426948,3.40,6.62,"[Irish-Sport-Horse, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Irish-Sport-Horse, B, horses-for-sale.php]","[Irish-Sport-Horse, B]",[Irish-Sport-Horse],[B]
25,Young-Stock/A/horses-for-sale.php,13940,125704,11.09,9.99,"[Young-Stock, A, horses-for-sale.php]",None,3,horses-for-sale.php,"[Young-Stock, A, horses-for-sale.php]","[Young-Stock, A]",[Young-Stock],[A]
26,Lead-Rein-First-Ridden/A/horses-for-sale.php,12541,69696,17.99,6.45,"[Lead-Rein-First-Ridden, A, horses-for-sale.php]",None,3,horses-for-sale.php,"[Lead-Rein-First-Ridden, A, horses-for-sale.php]","[Lead-Rein-First-Ridden, A]",[Lead-Rein-First-Ridden],[A]
27,Quarter-Horse/B/horses-for-sale.php,12109,66448,18.22,11.57,"[Quarter-Horse, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Quarter-Horse, B, horses-for-sale.php]","[Quarter-Horse, B]",[Quarter-Horse],[B]
28,Andalusian/B/horses-for-sale.php,11717,376352,3.11,3.55,"[Andalusian, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Andalusian, B, horses-for-sale.php]","[Andalusian, B]",[Andalusian],[B]
29,Show-Jumpers/A/horses-for-sale.php,11562,138365,8.36,14.42,"[Show-Jumpers, A, horses-for-sale.php]",None,3,horses-for-sale.php,"[Show-Jumpers, A, horses-for-sale.php]","[Show-Jumpers, A]",[Show-Jumpers],[A]
30,New-Forest/B/horses-for-sale.php,11241,54739,20.54,11.15,"[New-Forest, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[New-Forest, B, horses-for-sale.php]","[New-Forest, B]",[New-Forest],[B]
31,Northern-Ireland/C/horses-for-sale.php,11159,76112,14.66,6.25,"[Northern-Ireland, C, horses-for-sale.php]",None,3,horses-for-sale.php,"[Northern-Ireland, C, horses-for-sale.php]","[Northern-Ireland, C]",[Northern-Ireland],[C]
32,Wales/C/horses-for-sale.php,11077,81618,13.57,6.15,"[Wales, C, horses-for-sale.php]",None,3,horses-for-sale.php,"[Wales, C, horses-for-sale.php]","[Wales, C]",[Wales],[C]
33,Ireland/C/horses-for-sale.php,11040,342700,3.22,7.50,"[Ireland, C, horses-for-sale.php]",None,3,horses-for-sale.php,"[Ireland, C, horses-for-sale.php]","[Ireland, C]",[Ireland],[C]
34,Happy-Hackers/A/horses-for-sale.php,10447,161114,6.48,5.11,"[Happy-Hackers, A, horses-for-sale.php]",None,3,horses-for-sale.php,"[Happy-Hackers, A, horses-for-sale.php]","[Happy-Hackers, A]",[Happy-Hackers],[A]
35,Welsh-Sec-A/B/horses-for-sale.php,9729,79696,12.21,7.23,"[Welsh-Sec-A, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Welsh-Sec-A, B, horses-for-sale.php]","[Welsh-Sec-A, B]",[Welsh-Sec-A],[B]
36,Fell/B/horses-for-sale.php,9729,39747,24.48,5.95,"[Fell, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Fell, B, horses-for-sale.php]","[Fell, B]",[Fell],[B]
37,16-16-3-hands/G/horses-for-sale.php,9658,1048416,0.92,2.05,"[16-16-3-hands, G, horses-for-sale.php]",None,3,horses-for-sale.php,"[16-16-3-hands, G, horses-for-sale.php]","[16-16-3-hands, G]",[16-16-3-hands],[G]
38,Black/E/horses-for-sale.php,8984,246705,3.64,7.57,"[Black, E, horses-for-sale.php]",None,3,horses-for-sale.php,"[Black, E, horses-for-sale.php]","[Black, E]",[Black],[E]
39,Cornwall/D/horses-for-sale.php,8700,49513,17.57,5.10,"[Cornwall, D, horses-for-sale.php]",None,3,horses-for-sale.php,"[Cornwall, D, horses-for-sale.php]","[Cornwall, D]",[Cornwall],[D]
40,Kent/D/horses-for-sale.php,8510,58999,14.42,6.78,"[Kent, D, horses-for-sale.php]",None,3,horses-for-sale.php,"[Kent, D, horses-for-sale.php]","[Kent, D]",[Kent],[D]
41,All-Rounder/A/horses-for-sale.php,8451,1539664,0.55,2.33,"[All-Rounder, A, horses-for-sale.php]",None,3,horses-for-sale.php,"[All-Rounder, A, horses-for-sale.php]","[All-Rounder, A]",[All-Rounder],[A]
42,Devon/D/horses-for-sale.php,8419,47873,17.59,6.09,"[Devon, D, horses-for-sale.php]",None,3,horses-for-sale.php,"[Devon, D, horses-for-sale.php]","[Devon, D]",[Devon],[D]
43,Horseboxes/E/horseboxes-and-trailers.php?tonnage=,8148,145743,5.59,8.93,"[Horseboxes, E, horseboxes-and-trailers.php]",tonnage=,4,horseboxes-and-trailers.php,"[Horseboxes, E, horseboxes-and-trailers.php, t...","[Horseboxes, E, tonnage=]","[Horseboxes, tonnage=]",[E]
44,Falabella/B/horses-for-sale.php,8136,58090,14.01,8.05,"[Falabella, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Falabella, B, horses-for-sale.php]","[Falabella, B]",[Falabella],[B]
45,-17-hands/G/horses-for-sale.php,7855,240970,3.26,3.67,"[-17-hands, G, horses-for-sale.php]",None,3,horses-for-sale.php,"[-17-hands, G, horses-for-sale.php]","[-17-hands, G]",[-17-hands],[G]
46,North-East/C/horses-for-sale.php,7835,65409,11.98,6.71,"[North-East, C, horses-for-sale.php]",None,3,horses-for-sale.php,"[North-East, C, horses-for-sale.php]","[North-East, C]",[North-East],[C]
47,Horsetrailers/equi-trek/EF/horseboxes-and-trai...,7785,103982,7.49,8.06,"[Horsetrailers, equi-trek, EF, horseboxes-and-...",None,4,horseboxes-and-trailers.php,"[Horsetrailers, equi-trek, EF, horseboxes-and-...","[Horsetrailers, equi-trek, EF]","[Horsetrailers, equi-trek]",[EF]
48,14-14-3-hands/G/horses-for-sale.php,7361,489799,1.50,2.70,"[14-14-3-hands, G, horses-for-sale.php]",None,3,horses-for-sale.php,"[14-14-3-hands, G, horses-for-sale.php]","[14-14-3-hands, G]",[14-14-3-hands],[G]
49,Irish-Draught-X/B/horses-for-sale.php,7343,60397,12.16,6.36,"[Irish-Draught-X, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Irish-Draught-X, B, horses-for-sale.php]","[Irish-Draught-X, B]",[Irish-Draught-X],[B]
50,Companions/A/horses-for-sale.php,6846,49014,13.97,5.76,"[Companions, A, horses-for-sale.php]",None,3,horses-for-sale.php,"[Companions, A, horses-for-sale.php]","[Companions, A]",[Companions],[A]
51,Family/A/horses-for-sale.php,6796,497908,1.36,3.29,"[Family, A, horses-for-sale.php]",None,3,horses-for-sale.php,"[Family, A, horses-for-sale.php]","[Family, A]",[Family],[A]
52,Driving/A/horses-for-sale.php,6745,214844,3.14,4.99,"[Driving, A, horses-for-sale.php]",None,3,horses-for-sale.php,"[Driving, A, horses-for-sale.php]","[Driving, A]",[Driving],[A]
53,Pony-Club-Ponies/A/horses-for-sale.php,6722,276761,2.43,4.45,"[Pony-Club-Ponies, A, horses-for-sale.php]",None,3,horses-for-sale.php,"[Pony-Club-Ponies, A, horses-for-sale.php]","[Pony-Club-Ponies, A]",[Pony-Club-Ponies],[A]
54,Broodmares/A/horses-for-sale.php,6722,51082,13.16,6.79,"[Broodmares, A, horses-for-sale.php]",None,3,horses-for-sale.php,"[Broodmares, A, horses-for-sale.php]","[Broodmares, A]",[Broodmares],[A]
55,South-West/C/horses-for-sale.php,6712,44839,14.97,7.69,"[South-West, C, horses-for-sale.php]",None,3,horses-for-sale.php,"[South-West, C, horses-for-sale.php]","[South-West, C]",[South-West],[C]
56,Dun/E/horses-for-sale.php,6668,43509,15.33,8.10,"[Dun, E, horses-for-sale.php]",None,3,horses-for-sale.php,"[Dun, E, horses-for-sale.php]","[Dun, E]",[Dun],[E]
57,Scotland/C/Horses-for-Loan,6663,62699,10.63,3.50,"[Scotland, C, Horses-for-Loan]",None,3,Horses-for-Loan,"[Scotland, C, Horses-for-Loan]","[Scotland, C]",[Scotland],[C]
58,Dressage/A/horses-for-sale.php,6609,336640,1.96,4.85,"[Dressage, A, horses-for-sale.php]",None,3,horses-for-sale.php,"[Dressage, A, horses-for-sale.php]","[Dressage, A]",[Dressage],[A]
59,Essex/D/horses-for-sale.php,6349,55519,11.44,7.29,"[Essex, D, horses-for-sale.php]",None,3,horses-for-sale.php,"[Essex, D, horses-for-sale.php]","[Essex, D]",[Essex],[D]
60,Gypsy-Vanner/B/horses-for-sale.php,6298,56681,11.11,13.50,"[Gypsy-Vanner, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Gypsy-Vanner, B, horses-for-sale.php]","[Gypsy-Vanner, B]",[Gypsy-Vanner],[B]
61,Haflinger/B/horses-for-sale.php,5844,28656,20.39,11.46,"[Haflinger, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Haflinger, B, horses-for-sale.php]","[Haflinger, B]",[Haflinger],[B]
62,Norfolk/D/horses-for-sale.php,5791,34204,16.93,6.20,"[Norfolk, D, horses-for-sale.php]",None,3,horses-for-sale.php,"[Norfolk, D, horses-for-sale.php]","[Norfolk, D]",[Norfolk],[D]
63,Belgian-Ardennes/B/horses-for-sale.php,5657,29656,19.08,12.21,"[Belgian-Ardennes, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Belgian-Ardennes, B, horses-for-sale.php]","[Belgian-Ardennes, B]",[Belgian-Ardennes],[B]
64,Warmblood/B/horses-for-sale.php,5572,49430,11.27,13.59,"[Warmblood, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Warmblood, B, horses-for-sale.php]","[Warmblood, B]",[Warmblood],[B]
65,Hunters/A/horses-for-sale.php,5365,67815,7.91,10.28,"[Hunters, A, horses-for-sale.php]",None,3,horses-for-sale.php,"[Hunters, A, horses-for-sale.php]","[Hunters, A]",[Hunters],[A]
66,Welsh-Sec-C/B/horses-for-sale.php,5323,47359,11.24,5.99,"[Welsh-Sec-C, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Welsh-Sec-C, B, horses-for-sale.php]","[Welsh-Sec-C, B]",[Welsh-Sec-C],[B]
67,Dapple-Grey/E/horses-for-sale.php,5241,90235,5.81,10.93,"[Dapple-Grey, E, horses-for-sale.php]",None,3,horses-for-sale.php,"[Dapple-Grey, E, horses-for-sale.php]","[Dapple-Grey, E]",[Dapple-Grey],[E]
68,Stables/A/horse-equipment.php,5203,152767,3.41,22.74,"[Stables, A, horse-equipment.php]",None,3,horse-equipment.php,"[Stables, A, horse-equipment.php]","[Stables, A]",[Stables],[A]
69,West-Yorkshire/D/horses-for-sale.php,5119,61074,8.38,5.76,"[West-Yorkshire, D, horses-for-sale.php]",None,3,horses-for-sale.php,"[West-Yorkshire, D, horses-for-sale.php]","[West-Yorkshire, D]",[West-Yorkshire],[D]
70,highland/B/horses-for-sale.php,4928,24754,19.91,6.41,"[highland, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[highland, B, horses-for-sale.php]","[highland, B]",[highland],[B]
71,West-Sussex/D/horses-for-sale.php,4921,46731,10.53,6.65,"[West-Sussex, D, horses-for-sale.php]",None,3,horses-for-sale.php,"[West-Sussex, D, horses-for-sale.php]","[West-Sussex, D]",[West-Sussex],[D]
72,Miniatures/Shetland-pony/AB/horses-for-sale.php,4832,82701,5.84,8.45,"[Miniatures, Shetland-pony, AB, horses-for-sal...",None,4,horses-for-sale.php,"[Miniatures, Shetland-pony, AB, horses-for-sal...","[Miniatures, Shetland-pony, AB]","[Miniatures, Shetland-pony]",[AB]
73,North-Yorkshire/D/horses-for-sale.php,4744,41104,11.54,6.98,"[North-Yorkshire, D, horses-for-sale.php]",None,3,horses-for-sale.php,"[North-Yorkshire, D, horses-for-sale.php]","[North-Yorkshire, D]",[North-Yorkshire],[D]
74,Dartmoor/B/horses-for-sale.php,4631,28852,16.05,10.30,"[Dartmoor, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Dartmoor, B, horses-for-sale.php]","[Dartmoor, B]",[Dartmoor],[B]
75,North-West/C/horses-for-sale.php,4572,53045,8.62,7.12,"[North-West, C, horses-for-sale.php]",None,3,horses-for-sale.php,"[North-West, C, horses-for-sale.php]","[North-West, C]",[North-West],[C]
76,Greater-Manchester/D/horses-for-sale.php,4437,70942,6.25,5.02,"[Greater-Manchester, D, horses-for-sale.php]",None,3,horses-for-sale.php,"[Greater-Manchester, D, horses-for-sale.php]","[Greater-Manchester, D]",[Greater-Manchester],[D]
77,Percheron/B/horses-for-sale.php,4422,25105,17.61,13.50,"[Percheron, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Percheron, B, horses-for-sale.php]","[Percheron, B]",[Percheron],[B]
78,Welsh-Sec-B/B/horses-for-sale.php,4378,41122,10.65,7.36,"[Welsh-Sec-B, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Welsh-Sec-B, B, horses-for-sale.php]","[Welsh-Sec-B, B]",[Welsh-Sec-B],[B]
79,Cheshire/D/horses-for-sale.php,4328,31799,13.61,9.99,"[Cheshire, D, horses-for-sale.php]",None,3,horses-for-sale.php,"[Cheshire, D, horses-for-sale.php]","[Cheshire, D]",[Cheshire],[D]
80,Horseboxes/E/horseboxes-and-trailers.php,4254,550372,0.77,2.79,"[Horseboxes, E, horseboxes-and-trailers.php]",None,3,horseboxes-and-trailers.php,"[Horseboxes, E, horseboxes-and-trailers.php]","[Horseboxes, E]",[Horseboxes],[E]
81,full-loan/A/Horses-for-Loan,4224,113287,3.73,2.91,"[full-loan, A, Horses-for-Loan]",None,3,Horses-for-Loan,"[full-loan, A, Horses-for-Loan]","[full-loan, A]",[full-loan],[A]
82,Lincolnshire/D/horses-for-sale.php,4160,63223,6.58,4.81,"[Lincolnshire, D, horses-for-sale.php]",None,3,horses-for-sale.php,"[Lincolnshire, D, horses-for-sale.php]","[Lincolnshire, D]",[Lincolnshire],[D]
83,kwpn/B/horses-for-sale.php,4084,46427,8.80,11.60,"[kwpn, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[kwpn, B, horses-for-sale.php]","[kwpn, B]",[kwpn],[B]
84,South-East/C/Horses-for-Loan,4008,260474,1.54,2.43,"[South-East, C, Horses-for-Loan]",None,3,Horses-for-Loan,"[South-East, C, Horses-for-Loan]","[South-East, C]",[South-East],[C]
85,Eventers/A/horses-for-sale.php,3956,54034,7.32,8.82,"[Eventers, A, horses-for-sale.php]",None,3,horses-for-sale.php,"[Eventers, A, horses-for-sale.php]","[Eventers, A]",[Eventers],[A]
86,Nottinghamshire/D/horses-for-sale.php,3955,40740,9.71,5.54,"[Nottinghamshire, D, horses-for-sale.php]",None,3,horses-for-sale.php,"[Nottinghamshire, D, horses-for-sale.php]","[Nottinghamshire, D]",[Nottinghamshire],[D]
87,2-stalls/C/horseboxes-and-trailers.php,3935,220276,1.79,3.76,"[2-stalls, C, horseboxes-and-trailers.php]",None,3,horseboxes-and-trailers.php,"[2-stalls, C, horseboxes-and-trailers.php]","[2-stalls, C]",[2-stalls],[C]
88,South-East/C/horses-for-sale.php,3935,135679,2.90,6.42,"[South-East, C, horses-for-sale.php]",None,3,horses-for-sale.php,"[South-East, C, horses-for-sale.php]","[South-East, C]",[South-East],[C]
89,horseboxes-and-trailers.php?tonnage=,3841,239872,1.60,4.15,[horseboxes-and-trailers.php],tonnage=,2,horseboxes-and-trailers.php,"[horseboxes-and-trailers.php, tonnage=]",[tonnage=],[tonnage=],[]
90,Somerset/D/horses-for-sale.php,3812,34669,11.00,7.63,"[Somerset, D, horses-for-sale.php]",None,3,horses-for-sale.php,"[Somerset, D, horses-for-sale.php]","[Somerset, D]",[Somerset],[D]
91,South-West/C/Horses-for-Loan,3742,232003,1.61,2.32,"[South-West, C, Horses-for-Loan]",None,3,Horses-for-Loan,"[South-West, C, Horses-for-Loan]","[South-West, C]",[South-West],[C]
92,Akhal-Teke-horse-/B/horses-for-sale.php,3732,53167,7.02,10.66,"[Akhal-Teke-horse-, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Akhal-Teke-horse-, B, horses-for-sale.php]","[Akhal-Teke-horse-, B]",[Akhal-Teke-horse-],[B]
93,Hampshire/D/horses-for-sale.php,3672,27551,13.33,9.68,"[Hampshire, D, horses-for-sale.php]",None,3,horses-for-sale.php,"[Hampshire, D, horses-for-sale.php]","[Hampshire, D]",[Hampshire],[D]
94,Chestnut/E/horses-for-sale.php,3669,69794,5.26,9.12,"[Chestnut, E, horses-for-sale.php]",None,3,horses-for-sale.php,"[Chestnut, E, horses-for-sale.php]","[Chestnut, E]",[Chestnut],[E]
95,West-Sussex/D/Horses-for-Loan,3633,32615,11.14,5.47,"[West-Sussex, D, Horses-for-Loan]",None,3,Horses-for-Loan,"[West-Sussex, D, Horses-for-Loan]","[West-Sussex, D]",[West-Sussex],[D]
96,East-Sussex/D/horses-for-sale.php,3605,22400,16.09,6.15,"[East-Sussex, D, horses-for-sale.php]",None,3,horses-for-sale.php,"[East-Sussex, D, horses-for-sale.php]","[East-Sussex, D]",[East-Sussex],[D]
97,Gloucestershire/D/horses-for-sale.php,3541,54454,6.50,4.41,"[Gloucestershire, D, horses-for-sale.php]",None,3,horses-for-sale.php,"[Gloucestershire, D, horses-for-sale.php]","[Gloucestershire, D]",[Gloucestershire],[D]
98,Cob/15-15-3-hands/BG/horses-for-sale.php,3502,43348,8.08,5.43,"[Cob, 15-15-3-hands, BG, horses-for-sale.php]",None,4,horses-for-sale.php,"[Cob, 15-15-3-hands, BG, horses-for-sale.php]","[Cob, 15-15-3-hands, BG]","[Cob, 15-15-3-hands]",[BG]

In [291]:
df['filter_code'].value_counts()

filter_code
[J]     223
[D]     102
[B]      88
[BE]     51
[A]      45
[E]      36
[C]      35
[AB]     33
[F]      28
[EF]     26
[]       25
[BG]     21
[BC]     17
[BF]     13
[EG]     13
[AC]     12
[AG]     11
[BD]     10
[BH]      9
[G]       8
[AD]      8
[H]       7
[AE]      7
[BI]      6
[I]       6
[CF]      6
[AF]      6
[CE]      5
[AI]      5
[CG]      5
[AH]      5
[GI]      3
[DG]      2
[FG]      1
[GH]      1
[EJ]      1
[CI]      1
[DH]      1
Name: count, dtype: int64

In [292]:
df['URL_notype_filtered'].value_counts()

URL_notype_filtered
[]                                            9
[ads_hid=]                                    8
[West-Midlands]                               5
[Hampshire]                                   4
[North-East]                                  4
[South-West]                                  4
[Bristol]                                     4
[ads_mk=]                                     4
[South-East]                                  4
[Nottinghamshire]                             3
[Suffolk]                                     3
[North-Yorkshire]                             3
[Kent]                                        3
[Devon]                                       3
[Horseboxes, tonnage=]                        3
[Lancashire]                                  3
[Surrey]                                      3
[West-Sussex]                                 3
[Dorset]                                      3
[Greater-Manchester]                          3
[Somerset]                                    3
[West-Yorkshire]                              3
[Cheshire]                                    3
[Lincolnshire]                                3
[Horsetrailers, ads_mk=]                      3
[Essex]                                       3
[London]                                      3
[East-Sussex]                                 3
[Shetland-pony]                               3
[Derbyshire]                                  3
[Wales]                                       3
[Eastern]                                     3
[Scotland]                                    3
[Bedfordshire]                                3
[tonnage=]                                    3
[Warwickshire]                                3
[North-West]                                  3
[Rugby]                                       2
[Cambridgeshire]                              2
[Pembrokeshire]                               2
[Liverpool]                                   2
[Northamptonshire]                            2
[Buckinghamshire]                             2
[Berkshire]                                   2
[Leeds-West-Yorkshire]                        2
[Portsmouth-Hampshire]                        2
[Norwich]                                     2
[Staffordshire]                               2
[Winchester]                                  2
[Gloucestershire]                             2
[Morgan]                                      2
[Peterborough]                                2
[Epsom]                                       2
[Horsham-West-Sussex]                         2
[South-Yorkshire]                             2
[Durham]                                      2
[Southampton]                                 2
[Oxfordshire]                                 2
[Warrington-Cheshire]                         2
[Haywards-Heath]                              2
[Glasgow]                                     2
[East-Midlands]                               2
[Worcestershire]                              2
[Wiltshire]                                   2
[Chichester]                                  2
[Bromsgrove]                                  2
[Burnley]                                     2
[Hertfordshire]                               2
[Leicestershire]                              2
[Basingstoke]                                 2
[Ipswich]                                     2
[New-Forest]                                  2
[Cornwall]                                    2
[Connemara]                                   2
[Ireland]                                     2
[Thoroughbred]                                2
[Norfolk]                                     2
[Northern-Ireland]                            2
[Irish-Sport-Horse]                           2
[Cob]                                         2
[Leek]                                        1
[Young-Stock, Colt]                           1
[Irish-Sport-Horse, Chestnut]                 1
[Banbury]                                     1
[Roan]                                        1
[Connemara, Gelding]                          1
[Crewe]                                       1
[Great-Yarmouth]                              1
[Horsetrailers, boeckmann]                    1
[Soham]                                       1
[High-Wycombe]                                1
[Mustang, Other]                              1
[Malton]                                      1
[Reading]                                     1
[Dundee]                                      1
[Horsetrailers, Bateson]                      1
[Grey, Windsor]                               1
[Ireland, 14-14-3-hands]                      1
[Bournemouth]                                 1
[regent]                                      1
[Shire, Bay]                                  1
[Happy-Hackers, Cob]                          1
[Potential-young-sports-horses]               1
[Kendal]                                      1
[Horsetrailers, bateson]                      1
[Ashford-Kent]                                1
[Thoroughbred, -17-hands]                     1
[Young-Stock, Black]                          1
[Scotland, Horseboxes]                        1
[Young-Stock, 3-5-years]                      1
[Okehampton]                                  1
[Richardson]                                  1
[Cob, showing-horses]                         1
[All-Rounder, Essex]                          1
[Ex-Racehorses, Mare]                         1
[North-West, Horseboxes]                      1
[Spalding]                                    1
[Suffolk-Punch, amp;]                         1
[Horsetrailers, rice]                         1
[Dales, Black]                                1
[oakley, tonnage=]                            1
[Sevenoaks]                                   1
[Thoroughbred, Bay]                           1
[Horsebox-parts-and-accessories]              1
[volvo]                                       1
[Thoroughbred, 2-3-years]                     1
[Nuneaton]                                    1
[Bath]                                        1
[Cob, Devon]                                  1
[All-Rounder, Haflinger]                      1
[Tiverton-Devon]                              1
[riding-club-horses]                          1
[Belgian-Ardennes, Mare]                      1
[14-14-3-hands, show-jumpers]                 1
[Consett]                                     1
[Young-Stock, Wales]                          1
[Northern-Ireland, Gelding]                   1
[Young-Stock, Scotland]                       1
[Hemel-Hempstead]                             1
[part-loan-share]                             1
[Tunbridge-Wells]                             1
[Cob, South-East]                             1
[Tobiano]                                     1
[Thirsk]                                      1
[Show-Jumpers, Irish-Sport-Horse]             1
[Buxton-Derbyshire]                           1
[All-Rounder, Devon]                          1
[East-Lothian]                                1
[Connemara, Ireland]                          1
[All-Rounder, Highland]                       1
[Weymouth]                                    1
[Ireland, Black]                              1
[Bolton-Greater-Manchester]                   1
[Welsh-Sec-B, Palomino]                       1
[Stourbridge]                                 1
[Solihull]                                    1
[5-7-years]                                   1
[Aberystwyth]                                 1
[Lowestoft]                                   1
[Skipton]                                     1
[Llanelli]                                    1
[Connemara, Bay]                              1
[All-Rounder, 15-15-3-hands]                  1
[Bay-Roan]                                    1
[Macclesfield]                                1
[Horses-Ponies-for-adoption]                  1
[Connemara, 14-14-3-hands]                    1
[Cob, Norfolk]                                1
[2-stalls, Horseboxes]                        1
[Palomino, 14-14-3-hands]                     1
[Newark-on-Trent]                             1
[Icelandic-Horse]                             1
[Young-Stock, Dales]                          1
[Bay, Gelding]                                1
[Brecon]                                      1
[Cob, Bay]                                    1
[Fell, Black]                                 1
[Morpeth]                                     1
[Irish-Sport-Horse, Bay]                      1
[Young-Stock, Friesian]                       1
[Cob, Grey]                                   1
[Cob, North-East]                             1
[15-15-3-hands, 7-10-years]                   1
[Ford]                                        1
[Lead-Rein-First-Ridden, Shetland-pony]       1
[Bishop-Auckland]                             1
[Redditch]                                    1
[Wrexham]                                     1
[Irish-Sport-Horse, Grey]                     1
[Horley-Surrey]                               1
[All-Rounder, 14-14-3-hands]                  1
[Young-Stock, Irish-Draught]                  1
[Welsh-Sec-D, Scotland]                       1
[French-Trotter]                              1
[Woodbridge-Suffolk]                          1
[All-Rounder, Dapple-Grey]                    1
[All-Rounder, Friesian]                       1
[Ireland, Palomino]                           1
[Grimsby]                                     1
[Connemara, Dapple-Grey]                      1
[Selby]                                       1
[Wisbech]                                     1
[Lead-Rein-First-Ridden, pony-club-ponies]    1
[Newton-Abbot]                                1
[North-Wales]                                 1
[Ex-Racehorses, Scotland]                     1
[Young-Stock, Highland]                       1
[Cob, Northern-Ireland]                       1
[Cob, West-Midlands]                          1
[Abergavenny]                                 1
[All-Rounder, North-East]                     1
[Connemara, 3-5-years]                        1
[daf]                                         1
[Gwynedd]                                     1
[Isle-of-Anglesey]                            1
[Shrewsbury]                                  1
[South-Wales]                                 1
[showing-ponies]                              1
[Oswestry]                                    1
[Northallerton]                               1
[Broodmares, Mare]                            1
[Hunters, -17-hands]                          1
[Dover-Kent]                                  1
[Warmblood, Black]                            1
[Cheshire, Horseboxes]                        1
[Cob, Chestnut]                               1
[2-stalls, Mercedes-Benz]                     1
[Bridgwater]                                  1
[Young-Stock, 2-3-years]                      1
[Andalusian, Gelding]                         1
[Tamworth]                                    1
[Irish-Sport-Horse, Black]                    1
[Arabian, Grey]                               1
[Merseyside]                                  1
[All-Rounder, South-East]                     1
[Lancaster]                                   1
[Show-Jumpers, 16-16-3-hands]                 1
[Pinto]                                       1
[Beverley]                                    1
[Lead-Rein-First-Ridden, 12-12-3-hands]       1
[Horseboxes, Man]                             1
[Young-Stock, Ireland]                        1
[Chestnut, -17-hands]                         1
[Warmblood, Chestnut]                         1
[Young-Stock, Cornwall]                       1
[Keighley]                                    1
[Leighton-Buzzard]                            1
[Bideford]                                    1
[Perth]                                       1
[Scotland, Mare]                              1
[Cob, 10-12-years]                            1
[Huntingdon-Cambridgeshire]                   1
[Welsh-Sec-D, 14-14-3-hands]                  1
[Black, 16-16-3-hands]                        1
[Waterlooville]                               1
[Chestnut, 15-15-3-hands]                     1
[New-Forest, 13-13-3-hands]                   1
[Grey, 16-16-3-hands]                         1
[Arabian, Chestnut]                           1
[Halifax]                                     1
[Cob, Dapple-Grey]                            1
[Lichfield]                                   1
[Light-Hacks]                                 1
[Performance-Horses]                          1
[All-Rounder, West-Yorkshire]                 1
[Chestnut, 14-14-3-hands]                     1
[Cob, Hampshire]                              1
[Black, 14-14-3-hands]                        1
[Southend-on-Sea]                             1
[Swadlincote]                                 1
[Scotland, 16-16-3-hands]                     1
[Part-Bred-Arab, Palomino]                    1
[All-Rounder, Irish-Draught-X]                1
[Worksop]                                     1
[Renault]                                     1
[Richmond-North-Yorkshire]                    1
[Isle-of-Man]                                 1
[Scotland, Palomino]                          1
[Palomino, 13-13-3-hands]                     1
[Horsetrailers, richardson]                   1
[Ex-Racehorses, polo-ponies]                  1
[Cob, Lancashire]                             1
[Driffield]                                   1
[Dorchester-Dorset]                           1
[Cob, 14-16-years]                            1
[All-Rounder, Norfolk]                        1
[Cob, 3-5-years]                              1
[cobs-heavy-horses, hackers]                  1
[Neath]                                       1
[isuzu]                                       1
[Show-Jumpers, 14-14-3-hands]                 1
[richardson]                                  1
[4-stalls, Horseboxes]                        1
[Happy-Hackers, Devon]                        1
[Young-Stock, Welsh-Sec-B]                    1
[dressage-horses]                             1
[Highland]                                    1
[Cob, East-Sussex]                            1
[Luton-Bedfordshire]                          1
[All-Rounder, Clydesdale]                     1
[Dudley-West-Midlands]                        1
[Braintree]                                   1
[Dressage, 3-5-years]                         1
[Bracknell]                                   1
[Morecambe]                                   1
[-17-hands, hunters]                          1
[Young-Stock, Arabian]                        1
[Dapple-Grey, 14-14-3-hands]                  1
[Harlow]                                      1
[Young-Stock, Kent]                           1
[Coloured, Cob]                               1
[Dun, 13-13-3-hands]                          1
[Kent, 14-14-3-hands]                         1
[Young-Stock, dressage-horses]                1
[-17-hands, breed_type=\nBred]                1
[Glossop]                                     1
[Warmblood, Gelding]                          1
[Fell, Gelding]                               1
[Irish-Draught, Black]                        1
[Hawick]                                      1
[All-Rounder, Connemara]                      1
[All-Rounder, Irish-Sport-Horse]              1
[Welsh-Sec-A, Grey]                           1
[Black, 15-15-3-hands]                        1
[Eastbourne-East-Sussex]                      1
[Thoroughbred, 15-15-3-hands]                 1
[Scotland, riding-club-horses]                1
[Shetland-pony, up-to-11-3-hands]             1
[Wellington-Somerset]                         1
[Young-Stock, Percheron]                      1
[Shetland-pony, North-East]                   1
[Lincoln]                                     1
[Kerry]                                       1
[Walsall]                                     1
[Sittingbourne]                               1
[Warmblood, -17-hands]                        1
[Mold]                                        1
[Pontypool]                                   1
[Ormskirk]                                    1
[Gainsborough]                                1
[Shetland-pony, Cornwall]                     1
[Farnham-Surrey]                              1
[Blackwood-Gwent]                             1
[Worthing-West-Sussex]                        1
[Horseboxes, Volkswagen]                      1
[Aylesbury]                                   1
[Frome]                                       1
[All-Rounder, Cornwall]                       1
[All-Rounder, Cob]                            1
[Irish-Draught, Grey]                         1
[Kent, Horsetrailers]                         1
[Stroud]                                      1
[Winsford-Cheshire]                           1
[Part-Bred]                                   1
[Young-Stock, Welsh-Sec-A]                    1
[Show-Jumpers, 15-15-3-hands]                 1
[Palomino, 16-16-3-hands]                     1
[Horseboxes, Scania]                          1
[Fareham]                                     1
[Launceston]                                  1
[Mustang, ads_hid_max=]                       1
[Devon, 14-14-3-hands]                        1
[Cambridge]                                   1
[Holsworthy]                                  1
[Horsetrailers, wessex]                       1
[Truro]                                       1
[Thoroughbred, Gelding]                       1
[Penrith]                                     1
[Cob, Cornwall]                               1
[Towcester]                                   1
[Cob, hunters]                                1
[Irish-Sport-Horse, Dapple-Grey]              1
[Thoroughbred, 3-5-years]                     1
[Show-Jumpers, Scotland]                      1
[0-2-years]                                   1
[Cob, Colt]                                   1
[Kilmarnock]                                  1
[Loughborough]                                1
[Dorking]                                     1
[Irish-Draught, -17-hands]                    1
[Happy-Hackers, 14-14-3-hands]                1
[Market-Drayton]                              1
[Happy-Hackers, Scotland]                     1
[Happy-Hackers, Gelding]                      1
[hunters]                                     1
[Stratford-u-Avon]                            1
[Tri-Coloured]                                1
[Ripon]                                       1
[Irish-Sport-Horse, Scotland]                 1
[Cob, West-Yorkshire]                         1
[Manchester]                                  1
[Whitby-North-Yorkshire]                      1
[Cirencester]                                 1
[Show-Jumpers, 3-5-years]                     1
[Kettering]                                   1
[Hexham]                                      1
[Kent, 3-5-years]                             1
[Cob, 2-3-years]                              1
[Wareham]                                     1
[Cannock]                                     1
[Welsh-Sec-C, Palomino]                       1
[All-Rounder, Scotland]                       1
[Gateshead]                                   1
[Chippenham-Wiltshire]                        1
[Falkirk]                                     1
[Appaloosa-horse-, Leopard-Spot]              1
[Irish-Draught, Chestnut]                     1
[Thoroughbred, Filly]                         1
[Cob, Blue-White]                             1
[Thoroughbred, Scotland]                      1
[Appaloosa-horse-, Mare]                      1
[Evesham]                                     1
[Part-Bred-Arab]                              1
[Young-Stock, Cob]                            1
[Cob, 14-14-3-hands]                          1
[Aberdeenshire]                               1

In [293]:
df[df['filter_code'].str.len() == 0]

,URL,Clicks,Impressions,CTR,Position,URL_first_half,URL_second_half,items,type,URL_main,URL_notype,URL_notype_filtered,filter_code
0,horses-for-sale.php,494837,3067584,16.13,13.06,[horses-for-sale.php],None,1,horses-for-sale.php,[horses-for-sale.php],[],[],[]
1,Horses-for-Loan,105329,850471,12.38,6.34,[Horses-for-Loan],None,1,Horses-for-Loan,[Horses-for-Loan],[],[],[]
3,horseboxes-and-trailers.php,69695,998833,6.98,6.52,[horseboxes-and-trailers.php],None,1,horseboxes-and-trailers.php,[horseboxes-and-trailers.php],[],[],[]
10,horseboxes-and-trailers.php?tonnage=,23651,518047,4.57,3.87,[horseboxes-and-trailers.php],tonnage=,2,horseboxes-and-trailers.php,"[horseboxes-and-trailers.php, tonnage=]",[tonnage=],[tonnage=],[]
16,equestrian-property.php,20310,513698,3.95,10.88,[equestrian-property.php],None,1,equestrian-property.php,[equestrian-property.php],[],[],[]
89,horseboxes-and-trailers.php?tonnage=,3841,239872,1.60,4.15,[horseboxes-and-trailers.php],tonnage=,2,horseboxes-and-trailers.php,"[horseboxes-and-trailers.php, tonnage=]",[tonnage=],[tonnage=],[]
163,Horses-Wanted,1958,23987,8.16,6.96,[Horses-Wanted],None,1,Horses-Wanted,[Horses-Wanted],[],[],[]
172,horseboxes-and-trailers.php?tonnage=,1795,405616,0.44,2.80,[horseboxes-and-trailers.php],tonnage=,2,horseboxes-and-trailers.php,"[horseboxes-and-trailers.php, tonnage=]",[tonnage=],[tonnage=],[]
203,horse-equipment.php,1452,139779,1.04,20.35,[horse-equipment.php],None,1,horse-equipment.php,[horse-equipment.php],[],[],[]
209,horses-for-sale.php?ads_pid_max=,1386,29104,4.76,9.75,[horses-for-sale.php],ads_pid_max=,2,horses-for-sale.php,"[horses-for-sale.php, ads_pid_max=]",[ads_pid_max=],[ads_pid_max=],[]
352,Horses-for-Loan?ads_hid=,672,18248,3.68,3.06,[Horses-for-Loan],ads_hid=,2,Horses-for-Loan,"[Horses-for-Loan, ads_hid=]",[ads_hid=],[ads_hid=],[]
422,Equestrian-Jobs,510,20039,2.55,24.52,[Equestrian-Jobs],None,1,Equestrian-Jobs,[Equestrian-Jobs],[],[],[]
459,horseboxes-and-trailers.php?ads_mk=,457,5392,8.48,10.77,[horseboxes-and-trailers.php],ads_mk=,2,horseboxes-and-trailers.php,"[horseboxes-and-trailers.php, ads_mk=]",[ads_mk=],[ads_mk=],[]
467,Horses-for-Loan?ads_hid=,448,6842,6.55,8.32,[Horses-for-Loan],ads_hid=,2,Horses-for-Loan,"[Horses-for-Loan, ads_hid=]",[ads_hid=],[ads_hid=],[]
468,Horses-for-Loan?ads_hid=,447,42375,1.05,1.97,[Horses-for-Loan],ads_hid=,2,Horses-for-Loan,"[Horses-for-Loan, ads_hid=]",[ads_hid=],[ads_hid=],[]
513,horseboxes-and-trailers.php?ads_mk=,396,7791,5.08,11.82,[horseboxes-and-trailers.php],ads_mk=,2,horseboxes-and-trailers.php,"[horseboxes-and-trailers.php, ads_mk=]",[ads_mk=],[ads_mk=],[]
539,horses-for-sale.php?ads_hid=,373,1632,22.86,5.92,[horses-for-sale.php],ads_hid=,2,horses-for-sale.php,"[horses-for-sale.php, ads_hid=]",[ads_hid=],[ads_hid=],[]
545,Horses-for-Loan?ads_hid=,366,3817,9.59,6.12,[Horses-for-Loan],ads_hid=,2,Horses-for-Loan,"[Horses-for-Loan, ads_hid=]",[ads_hid=],[ads_hid=],[]
551,Horses-for-Loan?,361,127365,0.28,2.40,[Horses-for-Loan],,1,Horses-for-Loan,[Horses-for-Loan],[],[],[]
569,horseboxes-and-trailers.php?ads_mk=,349,5037,6.93,9.01,[horseboxes-and-trailers.php],ads_mk=,2,horseboxes-and-trailers.php,"[horseboxes-and-trailers.php, ads_mk=]",[ads_mk=],[ads_mk=],[]
599,horseboxes-and-trailers.php?ads_mk=,326,5401,6.04,7.01,[horseboxes-and-trailers.php],ads_mk=,2,horseboxes-and-trailers.php,"[horseboxes-and-trailers.php, ads_mk=]",[ads_mk=],[ads_mk=],[]
796,Horses-for-Loan?ads_hid=,232,2542,9.13,9.29,[Horses-for-Loan],ads_hid=,2,Horses-for-Loan,"[Horses-for-Loan, ads_hid=]",[ads_hid=],[ads_hid=],[]
821,Horses-for-Loan?ads_hid=,223,1165,19.14,12.09,[Horses-for-Loan],ads_hid=,2,Horses-for-Loan,"[Horses-for-Loan, ads_hid=]",[ads_hid=],[ads_hid=],[]
834,Horses-for-Loan?ads_hid=,220,3997,5.50,9.66,[Horses-for-Loan],ads_hid=,2,Horses-for-Loan,"[Horses-for-Loan, ads_hid=]",[ads_hid=],[ads_hid=],[]
880,stallions-at-stud.php,206,6588,3.13,17.61,[stallions-at-stud.php],None,1,stallions-at-stud.php,[stallions-at-stud.php],[],[],[]

In [294]:
df.rename(columns={'filter_code':'RW_keyword','URL_notype_filtered':'other_filters'}, inplace=True)

In [295]:
df.head()

,URL,Clicks,Impressions,CTR,Position,URL_first_half,URL_second_half,items,type,URL_main,URL_notype,other_filters,RW_keyword
0,horses-for-sale.php,494837,3067584,16.13,13.06,[horses-for-sale.php],None,1,horses-for-sale.php,[horses-for-sale.php],[],[],[]
1,Horses-for-Loan,105329,850471,12.38,6.34,[Horses-for-Loan],None,1,Horses-for-Loan,[Horses-for-Loan],[],[],[]
2,Shetland-pony/B/horses-for-sale.php,78126,493230,15.84,6.56,"[Shetland-pony, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Shetland-pony, B, horses-for-sale.php]","[Shetland-pony, B]",[Shetland-pony],[B]
3,horseboxes-and-trailers.php,69695,998833,6.98,6.52,[horseboxes-and-trailers.php],None,1,horseboxes-and-trailers.php,[horseboxes-and-trailers.php],[],[],[]
4,Scotland/C/horses-for-sale.php,44717,414112,10.80,4.32,"[Scotland, C, horses-for-sale.php]",None,3,horses-for-sale.php,"[Scotland, C, horses-for-sale.php]","[Scotland, C]",[Scotland],[C]

In [296]:
df['RW_keyword']=df['RW_keyword'].apply(lambda x: ', '.join(x))

In [297]:
pvt = df.pivot_table(values = 'Clicks' , index='RW_keyword', aggfunc='sum').sort_values(by='Clicks',ascending=False)

In [298]:
pvt

            Clicks
RW_keyword
            729840
B           532725
D           200093
A           192030
C           152316
E           118637
J           107755
G            43994
F            40829
EF           29128
BE           27202
AB           23108
BG           17892
BC            8996
BF            6748
AG            6685
H             6165
CF            4890
EG            4434
AC            4160
AE            3868
BI            3774
BD            3085
BH            2857
CG            2587
AF            2476
AH            2454
I             2263
AD            2005
AI            1618
CE            1497
FG             720
GI             711
DG             501
GH             369
EJ             321
CI             270
DH             258

In [299]:
pvt.to_clipboard(excel=True, sep=',')

In [300]:
df[df['RW_keyword'].str.contains(pat='KWPN')]

Empty DataFrame
Columns: [URL, Clicks, Impressions, CTR, Position, URL_first_half, URL_second_half, items, type, URL_main, URL_notype, other_filters, RW_keyword]
Index: []

In [301]:
df['type'].value_counts()

type
horses-for-sale.php            677
horseboxes-and-trailers.php    104
Horses-for-Loan                 83
equestrian-property.php          9
horse-equipment.php              4
Equestrian-Jobs                  3
Horses-Wanted                    1
stallions-at-stud.php            1
Name: count, dtype: int64

In [302]:
df.head()

,URL,Clicks,Impressions,CTR,Position,URL_first_half,URL_second_half,items,type,URL_main,URL_notype,other_filters,RW_keyword
0,horses-for-sale.php,494837,3067584,16.13,13.06,[horses-for-sale.php],None,1,horses-for-sale.php,[horses-for-sale.php],[],[],
1,Horses-for-Loan,105329,850471,12.38,6.34,[Horses-for-Loan],None,1,Horses-for-Loan,[Horses-for-Loan],[],[],
2,Shetland-pony/B/horses-for-sale.php,78126,493230,15.84,6.56,"[Shetland-pony, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Shetland-pony, B, horses-for-sale.php]","[Shetland-pony, B]",[Shetland-pony],B
3,horseboxes-and-trailers.php,69695,998833,6.98,6.52,[horseboxes-and-trailers.php],None,1,horseboxes-and-trailers.php,[horseboxes-and-trailers.php],[],[],
4,Scotland/C/horses-for-sale.php,44717,414112,10.80,4.32,"[Scotland, C, horses-for-sale.php]",None,3,horses-for-sale.php,"[Scotland, C, horses-for-sale.php]","[Scotland, C]",[Scotland],C

In [303]:
df['items_others'] = df['other_filters'].apply(len)

In [304]:
df.head()

,URL,Clicks,Impressions,CTR,Position,URL_first_half,URL_second_half,items,type,URL_main,URL_notype,other_filters,RW_keyword,items_others
0,horses-for-sale.php,494837,3067584,16.13,13.06,[horses-for-sale.php],None,1,horses-for-sale.php,[horses-for-sale.php],[],[],,0
1,Horses-for-Loan,105329,850471,12.38,6.34,[Horses-for-Loan],None,1,Horses-for-Loan,[Horses-for-Loan],[],[],,0
2,Shetland-pony/B/horses-for-sale.php,78126,493230,15.84,6.56,"[Shetland-pony, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Shetland-pony, B, horses-for-sale.php]","[Shetland-pony, B]",[Shetland-pony],B,1
3,horseboxes-and-trailers.php,69695,998833,6.98,6.52,[horseboxes-and-trailers.php],None,1,horseboxes-and-trailers.php,[horseboxes-and-trailers.php],[],[],,0
4,Scotland/C/horses-for-sale.php,44717,414112,10.80,4.32,"[Scotland, C, horses-for-sale.php]",None,3,horses-for-sale.php,"[Scotland, C, horses-for-sale.php]","[Scotland, C]",[Scotland],C,1

In [305]:
df_noCode = df[df['RW_keyword'].str.len() == 0]

In [306]:
df_exploded = df_noCode.explode('other_filters')

In [307]:
df_exploded.head()

,URL,Clicks,Impressions,CTR,Position,URL_first_half,URL_second_half,items,type,URL_main,URL_notype,other_filters,RW_keyword,items_others
0,horses-for-sale.php,494837,3067584,16.13,13.06,[horses-for-sale.php],None,1,horses-for-sale.php,[horses-for-sale.php],[],NaN,,0
1,Horses-for-Loan,105329,850471,12.38,6.34,[Horses-for-Loan],None,1,Horses-for-Loan,[Horses-for-Loan],[],NaN,,0
3,horseboxes-and-trailers.php,69695,998833,6.98,6.52,[horseboxes-and-trailers.php],None,1,horseboxes-and-trailers.php,[horseboxes-and-trailers.php],[],NaN,,0
10,horseboxes-and-trailers.php?tonnage=,23651,518047,4.57,3.87,[horseboxes-and-trailers.php],tonnage=,2,horseboxes-and-trailers.php,"[horseboxes-and-trailers.php, tonnage=]",[tonnage=],tonnage=,,1
16,equestrian-property.php,20310,513698,3.95,10.88,[equestrian-property.php],None,1,equestrian-property.php,[equestrian-property.php],[],NaN,,0

In [308]:
df_exploded['other_filters']=df_exploded['other_filters'].fillna('Cat_page')

In [317]:
pivot_table = pd.pivot_table(df_exploded, values='Clicks', index='other_filters', aggfunc='sum')

In [318]:
pivot_table.sort_values(by='Clicks',ascending=False, inplace=True)

In [319]:
pivot_table.head()

               Clicks
other_filters
Cat_page       694658
tonnage=        29287
ads_hid=         2981
ads_mk=          1528
ads_pid_max=     1386

In [320]:
pivot_table.to_clipboard(excel=True, sep=',')

In [313]:
pvt

            Clicks
RW_keyword
            729840
B           532725
D           200093
A           192030
C           152316
E           118637
J           107755
G            43994
F            40829
EF           29128
BE           27202
AB           23108
BG           17892
BC            8996
BF            6748
AG            6685
H             6165
CF            4890
EG            4434
AC            4160
AE            3868
BI            3774
BD            3085
BH            2857
CG            2587
AF            2476
AH            2454
I             2263
AD            2005
AI            1618
CE            1497
FG             720
GI             711
DG             501
GH             369
EJ             321
CI             270
DH             258

In [314]:
pvt.to_clipboard(excel=True, sep=',')

In [315]:
df[df['RW_keyword']=='J']

,URL,Clicks,Impressions,CTR,Position,URL_first_half,URL_second_half,items,type,URL_main,URL_notype,other_filters,RW_keyword,items_others
109,Glasgow/J/horses-for-sale.php,3259,27687,11.77,5.02,"[Glasgow, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Glasgow, J, horses-for-sale.php]","[Glasgow, J]",[Glasgow],J,1
158,Newcastle-u-Tyne/J/horses-for-sale.php,2003,18385,10.89,5.92,"[Newcastle-u-Tyne, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Newcastle-u-Tyne, J, horses-for-sale.php]","[Newcastle-u-Tyne, J]",[Newcastle-u-Tyne],J,1
191,Southampton/J/horses-for-sale.php,1584,9735,16.27,9.52,"[Southampton, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Southampton, J, horses-for-sale.php]","[Southampton, J]",[Southampton],J,1
199,Exeter/J/horses-for-sale.php,1481,13735,10.78,6.97,"[Exeter, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Exeter, J, horses-for-sale.php]","[Exeter, J]",[Exeter],J,1
202,Doncaster/J/horses-for-sale.php,1462,17150,8.52,8.95,"[Doncaster, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Doncaster, J, horses-for-sale.php]","[Doncaster, J]",[Doncaster],J,1
204,Peterborough/J/horses-for-sale.php,1447,9387,15.41,7.51,"[Peterborough, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Peterborough, J, horses-for-sale.php]","[Peterborough, J]",[Peterborough],J,1
210,York-North-Yorkshire/J/horses-for-sale.php,1368,13113,10.43,6.44,"[York-North-Yorkshire, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[York-North-Yorkshire, J, horses-for-sale.php]","[York-North-Yorkshire, J]",[York-North-Yorkshire],J,1
216,Norwich/J/horses-for-sale.php,1317,8243,15.98,6.31,"[Norwich, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Norwich, J, horses-for-sale.php]","[Norwich, J]",[Norwich],J,1
219,Carlisle/J/horses-for-sale.php,1306,8680,15.05,6.86,"[Carlisle, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Carlisle, J, horses-for-sale.php]","[Carlisle, J]",[Carlisle],J,1
229,Stoke-on-Trent/J/horses-for-sale.php,1252,9015,13.89,9.66,"[Stoke-on-Trent, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Stoke-on-Trent, J, horses-for-sale.php]","[Stoke-on-Trent, J]",[Stoke-on-Trent],J,1
231,Plymouth/J/horses-for-sale.php,1205,8106,14.87,7.49,"[Plymouth, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Plymouth, J, horses-for-sale.php]","[Plymouth, J]",[Plymouth],J,1
238,London/J/horses-for-sale.php,1144,7750,14.76,10.76,"[London, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[London, J, horses-for-sale.php]","[London, J]",[London],J,1
242,Sunderland-Cumbria/J/horses-for-sale.php,1098,6782,16.19,6.24,"[Sunderland-Cumbria, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Sunderland-Cumbria, J, horses-for-sale.php]","[Sunderland-Cumbria, J]",[Sunderland-Cumbria],J,1
256,Swansea/J/horses-for-sale.php,1037,14589,7.11,5.43,"[Swansea, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Swansea, J, horses-for-sale.php]","[Swansea, J]",[Swansea],J,1
258,Edinburgh/J/horses-for-sale.php,1030,20162,5.11,3.53,"[Edinburgh, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Edinburgh, J, horses-for-sale.php]","[Edinburgh, J]",[Edinburgh],J,1
261,Colchester/J/horses-for-sale.php,1025,6628,15.46,10.13,"[Colchester, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Colchester, J, horses-for-sale.php]","[Colchester, J]",[Colchester],J,1
264,Huddersfield/J/horses-for-sale.php,1016,8036,12.64,8.13,"[Huddersfield, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Huddersfield, J, horses-for-sale.php]","[Huddersfield, J]",[Huddersfield],J,1
273,Ipswich/J/horses-for-sale.php,974,6281,15.51,10.96,"[Ipswich, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Ipswich, J, horses-for-sale.php]","[Ipswich, J]",[Ipswich],J,1
274,Chesterfield/J/horses-for-sale.php,959,5812,16.50,7.17,"[Chesterfield, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Chesterfield, J, horses-for-sale.php]","[Chesterfield, J]",[Chesterfield],J,1
281,Preston-Lancashire/J/horses-for-sale.php,935,10101,9.26,6.44,"[Preston-Lancashire, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Preston-Lancashire, J, horses-for-sale.php]","[Preston-Lancashire, J]",[Preston-Lancashire],J,1
282,Liverpool/J/horses-for-sale.php,935,9370,9.98,11.16,"[Liverpool, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Liverpool, J, horses-for-sale.php]","[Liverpool, J]",[Liverpool],J,1
285,Cardiff/J/horses-for-sale.php,923,15684,5.88,4.17,"[Cardiff, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Cardiff, J, horses-for-sale.php]","[Cardiff, J]",[Cardiff],J,1
295,Inverness/J/horses-for-sale.php,878,18985,4.62,4.24,"[Inverness, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Inverness, J, horses-for-sale.php]","[Inverness, J]",[Inverness],J,1
297,Milton-Keynes/J/horses-for-sale.php,876,5343,16.40,7.73,"[Milton-Keynes, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Milton-Keynes, J, horses-for-sale.php]","[Milton-Keynes, J]",[Milton-Keynes],J,1
300,Kings-Lynn/J/horses-for-sale.php,871,6443,13.52,9.45,"[Kings-Lynn, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Kings-Lynn, J, horses-for-sale.php]","[Kings-Lynn, J]",[Kings-Lynn],J,1
301,Swindon-Wiltshire/J/horses-for-sale.php,867,6606,13.12,8.29,"[Swindon-Wiltshire, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Swindon-Wiltshire, J, horses-for-sale.php]","[Swindon-Wiltshire, J]",[Swindon-Wiltshire],J,1
304,Harrogate/J/horses-for-sale.php,857,5027,17.05,11.54,"[Harrogate, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Harrogate, J, horses-for-sale.php]","[Harrogate, J]",[Harrogate],J,1
305,Wigan/J/horses-for-sale.php,854,8461,10.09,7.82,"[Wigan, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Wigan, J, horses-for-sale.php]","[Wigan, J]",[Wigan],J,1
306,Hull/J/horses-for-sale.php,840,10547,7.96,7.22,"[Hull, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Hull, J, horses-for-sale.php]","[Hull, J]",[Hull],J,1
307,Telford/J/horses-for-sale.php,833,6455,12.90,8.03,"[Telford, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Telford, J, horses-for-sale.php]","[Telford, J]",[Telford],J,1
316,Darlington/J/horses-for-sale.php,788,7072,11.14,5.77,"[Darlington, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Darlington, J, horses-for-sale.php]","[Darlington, J]",[Darlington],J,1
319,Leeds-West-Yorkshire/J/horses-for-sale.php,778,8264,9.41,9.87,"[Leeds-West-Yorkshire, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Leeds-West-Yorkshire, J, horses-for-sale.php]","[Leeds-West-Yorkshire, J]",[Leeds-West-Yorkshire],J,1
321,Sheffield-Cornwall/J/horses-for-sale.php,762,8121,9.38,7.07,"[Sheffield-Cornwall, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Sheffield-Cornwall, J, horses-for-sale.php]","[Sheffield-Cornwall, J]",[Sheffield-Cornwall],J,1
322,Newmarket-Suffolk/J/horses-for-sale.php,762,7070,10.78,16.94,"[Newmarket-Suffolk, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Newmarket-Suffolk, J, horses-for-sale.php]","[Newmarket-Suffolk, J]",[Newmarket-Suffolk],J,1
323,Carmarthen/J/horses-for-sale.php,757,9916,7.63,5.11,"[Carmarthen, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Carmarthen, J, horses-for-sale.php]","[Carmarthen, J]",[Carmarthen],J,1
324,Coventry/J/horses-for-sale.php,754,5534,13.62,10.47,"[Coventry, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Coventry, J, horses-for-sale.php]","[Coventry, J]",[Coventry],J,1
328,Cheltenham/J/horses-for-sale.php,739,11444,6.46,10.74,"[Cheltenham, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Cheltenham, J, horses-for-sale.php]","[Cheltenham, J]",[Cheltenham],J,1
332,Barnsley-South-Yorkshire/J/horses-for-sale.php,731,5587,13.08,7.63,"[Barnsley-South-Yorkshire, J, horses-for-sale....",None,3,horses-for-sale.php,"[Barnsley-South-Yorkshire, J, horses-for-sale....","[Barnsley-South-Yorkshire, J]",[Barnsley-South-Yorkshire],J,1
340,Horsham-West-Sussex/J/horses-for-sale.php,710,5907,12.02,8.41,"[Horsham-West-Sussex, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Horsham-West-Sussex, J, horses-for-sale.php]","[Horsham-West-Sussex, J]",[Horsham-West-Sussex],J,1
347,Blackpool-Lancashire/J/horses-for-sale.php,696,6209,11.21,9.90,"[Blackpool-Lancashire, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Blackpool-Lancashire, J, horses-for-sale.php]","[Blackpool-Lancashire, J]",[Blackpool-Lancashire],J,1
349,Wakefield/J/horses-for-sale.php,686,4848,14.15,7.13,"[Wakefield, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Wakefield, J, horses-for-sale.php]","[Wakefield, J]",[Wakefield],J,1
356,Salisbury/J/horses-for-sale.php,662,3722,17.79,7.48,"[Salisbury, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Salisbury, J, horses-for-sale.php]","[Salisbury, J]",[Salisbury],J,1
357,Warrington-Cheshire/J/Horses-for-Loan,658,4361,15.09,17.70,"[Warrington-Cheshire, J, Horses-for-Loan]",None,3,Horses-for-Loan,"[Warrington-Cheshire, J, Horses-for-Loan]","[Warrington-Cheshire, J]",[Warrington-Cheshire],J,1
358,Sheffield-South-Yorkshire/J/horses-for-sale.php,651,6075,10.72,8.94,"[Sheffield-South-Yorkshire, J, horses-for-sale...",None,3,horses-for-sale.php,"[Sheffield-South-Yorkshire, J, horses-for-sale...","[Sheffield-South-Yorkshire, J]",[Sheffield-South-Yorkshire],J,1
359,Warrington-Cheshire/J/horses-for-sale.php,645,5226,12.34,11.78,"[Warrington-Cheshire, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Warrington-Cheshire, J, horses-for-sale.php]","[Warrington-Cheshire, J]",[Warrington-Cheshire],J,1
360,Bradford-West-Yorkshire/J/horses-for-sale.php,643,7107,9.05,5.19,"[Bradford-West-Yorkshire, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Bradford-West-Yorkshire, J, horses-for-sale.php]","[Bradford-West-Yorkshire, J]",[Bradford-West-Yorkshire],J,1
364,Chichester/J/horses-for-sale.php,641,3414,18.78,7.45,"[Chichester, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Chichester, J, horses-for-sale.php]","[Chichester, J]",[Chichester],J,1
366,Stockport/J/horses-for-sale.php,639,4736,13.49,7.28,"[Stockport, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Stockport, J, horses-for-sale.php]","[Stockport, J]",[Stockport],J,1
371,Rotherham/J/horses-for-sale.php,619,5108,12.12,10.00,"[Rotherham, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Rotherham, J, horses-for-sale.php]","[Rotherham, J]",[Rotherham],J,1
372,Burnley/J/horses-for-sale.php,615,5779,10.64,6.54,"[Burnley, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Burnley, J, horses-for-sale.php]","[Burnley, J]",[Burnley],J,1
377,Rugby/J/horses-for-sale.php,603,3352,17.99,10.58,"[Rugby, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Rugby, J, horses-for-sale.php]","[Rugby, J]",[Rugby],J,1
378,Middlesbrough/J/horses-for-sale.php,598,4578,13.06,8.77,"[Middlesbrough, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Middlesbrough, J, horses-for-sale.php]","[Middlesbrough, J]",[Middlesbrough],J,1
380,Portsmouth-Hampshire/J/horses-for-sale.php,594,4080,14.56,7.45,"[Portsmouth-Hampshire, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Portsmouth-Hampshire, J, horses-for-sale.php]","[Portsmouth-Hampshire, J]",[Portsmouth-Hampshire],J,1
381,Scarborough/J/horses-for-sale.php,591,3605,16.39,9.38,"[Scarborough, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Scarborough, J, horses-for-sale.php]","[Scarborough, J]",[Scarborough],J,1
383,Bridgend-Mid-Glamorgan/J/horses-for-sale.php,589,8086,7.28,5.31,"[Bridgend-Mid-Glamorgan, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Bridgend-Mid-Glamorgan, J, horses-for-sale.php]","[Bridgend-Mid-Glamorgan, J]",[Bridgend-Mid-Glamorgan],J,1
389,Oldham/J/horses-for-sale.php,579,4728,12.25,6.73,"[Oldham, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Oldham, J, horses-for-sale.php]","[Oldham, J]",[Oldham],J,1
395,Maidstone/J/horses-for-sale.php,564,4378,12.88,11.19,"[Maidstone, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Maidstone, J, horses-for-sale.php]","[Maidstone, J]",[Maidstone],J,1
400,Basingstoke/J/horses-for-sale.php,555,3942,14.08,10.37,"[Basingstoke, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Basingstoke, J, horses-for-sale.php]","[Basingstoke, J]",[Basingstoke],J,1
402,Ipswich/J/Horses-for-Loan,553,4302,12.85,24.49,"[Ipswich, J, Horses-for-Loan]",None,3,Horses-for-Loan,"[Ipswich, J, Horses-for-Loan]","[Ipswich, J]",[Ipswich],J,1
404,Newport-Gwent/J/horses-for-sale.php,548,7052,7.77,5.41,"[Newport-Gwent, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Newport-Gwent, J, horses-for-sale.php]","[Newport-Gwent, J]",[Newport-Gwent],J,1
409,Shoreham-by-Sea/J/Horses-for-Loan,542,1046,51.82,3.26,"[Shoreham-by-Sea, J, Horses-for-Loan]",None,3,Horses-for-Loan,"[Shoreham-by-Sea, J, Horses-for-Loan]","[Shoreham-by-Sea, J]",[Shoreham-by-Sea],J,1
411,Chelmsford/J/horses-for-sale.php,535,4776,11.20,16.41,"[Chelmsford, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Chelmsford, J, horses-for-sale.php]","[Chelmsford, J]",[Chelmsford],J,1
413,Yeovil/J/horses-for-sale.php,529,4015,13.18,7.80,"[Yeovil, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Yeovil, J, horses-for-sale.php]","[Yeovil, J]",[Yeovil],J,1
414,Newbury-Berkshire/J/horses-for-sale.php,528,3638,14.51,6.55,"[Newbury-Berkshire, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Newbury-Berkshire, J, horses-for-sale.php]","[Newbury-Berkshire, J]",[Newbury-Berkshire],J,1
416,Sudbury-Suffolk/J/horses-for-sale.php,521,3953,13.18,12.07,"[Sudbury-Suffolk, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Sudbury-Suffolk, J, horses-for-sale.php]","[Sudbury-Suffolk, J]",[Sudbury-Suffolk],J,1
418,Mansfield-Nottinghamshire/J/horses-for-sale.php,519,5157,10.06,16.67,"[Mansfield-Nottinghamshire, J, horses-for-sale...",None,3,horses-for-sale.php,"[Mansfield-Nottinghamshire, J, horses-for-sale...","[Mansfield-Nottinghamshire, J]",[Mansfield-Nottinghamshire],J,1
421,Guildford/J/horses-for-sale.php,513,3322,15.44,8.23,"[Guildford, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Guildford, J, horses-for-sale.php]","[Guildford, J]",[Guildford],J,1
427,Canterbury/J/horses-for-sale.php,502,5111,9.82,28.45,"[Canterbury, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Canterbury, J, horses-for-sale.php]","[Canterbury, J]",[Canterbury],J,1
428,Melton-Mowbray/J/horses-for-sale.php,501,5475,9.15,9.77,"[Melton-Mowbray, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Melton-Mowbray, J, horses-for-sale.php]","[Melton-Mowbray, J]",[Melton-Mowbray],J,1
430,Bolton-Cumbria/J/horses-for-sale.php,496,4210,11.78,7.49,"[Bolton-Cumbria, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Bolton-Cumbria, J, horses-for-sale.php]","[Bolton-Cumbria, J]",[Bolton-Cumbria],J,1
431,Kidderminster/J/horses-for-sale.php,496,3733,13.29,6.60,"[Kidderminster, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Kidderminster, J, horses-for-sale.php]","[Kidderminster, J]",[Kidderminster],J,1
432,Wolverhampton/J/horses-for-sale.php,496,3601,13.77,7.45,"[Wolverhampton, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Wolverhampton, J, horses-for-sale.php]","[Wolverhampton, J]",[Wolverhampton],J,1
434,Grantham/J/horses-for-sale.php,494,3386,14.59,12.48,"[Grantham, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Grantham, J, horses-for-sale.php]","[Grantham, J]",[Grantham],J,1
436,Barnstaple/J/horses-for-sale.php,493,3113,15.84,10.11,"[Barnstaple, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Barnstaple, J, horses-for-sale.php]","[Barnstaple, J]",[Barnstaple],J,1
439,Llanybydder/J/horses-for-sale.php,485,17387,2.79,6.33,"[Llanybydder, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Llanybydder, J, horses-for-sale.php]","[Llanybydder, J]",[Llanybydder],J,1
441,Derby-Derbyshire/J/horses-for-sale.php,484,4767,10.15,8.11,"[Derby-Derbyshire, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Derby-Derbyshire, J, horses-for-sale.php]","[Derby-Derbyshire, J]",[Derby-Derbyshire],J,1
446,Stockton-on-Tees/J/horses-for-sale.php,472,3372,14.00,5.42,"[Stockton-on-Tees, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Stockton-on-Tees, J, horses-for-sale.php]","[Stockton-on-Tees, J]",[Stockton-on-Tees],J,1
451,Chorley-Lancashire/J/horses-for-sale.php,465,3081,15.09,7.85,"[Chorley-Lancashire, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Chorley-Lancashire, J, horses-for-sale.php]","[Chorley-Lancashire, J]",[Chorley-Lancashire],J,1
453,Rochdale/J/horses-for-sale.php,460,4245,10.84,8.19,"[Rochdale, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Rochdale, J, horses-for-sale.php]","[Rochdale, J]",[Rochdale],J,1
455,Hartlepool/J/horses-for-sale.php,459,3817,12.03,5.71,"[Hartlepool, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Hartlepool, J, horses-for-sale.php]","[Hartlepool, J]",[Hartlepool],J,1
457,Weston-Super-Mare/J/horses-for-sale.php,458,2970,15.42,9.31,"[Weston-Super-Mare, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Weston-Super-Mare, J, horses-for-sale.php]","[Weston-Super-Mare, J]",[Weston-Super-Mare],J,1
460,Ely-Cambridgeshire/J/horses-for-sale.php,456,2249,20.28,7.97,"[Ely-Cambridgeshire, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Ely-Cambridgeshire, J, horses-for-sale.php]","[Ely-Cambridgeshire, J]",[Ely-Cambridgeshire],J,1
470,Blackburn-Lancashire/J/horses-for-sale.php,447,3352,13.34,9.81,"[Blackburn-Lancashire, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Blackburn-Lancashire, J, horses-for-sale.php]","[Blackburn-Lancashire, J]",[Blackburn-Lancashire],J,1
471,Aberdeen/J/horses-for-sale.php,446,19395,2.30,4.03,"[Aberdeen, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Aberdeen, J, horses-for-sale.php]","[Aberdeen, J]",[Aberdeen],J,1
472,Chester/J/horses-for-sale.php,446,4600,9.70,8.46,"[Chester, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Chester, J, horses-for-sale.php]","[Chester, J]",[Chester],J,1
479,Scunthorpe/J/horses-for-sale.php,432,3840,11.25,6.36,"[Scunthorpe, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Scunthorpe, J, horses-for-sale.php]","[Scunthorpe, J]",[Scunthorpe],J,1
485,Evesham/J/horses-for-sale.php,429,2130,20.14,9.29,"[Evesham, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Evesham, J, horses-for-sale.php]","[Evesham, J]",[Evesham],J,1
487,Walsall/J/horses-for-sale.php,428,3045,14.06,7.90,"[Walsall, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Walsall, J, horses-for-sale.php]","[Walsall, J]",[Walsall],J,1
489,Bath/J/horses-for-sale.php,425,2280,18.64,9.34,"[Bath, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Bath, J, horses-for-sale.php]","[Bath, J]",[Bath],J,1
494,Dundee/J/horses-for-sale.php,417,5871,7.10,5.01,"[Dundee, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Dundee, J, horses-for-sale.php]","[Dundee, J]",[Dundee],J,1
499,Bournemouth/J/horses-for-sale.php,413,3699,11.17,12.06,"[Bournemouth, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Bournemouth, J, horses-for-sale.php]","[Bournemouth, J]",[Bournemouth],J,1
502,Leek/J/horses-for-sale.php,410,4182,9.80,5.64,"[Leek, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Leek, J, horses-for-sale.php]","[Leek, J]",[Leek],J,1
503,Ashford-Kent/J/horses-for-sale.php,407,3350,12.15,11.40,"[Ashford-Kent, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Ashford-Kent, J, horses-for-sale.php]","[Ashford-Kent, J]",[Ashford-Kent],J,1
504,Aberystwyth/J/horses-for-sale.php,406,8179,4.96,5.39,"[Aberystwyth, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Aberystwyth, J, horses-for-sale.php]","[Aberystwyth, J]",[Aberystwyth],J,1
505,Lowestoft/J/horses-for-sale.php,404,2753,14.67,14.28,"[Lowestoft, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Lowestoft, J, horses-for-sale.php]","[Lowestoft, J]",[Lowestoft],J,1
506,Abergavenny/J/horses-for-sale.php,404,2484,16.26,9.48,"[Abergavenny, J, horses-for-sale.php]",None,3,horses-for-sale.php,"[Abergavenny, J, horses-for-sale.php]","[Abergavenny, J]",[Abergavenny],J,1

In [321]:
df['type'].value_counts()

type
horses-for-sale.php            677
horseboxes-and-trailers.php    104
Horses-for-Loan                 83
equestrian-property.php          9
horse-equipment.php              4
Equestrian-Jobs                  3
Horses-Wanted                    1
stallions-at-stud.php            1
Name: count, dtype: int64

## horses-for-sale

In [322]:
df_type = df[df['type'] == 'horses-for-sale.php']

In [323]:
df_type.shape

(677, 14)

In [324]:
df_type.head()

,URL,Clicks,Impressions,CTR,Position,URL_first_half,URL_second_half,items,type,URL_main,URL_notype,other_filters,RW_keyword,items_others
0,horses-for-sale.php,494837,3067584,16.13,13.06,[horses-for-sale.php],None,1,horses-for-sale.php,[horses-for-sale.php],[],[],,0
2,Shetland-pony/B/horses-for-sale.php,78126,493230,15.84,6.56,"[Shetland-pony, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Shetland-pony, B, horses-for-sale.php]","[Shetland-pony, B]",[Shetland-pony],B,1
4,Scotland/C/horses-for-sale.php,44717,414112,10.80,4.32,"[Scotland, C, horses-for-sale.php]",None,3,horses-for-sale.php,"[Scotland, C, horses-for-sale.php]","[Scotland, C]",[Scotland],C,1
5,Cob/B/horses-for-sale.php,44224,421463,10.49,6.28,"[Cob, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Cob, B, horses-for-sale.php]","[Cob, B]",[Cob],B,1
6,Friesian/B/horses-for-sale.php,32982,228863,14.41,10.36,"[Friesian, B, horses-for-sale.php]",None,3,horses-for-sale.php,"[Friesian, B, horses-for-sale.php]","[Friesian, B]",[Friesian],B,1

In [325]:
df_type.describe().T

,count,mean,std,min,25%,50%,75%,max
Clicks,677.0,2701.262925,19636.316506,206.00,292.00,467.00,1360.00,494837.00
Impressions,677.0,34902.031019,155877.909214,849.00,2996.00,5892.00,16292.00,3067584.00
CTR,677.0,10.646366,5.417639,0.55,6.39,10.60,14.29,30.90
Position,677.0,8.998006,3.402038,1.94,6.62,8.48,10.66,28.45
items,677.0,3.369276,0.498045,1.00,3.00,3.00,4.00,4.00
items_others,677.0,1.373708,0.487191,0.00,1.00,1.00,2.00,2.00

In [326]:
df_type['items'].describe(percentiles=[.2,.4,.5,.6,.8,.9,.95])

count    677.000000
mean       3.369276
std        0.498045
min        1.000000
20%        3.000000
40%        3.000000
50%        3.000000
60%        3.000000
80%        4.000000
90%        4.000000
95%        4.000000
max        4.000000
Name: items, dtype: float64

In [327]:
df_type['items'].median()

3.0

In [328]:
pvt = df_type.pivot_table(values = 'Clicks' , index='RW_keyword', aggfunc='sum').sort_values(by='Clicks',ascending=False)

In [329]:
pvt

            Clicks
RW_keyword
B           521715
            496596
A           171956
D           160540
C           108931
J           101579
E            74754
G            43994
BE           26565
AB           23108
BG           17892
BC            8996
F             7163
BF            6748
AG            6685
EF            6513
H             6165
EG            4434
AC            4160
BI            3774
BD            3085
BH            2857
CG            2587
CF            2463
AH            2454
I             2263
AD            2005
AF            1943
AI            1618
AE            1134
CE             928
FG             720
GI             711
DG             501
GH             369
EJ             321
CI             270
DH             258

In [330]:
pvt.to_clipboard(excel=True, sep=',')

In [331]:
df[df['RW_keyword']=='G']

,URL,Clicks,Impressions,CTR,Position,URL_first_half,URL_second_half,items,type,URL_main,URL_notype,other_filters,RW_keyword,items_others
23,15-15-3-hands/G/horses-for-sale.php,15170,1085872,1.40,1.94,"[15-15-3-hands, G, horses-for-sale.php]",None,3,horses-for-sale.php,"[15-15-3-hands, G, horses-for-sale.php]","[15-15-3-hands, G]",[15-15-3-hands],G,1
37,16-16-3-hands/G/horses-for-sale.php,9658,1048416,0.92,2.05,"[16-16-3-hands, G, horses-for-sale.php]",None,3,horses-for-sale.php,"[16-16-3-hands, G, horses-for-sale.php]","[16-16-3-hands, G]",[16-16-3-hands],G,1
45,-17-hands/G/horses-for-sale.php,7855,240970,3.26,3.67,"[-17-hands, G, horses-for-sale.php]",None,3,horses-for-sale.php,"[-17-hands, G, horses-for-sale.php]","[-17-hands, G]",[-17-hands],G,1
48,14-14-3-hands/G/horses-for-sale.php,7361,489799,1.50,2.70,"[14-14-3-hands, G, horses-for-sale.php]",None,3,horses-for-sale.php,"[14-14-3-hands, G, horses-for-sale.php]","[14-14-3-hands, G]",[14-14-3-hands],G,1
152,13-13-3-hands/G/horses-for-sale.php,2140,85809,2.49,4.99,"[13-13-3-hands, G, horses-for-sale.php]",None,3,horses-for-sale.php,"[13-13-3-hands, G, horses-for-sale.php]","[13-13-3-hands, G]",[13-13-3-hands],G,1
257,up-to-11-3-hands/G/horses-for-sale.php,1032,14671,7.03,9.72,"[up-to-11-3-hands, G, horses-for-sale.php]",None,3,horses-for-sale.php,"[up-to-11-3-hands, G, horses-for-sale.php]","[up-to-11-3-hands, G]",[up-to-11-3-hands],G,1
396,12-12-3-hands/G/horses-for-sale.php,559,14358,3.89,9.29,"[12-12-3-hands, G, horses-for-sale.php]",None,3,horses-for-sale.php,"[12-12-3-hands, G, horses-for-sale.php]","[12-12-3-hands, G]",[12-12-3-hands],G,1
842,-17-hands/G/horses-for-sale.php?breed_type=\nBred,219,1533,14.29,4.40,"[-17-hands, G, horses-for-sale.php]",breed_type=\nBred,4,horses-for-sale.php,"[-17-hands, G, horses-for-sale.php, breed_type...","[-17-hands, G, breed_type=\nBred]","[-17-hands, breed_type=\nBred]",G,2

In [332]:
df[df['RW_keyword']=='H']

,URL,Clicks,Impressions,CTR,Position,URL_first_half,URL_second_half,items,type,URL_main,URL_notype,other_filters,RW_keyword,items_others
147,>16-years/H/horses-for-sale.php,2275,15965,14.25,12.53,"[>16-years, H, horses-for-sale.php]",None,3,horses-for-sale.php,"[>16-years, H, horses-for-sale.php]","[>16-years, H]",[>16-years],H,1
205,3-5-years/H/horses-for-sale.php,1443,20824,6.93,11.33,"[3-5-years, H, horses-for-sale.php]",None,3,horses-for-sale.php,"[3-5-years, H, horses-for-sale.php]","[3-5-years, H]",[3-5-years],H,1
338,10-12-years/H/horses-for-sale.php,715,11780,6.07,10.52,"[10-12-years, H, horses-for-sale.php]",None,3,horses-for-sale.php,"[10-12-years, H, horses-for-sale.php]","[10-12-years, H]",[10-12-years],H,1
376,2-3-years/H/horses-for-sale.php,609,6210,9.81,12.61,"[2-3-years, H, horses-for-sale.php]",None,3,horses-for-sale.php,"[2-3-years, H, horses-for-sale.php]","[2-3-years, H]",[2-3-years],H,1
424,14-16-years/H/horses-for-sale.php,508,5181,9.81,11.15,"[14-16-years, H, horses-for-sale.php]",None,3,horses-for-sale.php,"[14-16-years, H, horses-for-sale.php]","[14-16-years, H]",[14-16-years],H,1
541,5-7-years/H/horses-for-sale.php,371,6006,6.18,20.70,"[5-7-years, H, horses-for-sale.php]",None,3,horses-for-sale.php,"[5-7-years, H, horses-for-sale.php]","[5-7-years, H]",[5-7-years],H,1
753,0-2-years/H/horses-for-sale.php,244,4415,5.53,17.01,"[0-2-years, H, horses-for-sale.php]",None,3,horses-for-sale.php,"[0-2-years, H, horses-for-sale.php]","[0-2-years, H]",[0-2-years],H,1

In [338]:
df_type_noCode = df_exploded[df_exploded['type'] == 'horses-for-sale.php']

In [339]:
df_type_noCode.shape

(3, 14)

In [340]:
pvt = df_type_noCode.pivot_table(values = 'Clicks' , index='other_filters', aggfunc='sum').sort_values(by='Clicks',ascending=False)

In [341]:
pvt

               Clicks
other_filters
Cat_page       494837
ads_pid_max=     1386
ads_hid=          373

In [342]:
df['type'].value_counts()

type
horses-for-sale.php            677
horseboxes-and-trailers.php    104
Horses-for-Loan                 83
equestrian-property.php          9
horse-equipment.php              4
Equestrian-Jobs                  3
Horses-Wanted                    1
stallions-at-stud.php            1
Name: count, dtype: int64

## horseboxes-and-trailers.php

In [343]:
df_type = df[df['type'] == 'horseboxes-and-trailers.php']

In [344]:
df_type.shape

(104, 14)

In [345]:
df_type.head()

,URL,Clicks,Impressions,CTR,Position,URL_first_half,URL_second_half,items,type,URL_main,URL_notype,other_filters,RW_keyword,items_others
3,horseboxes-and-trailers.php,69695,998833,6.98,6.52,[horseboxes-and-trailers.php],None,1,horseboxes-and-trailers.php,[horseboxes-and-trailers.php],[],[],,0
7,Horsetrailers/E/horseboxes-and-trailers.php,25645,669154,3.83,8.68,"[Horsetrailers, E, horseboxes-and-trailers.php]",None,3,horseboxes-and-trailers.php,"[Horsetrailers, E, horseboxes-and-trailers.php]","[Horsetrailers, E]",[Horsetrailers],E,1
10,horseboxes-and-trailers.php?tonnage=,23651,518047,4.57,3.87,[horseboxes-and-trailers.php],tonnage=,2,horseboxes-and-trailers.php,"[horseboxes-and-trailers.php, tonnage=]",[tonnage=],[tonnage=],,1
21,Ifor-Williams/F/horseboxes-and-trailers.php,15364,290832,5.28,11.15,"[Ifor-Williams, F, horseboxes-and-trailers.php]",None,3,horseboxes-and-trailers.php,"[Ifor-Williams, F, horseboxes-and-trailers.php]","[Ifor-Williams, F]",[Ifor-Williams],F,1
43,Horseboxes/E/horseboxes-and-trailers.php?tonnage=,8148,145743,5.59,8.93,"[Horseboxes, E, horseboxes-and-trailers.php]",tonnage=,4,horseboxes-and-trailers.php,"[Horseboxes, E, horseboxes-and-trailers.php, t...","[Horseboxes, E, tonnage=]","[Horseboxes, tonnage=]",E,2

In [346]:
df_type.describe().T

,count,mean,std,min,25%,50%,75%,max
Clicks,104.0,2256.317308,7670.225430,210.00,316.2500,492.500,1119.7500,69695.00
Impressions,104.0,53169.990385,145018.379896,2180.00,4994.7500,8246.500,24916.5000,998833.00
CTR,104.0,6.669712,3.393310,0.44,4.1150,6.365,9.0725,21.08
Position,104.0,9.744135,4.854338,2.79,6.9925,8.515,11.4825,29.45
items,104.0,3.269231,0.626762,1.00,3.0000,3.000,4.0000,4.00
items_others,104.0,1.346154,0.497942,0.00,1.0000,1.000,2.0000,2.00

In [347]:
df_type['items'].describe(percentiles=[.2,.4,.5,.6,.8,.9,.95])

count    104.000000
mean       3.269231
std        0.626762
min        1.000000
20%        3.000000
40%        3.000000
50%        3.000000
60%        3.000000
80%        4.000000
90%        4.000000
95%        4.000000
max        4.000000
Name: items, dtype: float64

In [348]:
df_type['items'].median()

3.0

In [349]:
pvt = df_type.pivot_table(values = 'Clicks' , index='RW_keyword', aggfunc='sum').sort_values(by='Clicks',ascending=False)

In [350]:
pvt

            Clicks
RW_keyword
            100510
E            43883
F            33666
EF           22615
C            12307
B             7805
A             6971
AE            2734
CF            2427
BE             637
CE             569
AF             533

In [351]:
pvt.to_clipboard(excel=True, sep=',')

In [355]:
df_type_noCode = df_exploded[df_exploded['type'] == 'horseboxes-and-trailers.php']

In [356]:
df_type_noCode.shape

(8, 14)

In [357]:
df_type_noCode

,URL,Clicks,Impressions,CTR,Position,URL_first_half,URL_second_half,items,type,URL_main,URL_notype,other_filters,RW_keyword,items_others
3,horseboxes-and-trailers.php,69695,998833,6.98,6.52,[horseboxes-and-trailers.php],None,1,horseboxes-and-trailers.php,[horseboxes-and-trailers.php],[],Cat_page,,0
10,horseboxes-and-trailers.php?tonnage=,23651,518047,4.57,3.87,[horseboxes-and-trailers.php],tonnage=,2,horseboxes-and-trailers.php,"[horseboxes-and-trailers.php, tonnage=]",[tonnage=],tonnage=,,1
89,horseboxes-and-trailers.php?tonnage=,3841,239872,1.60,4.15,[horseboxes-and-trailers.php],tonnage=,2,horseboxes-and-trailers.php,"[horseboxes-and-trailers.php, tonnage=]",[tonnage=],tonnage=,,1
172,horseboxes-and-trailers.php?tonnage=,1795,405616,0.44,2.80,[horseboxes-and-trailers.php],tonnage=,2,horseboxes-and-trailers.php,"[horseboxes-and-trailers.php, tonnage=]",[tonnage=],tonnage=,,1
459,horseboxes-and-trailers.php?ads_mk=,457,5392,8.48,10.77,[horseboxes-and-trailers.php],ads_mk=,2,horseboxes-and-trailers.php,"[horseboxes-and-trailers.php, ads_mk=]",[ads_mk=],ads_mk=,,1
513,horseboxes-and-trailers.php?ads_mk=,396,7791,5.08,11.82,[horseboxes-and-trailers.php],ads_mk=,2,horseboxes-and-trailers.php,"[horseboxes-and-trailers.php, ads_mk=]",[ads_mk=],ads_mk=,,1
569,horseboxes-and-trailers.php?ads_mk=,349,5037,6.93,9.01,[horseboxes-and-trailers.php],ads_mk=,2,horseboxes-and-trailers.php,"[horseboxes-and-trailers.php, ads_mk=]",[ads_mk=],ads_mk=,,1
599,horseboxes-and-trailers.php?ads_mk=,326,5401,6.04,7.01,[horseboxes-and-trailers.php],ads_mk=,2,horseboxes-and-trailers.php,"[horseboxes-and-trailers.php, ads_mk=]",[ads_mk=],ads_mk=,,1

In [358]:
pvt = df_type_noCode.pivot_table(values = 'Clicks' , index='other_filters', aggfunc='sum').sort_values(by='Clicks',ascending=False)

In [359]:
pvt

               Clicks
other_filters
Cat_page        69695
tonnage=        29287
ads_mk=          1528

In [ ]:
pvt.to_clipboard(excel=True, sep=',')

In [360]:
df['type'].value_counts()

type
horses-for-sale.php            677
horseboxes-and-trailers.php    104
Horses-for-Loan                 83
equestrian-property.php          9
horse-equipment.php              4
Equestrian-Jobs                  3
Horses-Wanted                    1
stallions-at-stud.php            1
Name: count, dtype: int64

## Horses-for-Loan

In [361]:
df_type = df[df['type'] == 'Horses-for-Loan']

In [362]:
df_type.shape

(83, 14)

In [363]:
df_type.head()

,URL,Clicks,Impressions,CTR,Position,URL_first_half,URL_second_half,items,type,URL_main,URL_notype,other_filters,RW_keyword,items_others
1,Horses-for-Loan,105329,850471,12.38,6.34,[Horses-for-Loan],None,1,Horses-for-Loan,[Horses-for-Loan],[],[],,0
57,Scotland/C/Horses-for-Loan,6663,62699,10.63,3.50,"[Scotland, C, Horses-for-Loan]",None,3,Horses-for-Loan,"[Scotland, C, Horses-for-Loan]","[Scotland, C]",[Scotland],C,1
81,full-loan/A/Horses-for-Loan,4224,113287,3.73,2.91,"[full-loan, A, Horses-for-Loan]",None,3,Horses-for-Loan,"[full-loan, A, Horses-for-Loan]","[full-loan, A]",[full-loan],A,1
84,South-East/C/Horses-for-Loan,4008,260474,1.54,2.43,"[South-East, C, Horses-for-Loan]",None,3,Horses-for-Loan,"[South-East, C, Horses-for-Loan]","[South-East, C]",[South-East],C,1
91,South-West/C/Horses-for-Loan,3742,232003,1.61,2.32,"[South-West, C, Horses-for-Loan]",None,3,Horses-for-Loan,"[South-West, C, Horses-for-Loan]","[South-West, C]",[South-West],C,1

In [364]:
df_type.describe().T

,count,mean,std,min,25%,50%,75%,max
Clicks,83.0,2261.746988,11507.031406,207.00,279.000,581.00,1208.000,105329.00
Impressions,83.0,35106.975904,104802.971027,710.00,1882.000,4963.00,16825.000,850471.00
CTR,83.0,13.848193,8.859346,0.28,8.605,12.85,18.095,51.82
Position,83.0,6.721325,4.021531,1.97,4.625,6.03,7.505,24.49
items,83.0,2.867470,0.406385,1.00,3.000,3.00,3.000,3.00
items_others,83.0,0.975904,0.154281,0.00,1.000,1.00,1.000,1.00

In [365]:
df_type['items'].describe(percentiles=[.2,.4,.5,.6,.8,.9,.95])

count    83.000000
mean      2.867470
std       0.406385
min       1.000000
20%       3.000000
40%       3.000000
50%       3.000000
60%       3.000000
80%       3.000000
90%       3.000000
95%       3.000000
max       3.000000
Name: items, dtype: float64

In [366]:
df_type['items'].median()

3.0

In [367]:
pvt = df_type.pivot_table(values = 'Clicks' , index='RW_keyword', aggfunc='sum').sort_values(by='Clicks',ascending=False)

In [368]:
pvt

            Clicks
RW_keyword
            108298
D            38612
C            26902
J             6176
A             4532
B             3205

In [369]:
pvt.to_clipboard(excel=True, sep=',')

In [373]:
df_type_noCode = df_exploded[df_exploded['type'] == 'Horses-for-Loan']

In [374]:
df_type_noCode.shape

(9, 14)

In [375]:
df_type_noCode

,URL,Clicks,Impressions,CTR,Position,URL_first_half,URL_second_half,items,type,URL_main,URL_notype,other_filters,RW_keyword,items_others
1,Horses-for-Loan,105329,850471,12.38,6.34,[Horses-for-Loan],None,1,Horses-for-Loan,[Horses-for-Loan],[],Cat_page,,0
352,Horses-for-Loan?ads_hid=,672,18248,3.68,3.06,[Horses-for-Loan],ads_hid=,2,Horses-for-Loan,"[Horses-for-Loan, ads_hid=]",[ads_hid=],ads_hid=,,1
467,Horses-for-Loan?ads_hid=,448,6842,6.55,8.32,[Horses-for-Loan],ads_hid=,2,Horses-for-Loan,"[Horses-for-Loan, ads_hid=]",[ads_hid=],ads_hid=,,1
468,Horses-for-Loan?ads_hid=,447,42375,1.05,1.97,[Horses-for-Loan],ads_hid=,2,Horses-for-Loan,"[Horses-for-Loan, ads_hid=]",[ads_hid=],ads_hid=,,1
545,Horses-for-Loan?ads_hid=,366,3817,9.59,6.12,[Horses-for-Loan],ads_hid=,2,Horses-for-Loan,"[Horses-for-Loan, ads_hid=]",[ads_hid=],ads_hid=,,1
551,Horses-for-Loan?,361,127365,0.28,2.40,[Horses-for-Loan],,1,Horses-for-Loan,[Horses-for-Loan],[],Cat_page,,0
796,Horses-for-Loan?ads_hid=,232,2542,9.13,9.29,[Horses-for-Loan],ads_hid=,2,Horses-for-Loan,"[Horses-for-Loan, ads_hid=]",[ads_hid=],ads_hid=,,1
821,Horses-for-Loan?ads_hid=,223,1165,19.14,12.09,[Horses-for-Loan],ads_hid=,2,Horses-for-Loan,"[Horses-for-Loan, ads_hid=]",[ads_hid=],ads_hid=,,1
834,Horses-for-Loan?ads_hid=,220,3997,5.50,9.66,[Horses-for-Loan],ads_hid=,2,Horses-for-Loan,"[Horses-for-Loan, ads_hid=]",[ads_hid=],ads_hid=,,1

In [376]:
pvt = df_type_noCode.pivot_table(values = 'Clicks' , index='other_filters', aggfunc='sum')

In [377]:
pvt

               Clicks
other_filters
Cat_page       105690
ads_hid=         2608

In [ ]:
pvt.to_clipboard(excel=True, sep=',')

In [378]:
df['type'].value_counts()

type
horses-for-sale.php            677
horseboxes-and-trailers.php    104
Horses-for-Loan                 83
equestrian-property.php          9
horse-equipment.php              4
Equestrian-Jobs                  3
Horses-Wanted                    1
stallions-at-stud.php            1
Name: count, dtype: int64

## equestrian-property.php

In [379]:
df_type = df[df['type'] == 'equestrian-property.php']

In [380]:
df_type.shape

(9, 14)

In [381]:
df_type.head()

,URL,Clicks,Impressions,CTR,Position,URL_first_half,URL_second_half,items,type,URL_main,URL_notype,other_filters,RW_keyword,items_others
16,equestrian-property.php,20310,513698,3.95,10.88,[equestrian-property.php],None,1,equestrian-property.php,[equestrian-property.php],[],[],,0
193,South-West/C/equestrian-property.php,1543,63077,2.45,11.82,"[South-West, C, equestrian-property.php]",None,3,equestrian-property.php,"[South-West, C, equestrian-property.php]","[South-West, C]",[South-West],C,1
344,West-Midlands/C/equestrian-property.php,705,16440,4.29,13.63,"[West-Midlands, C, equestrian-property.php]",None,3,equestrian-property.php,"[West-Midlands, C, equestrian-property.php]","[West-Midlands, C]",[West-Midlands],C,1
354,South-East/C/equestrian-property.php,671,46377,1.45,9.87,"[South-East, C, equestrian-property.php]",None,3,equestrian-property.php,"[South-East, C, equestrian-property.php]","[South-East, C]",[South-East],C,1
375,North-West/C/equestrian-property.php,610,12897,4.73,24.50,"[North-West, C, equestrian-property.php]",None,3,equestrian-property.php,"[North-West, C, equestrian-property.php]","[North-West, C]",[North-West],C,1

In [382]:
df_type.describe().T

,count,mean,std,min,25%,50%,75%,max
Clicks,9.0,2771.777778,6589.568855,209.00,299.00,610.00,705.00,20310.00
Impressions,9.0,79203.444444,164170.629504,2392.00,12897.00,20931.00,46377.00,513698.00
CTR,9.0,3.973333,2.739078,1.13,1.45,3.95,4.73,8.86
Position,9.0,13.235556,4.804121,8.03,10.88,11.82,13.70,24.50
items,9.0,2.777778,0.666667,1.00,3.00,3.00,3.00,3.00
items_others,9.0,0.888889,0.333333,0.00,1.00,1.00,1.00,1.00

In [383]:
df_type['items'].describe(percentiles=[.2,.4,.5,.6,.8,.9,.95])

count    9.000000
mean     2.777778
std      0.666667
min      1.000000
20%      3.000000
40%      3.000000
50%      3.000000
60%      3.000000
80%      3.000000
90%      3.000000
95%      3.000000
max      3.000000
Name: items, dtype: float64

In [384]:
df_type['items'].median()

3.0

In [385]:
pvt = df_type.pivot_table(values = 'Clicks' , index='RW_keyword', aggfunc='sum').sort_values(by='Clicks',ascending=False)

In [386]:
pvt

            Clicks
RW_keyword
             20310
C             3916
D              720

In [ ]:
pvt.to_clipboard(excel=True, sep=',')

In [391]:
df_type_noCode = df_type_noCode[df_type_noCode['type'] == 'equestrian-property.php']

In [392]:
df_type_noCode.shape

(1, 14)

In [393]:
df_type_noCode

,URL,Clicks,Impressions,CTR,Position,URL_first_half,URL_second_half,items,type,URL_main,URL_notype,other_filters,RW_keyword,items_others
16,equestrian-property.php,20310,513698,3.95,10.88,[equestrian-property.php],None,1,equestrian-property.php,[equestrian-property.php],[],Cat_page,,0

In [394]:
df_exploded = df_type_noCode.copy()

In [395]:
df_exploded=df_exploded.explode('other_filters')

In [396]:
df_exploded

,URL,Clicks,Impressions,CTR,Position,URL_first_half,URL_second_half,items,type,URL_main,URL_notype,other_filters,RW_keyword,items_others
16,equestrian-property.php,20310,513698,3.95,10.88,[equestrian-property.php],None,1,equestrian-property.php,[equestrian-property.php],[],Cat_page,,0

In [397]:
pvt = df_exploded.pivot_table(values = 'Clicks' , index='other_filters', aggfunc='sum').sort_values(by='Clicks',ascending=False)

In [398]:
pvt

               Clicks
other_filters
Cat_page        20310

In [ ]:
pvt.to_clipboard(excel=True, sep=',')

In [399]:
df['type'].value_counts()

type
horses-for-sale.php            677
horseboxes-and-trailers.php    104
Horses-for-Loan                 83
equestrian-property.php          9
horse-equipment.php              4
Equestrian-Jobs                  3
Horses-Wanted                    1
stallions-at-stud.php            1
Name: count, dtype: int64

## horse-equipment.php

In [400]:
df_type = df[df['type'] == 'horse-equipment.php']

In [401]:
df_type.shape

(4, 14)

In [402]:
df_type.head()

,URL,Clicks,Impressions,CTR,Position,URL_first_half,URL_second_half,items,type,URL_main,URL_notype,other_filters,RW_keyword,items_others
68,Stables/A/horse-equipment.php,5203,152767,3.41,22.74,"[Stables, A, horse-equipment.php]",None,3,horse-equipment.php,"[Stables, A, horse-equipment.php]","[Stables, A]",[Stables],A,1
129,Saddles/A/horse-equipment.php,2781,106016,2.62,24.48,"[Saddles, A, horse-equipment.php]",None,3,horse-equipment.php,"[Saddles, A, horse-equipment.php]","[Saddles, A]",[Saddles],A,1
203,horse-equipment.php,1452,139779,1.04,20.35,[horse-equipment.php],None,1,horse-equipment.php,[horse-equipment.php],[],[],,0
384,Show-Jumps/A/horse-equipment.php,587,16064,3.65,24.22,"[Show-Jumps, A, horse-equipment.php]",None,3,horse-equipment.php,"[Show-Jumps, A, horse-equipment.php]","[Show-Jumps, A]",[Show-Jumps],A,1

In [403]:
df_type.describe().T

,count,mean,std,min,25%,50%,75%,max
Clicks,4.0,2505.7500,2011.873981,587.00,1235.7500,2116.500,3386.500,5203.00
Impressions,4.0,103656.5000,61629.780445,16064.00,83528.0000,122897.500,143026.000,152767.00
CTR,4.0,2.6800,1.178558,1.04,2.2250,3.015,3.470,3.65
Position,4.0,22.9475,1.893663,20.35,22.1425,23.480,24.285,24.48
items,4.0,2.5000,1.000000,1.00,2.5000,3.000,3.000,3.00
items_others,4.0,0.7500,0.500000,0.00,0.7500,1.000,1.000,1.00

In [404]:
df_type['items'].describe(percentiles=[.2,.4,.5,.6,.8,.9,.95])

count    4.0
mean     2.5
std      1.0
min      1.0
20%      2.2
40%      3.0
50%      3.0
60%      3.0
80%      3.0
90%      3.0
95%      3.0
max      3.0
Name: items, dtype: float64

In [405]:
df_type['items'].median()

3.0

In [406]:
pvt = df_type.pivot_table(values = 'Clicks' , index='RW_keyword', aggfunc='sum').sort_values(by='Clicks',ascending=False)

In [407]:
pvt

            Clicks
RW_keyword
A             8571
              1452

In [411]:
pvt.to_clipboard(excel=True, sep=',')

In [408]:
df_type_noCode = df_noCode[df_noCode['type'] == 'horse-equipment.php']

In [409]:
df_type_noCode.shape

(1, 14)

In [410]:
df_type_noCode

,URL,Clicks,Impressions,CTR,Position,URL_first_half,URL_second_half,items,type,URL_main,URL_notype,other_filters,RW_keyword,items_others
203,horse-equipment.php,1452,139779,1.04,20.35,[horse-equipment.php],None,1,horse-equipment.php,[horse-equipment.php],[],[],,0

In [412]:
df_exploded = df_type_noCode.copy()

In [413]:
df_exploded=df_exploded.explode('other_filters')

In [414]:
df_exploded

,URL,Clicks,Impressions,CTR,Position,URL_first_half,URL_second_half,items,type,URL_main,URL_notype,other_filters,RW_keyword,items_others
203,horse-equipment.php,1452,139779,1.04,20.35,[horse-equipment.php],None,1,horse-equipment.php,[horse-equipment.php],[],NaN,,0

In [ ]:
pvt = df_exploded.pivot_table(values = 'Clicks' , index='other_filters', aggfunc='sum').sort_values(by='Clicks',ascending=False)

In [ ]:
pvt

In [ ]:
pvt.to_clipboard(excel=True, sep=',')

In [415]:
df['type'].value_counts()

type
horses-for-sale.php            677
horseboxes-and-trailers.php    104
Horses-for-Loan                 83
equestrian-property.php          9
horse-equipment.php              4
Equestrian-Jobs                  3
Horses-Wanted                    1
stallions-at-stud.php            1
Name: count, dtype: int64

## Equestrian-Jobs

In [416]:
df_type = df[df['type'] == 'Equestrian-Jobs']

In [417]:
df_type.shape

(3, 14)

In [418]:
df_type.head()

,URL,Clicks,Impressions,CTR,Position,URL_first_half,URL_second_half,items,type,URL_main,URL_notype,other_filters,RW_keyword,items_others
422,Equestrian-Jobs,510,20039,2.55,24.52,[Equestrian-Jobs],None,1,Equestrian-Jobs,[Equestrian-Jobs],[],[],,0
722,North-East/C/Equestrian-Jobs,260,2811,9.25,14.94,"[North-East, C, Equestrian-Jobs]",None,3,Equestrian-Jobs,"[North-East, C, Equestrian-Jobs]","[North-East, C]",[North-East],C,1
826,West-Yorkshire/D/Equestrian-Jobs,221,3045,7.26,15.73,"[West-Yorkshire, D, Equestrian-Jobs]",None,3,Equestrian-Jobs,"[West-Yorkshire, D, Equestrian-Jobs]","[West-Yorkshire, D]",[West-Yorkshire],D,1

In [419]:
df_type.describe().T

,count,mean,std,min,25%,50%,75%,max
Clicks,3.0,330.333333,156.813052,221.00,240.500,260.00,385.000,510.00
Impressions,3.0,8631.666667,9879.733262,2811.00,2928.000,3045.00,11542.000,20039.00
CTR,3.0,6.353333,3.440790,2.55,4.905,7.26,8.255,9.25
Position,3.0,18.396667,5.317653,14.94,15.335,15.73,20.125,24.52
items,3.0,2.333333,1.154701,1.00,2.000,3.00,3.000,3.00
items_others,3.0,0.666667,0.577350,0.00,0.500,1.00,1.000,1.00

In [420]:
df_type['items'].describe(percentiles=[.2,.4,.5,.6,.8,.9,.95])

count    3.000000
mean     2.333333
std      1.154701
min      1.000000
20%      1.800000
40%      2.600000
50%      3.000000
60%      3.000000
80%      3.000000
90%      3.000000
95%      3.000000
max      3.000000
Name: items, dtype: float64

In [421]:
df_type['items'].median()

3.0

In [422]:
pvt = df_type.pivot_table(values = 'Clicks' , index='RW_keyword', aggfunc='sum').sort_values(by='Clicks',ascending=False)

In [423]:
pvt

            Clicks
RW_keyword
               510
C              260
D              221

In [ ]:
pvt.to_clipboard(excel=True, sep=',')

In [424]:
df_type_noCode = df_noCode[df_noCode['type'] == 'Equestrian-Jobs']

In [425]:
df_type_noCode.shape

(1, 14)

In [426]:
df_type_noCode

,URL,Clicks,Impressions,CTR,Position,URL_first_half,URL_second_half,items,type,URL_main,URL_notype,other_filters,RW_keyword,items_others
422,Equestrian-Jobs,510,20039,2.55,24.52,[Equestrian-Jobs],None,1,Equestrian-Jobs,[Equestrian-Jobs],[],[],,0

In [ ]:
df_exploded = df_type_noCode.copy()

In [ ]:
df_exploded=df_exploded.explode('other_filters')

In [ ]:
df_exploded

In [ ]:
pvt = df_exploded.pivot_table(values = 'Clicks' , index='other_filters', aggfunc='sum').sort_values(by='Clicks',ascending=False)

In [ ]:
pvt

In [ ]:
pvt.to_clipboard(excel=True, sep=',')

In [427]:
df['type'].value_counts()

type
horses-for-sale.php            677
horseboxes-and-trailers.php    104
Horses-for-Loan                 83
equestrian-property.php          9
horse-equipment.php              4
Equestrian-Jobs                  3
Horses-Wanted                    1
stallions-at-stud.php            1
Name: count, dtype: int64

## Horses-Wanted

In [431]:
df_type = df[df['type'] == 'Horses-Wanted']

In [432]:
df_type.shape

(1, 14)

In [433]:
df_type.head()

,URL,Clicks,Impressions,CTR,Position,URL_first_half,URL_second_half,items,type,URL_main,URL_notype,other_filters,RW_keyword,items_others
163,Horses-Wanted,1958,23987,8.16,6.96,[Horses-Wanted],None,1,Horses-Wanted,[Horses-Wanted],[],[],,0

In [434]:
df_type.describe().T

,count,mean,std,min,25%,50%,75%,max
Clicks,1.0,1958.00,NaN,1958.00,1958.00,1958.00,1958.00,1958.00
Impressions,1.0,23987.00,NaN,23987.00,23987.00,23987.00,23987.00,23987.00
CTR,1.0,8.16,NaN,8.16,8.16,8.16,8.16,8.16
Position,1.0,6.96,NaN,6.96,6.96,6.96,6.96,6.96
items,1.0,1.00,NaN,1.00,1.00,1.00,1.00,1.00
items_others,1.0,0.00,NaN,0.00,0.00,0.00,0.00,0.00

In [ ]:
df_type['items'].describe(percentiles=[.2,.4,.5,.6,.8,.9,.95])

In [ ]:
df_type['items'].median()

In [ ]:
pvt = df_type.pivot_table(values = 'Clicks' , index='RW_keyword', aggfunc='sum').sort_values(by='Clicks',ascending=False)

In [ ]:
pvt

In [ ]:
pvt.to_clipboard(excel=True, sep=',')

In [ ]:
df_type_noCode = df_noCode[df_noCode['type'] == 'tack-for-sale']

In [ ]:
df_type_noCode.shape

In [ ]:
df_type_noCode

In [ ]:
df_exploded = df_type_noCode.copy()

In [ ]:
df_exploded=df_exploded.explode('other_filters')

In [ ]:
df_exploded

In [ ]:
pvt = df_exploded.pivot_table(values = 'Clicks' , index='other_filters', aggfunc='sum').sort_values(by='Clicks',ascending=False)

In [ ]:
pvt

In [ ]:
pvt.to_clipboard(excel=True, sep=',')

In [435]:
df['type'].value_counts()

type
horses-for-sale.php            677
horseboxes-and-trailers.php    104
Horses-for-Loan                 83
equestrian-property.php          9
horse-equipment.php              4
Equestrian-Jobs                  3
Horses-Wanted                    1
stallions-at-stud.php            1
Name: count, dtype: int64

## stallions-at-stud.php

In [436]:
df_type = df[df['type'] == 'stallions-at-stud.php']

In [437]:
df_type.shape

(1, 14)

In [438]:
df_type.head()

,URL,Clicks,Impressions,CTR,Position,URL_first_half,URL_second_half,items,type,URL_main,URL_notype,other_filters,RW_keyword,items_others
880,stallions-at-stud.php,206,6588,3.13,17.61,[stallions-at-stud.php],None,1,stallions-at-stud.php,[stallions-at-stud.php],[],[],,0

In [434]:
df_type.describe().T

,count,mean,std,min,25%,50%,75%,max
Clicks,1.0,1958.00,NaN,1958.00,1958.00,1958.00,1958.00,1958.00
Impressions,1.0,23987.00,NaN,23987.00,23987.00,23987.00,23987.00,23987.00
CTR,1.0,8.16,NaN,8.16,8.16,8.16,8.16,8.16
Position,1.0,6.96,NaN,6.96,6.96,6.96,6.96,6.96
items,1.0,1.00,NaN,1.00,1.00,1.00,1.00,1.00
items_others,1.0,0.00,NaN,0.00,0.00,0.00,0.00,0.00

In [ ]:
df_type['items'].describe(percentiles=[.2,.4,.5,.6,.8,.9,.95])

In [ ]:
df_type['items'].median()

In [ ]:
pvt = df_type.pivot_table(values = 'Clicks' , index='RW_keyword', aggfunc='sum').sort_values(by='Clicks',ascending=False)

In [ ]:
pvt

In [ ]:
pvt.to_clipboard(excel=True, sep=',')

In [ ]:
df_type_noCode = df_noCode[df_noCode['type'] == 'tack-for-sale']

In [ ]:
df_type_noCode.shape

In [ ]:
df_type_noCode

In [ ]:
df_exploded = df_type_noCode.copy()

In [ ]:
df_exploded=df_exploded.explode('other_filters')

In [ ]:
df_exploded

In [ ]:
pvt = df_exploded.pivot_table(values = 'Clicks' , index='other_filters', aggfunc='sum').sort_values(by='Clicks',ascending=False)

In [ ]:
pvt

In [ ]:
pvt.to_clipboard(excel=True, sep=',')

In [435]:
df['type'].value_counts()

type
horses-for-sale.php            677
horseboxes-and-trailers.php    104
Horses-for-Loan                 83
equestrian-property.php          9
horse-equipment.php              4
Equestrian-Jobs                  3
Horses-Wanted                    1
stallions-at-stud.php            1
Name: count, dtype: int64

## NAN

In [439]:
df_nan

,URL,Clicks,Impressions,CTR,Position,URL_first_half,URL_second_half,items,type
44,community/news-events/which-countries-have-the...,8193,283751,2.89,7.40,"[community, news-events, which-countries-have-...",None,3,which-countries-have-the-most-horses-
63,community/equestrian-advice-guides/feeding/wha...,6069,1226935,0.49,8.06,"[community, equestrian-advice-guides, feeding,...",None,4,what-horses-can-and-can-t-eat
68,community/equestrian-advice-guides/general-equ...,5394,1350425,0.40,12.04,"[community, equestrian-advice-guides, general-...",None,4,find-the-perfect-horse-name
74,community/equestrian-advice-guides/equestrian-...,4939,148316,3.33,18.94,"[community, equestrian-advice-guides, equestri...",None,4,working-with-horses-15-of-the-best-equine-jobs
94,community/equestrian-advice-guides/general-equ...,3916,275593,1.42,13.06,"[community, equestrian-advice-guides, general-...",None,4,horse-prices-how-much-does-a-horse-cost-
123,community/equestrian-advice-guides/business-ad...,3097,26405,11.73,11.29,"[community, equestrian-advice-guides, business...",None,4,how-to-write-a-livery-yard-contract-sample
150,community/news-events/new-stallion-chosen-as-t...,2413,72367,3.33,10.29,"[community, news-events, new-stallion-chosen-a...",None,3,new-stallion-chosen-as-the-black-horse-for-llo...
158,community/news-events/13-hottest-male-equestri...,2192,40119,5.46,10.84,"[community, news-events, 13-hottest-male-eques...",None,3,13-hottest-male-equestrians-voted-by-horsemart
159,community/equestrian-advice-guides/general-equ...,2178,416929,0.52,9.10,"[community, equestrian-advice-guides, general-...",None,4,what-is-the-average-weight-of-a-horse-
175,community/horse-breed-guides/the-welsh-pony-br...,1933,148382,1.30,10.33,"[community, horse-breed-guides, the-welsh-pony...",None,3,the-welsh-pony-breed-guide
185,community/buying-selling/buying-advice/loaning...,1768,47868,3.69,8.60,"[community, buying-selling, buying-advice, loa...",None,4,loaning-a-horse-successfully-loanee-do-s-and-d...
206,community/buying-selling/buying-advice/finding...,1534,25018,6.13,9.96,"[community, buying-selling, buying-advice, fin...",None,4,finding-horses-for-sale-under-1000-pounds
215,community/equestrian-advice-guides/all-discipl...,1469,77975,1.88,7.66,"[community, equestrian-advice-guides, all-disc...",None,4,draw-reins-teaching-tool-or-torture-instrument-
224,community/training-top-tips/showjumping/show-j...,1377,53052,2.60,14.89,"[community, training-top-tips, showjumping, sh...",None,4,show-jumping-dress-code
239,community/equestrian-advice-guides/general-equ...,1286,25089,5.13,24.10,"[community, equestrian-advice-guides, general-...",None,4,our-top-destinations-to-take-your-horse-on-a-u...
240,community/reviews/micklem-bridles-review-are-t...,1284,26368,4.87,22.52,"[community, reviews, micklem-bridles-review-ar...",None,3,micklem-bridles-review-are-they-worth-the-mone...
242,community/buying-selling/buying-advice/how-to-...,1276,34903,3.66,16.93,"[community, buying-selling, buying-advice, how...",None,4,how-to-write-a-loan-contract-sample
255,community/equestrian-advice-guides/equestrian-...,1163,34605,3.36,14.25,"[community, equestrian-advice-guides, equestri...",None,4,how-to-become-a-chartered-equine-physiotherapist
257,community/buying-selling/buying-advice/horse-s...,1148,27538,4.17,13.17,"[community, buying-selling, buying-advice, hor...",None,4,horse-share-everything-you-need-to-know
278,community/training-top-tips/showing/showing-ti...,1030,31148,3.31,11.55,"[community, training-top-tips, showing, showin...",None,4,showing-tips-for-beginners
297,community/buying-selling/buying-advice/the-3-5...,954,21897,4.36,14.09,"[community, buying-selling, buying-advice, the...",None,4,the-3-5-tonne-horsebox-a-buyer-s-guide
300,community/equestrian-advice-guides/beginners-a...,948,83149,1.14,11.92,"[community, equestrian-advice-guides, beginner...",None,4,thinking-of-going-affiliated-showjumping-what-...
315,view-trader/graham-sugden/120185,895,3130,28.59,5.42,"[view-trader, graham-sugden, 120185]",None,3,120185
337,community/equestrian-advice-guides/all-discipl...,797,19145,4.16,13.14,"[community, equestrian-advice-guides, all-disc...",None,4,the-rider-s-aids-explained-how-we-communicate-...
341,community/equestrian-advice-guides/horse-care/...,788,16427,4.80,20.36,"[community, equestrian-advice-guides, horse-ca...",None,4,how-to-recognise-when-your-horse-is-approachin...
344,community/horse-breed-guides/thoroughbred-cros...,779,21738,3.58,9.36,"[community, horse-breed-guides, thoroughbred-c...",None,3,thoroughbred-cross-breed-guide
352,3-5t-equito-longstall-built-by-bloomfields/Hor...,752,7178,10.48,8.06,"[3-5t-equito-longstall-built-by-bloomfields, H...",None,3,700616
356,ads_new.php,741,199837,0.37,3.44,[ads_new.php],None,1,ads_new.php
366,community/equestrian-advice-guides/horse-healt...,719,65394,1.10,14.91,"[community, equestrian-advice-guides, horse-he...",None,4,diagnosing-and-treating-horse-mites-mange
374,community/equestrian-advice-guides/beginners-a...,707,41106,1.72,25.06,"[community, equestrian-advice-guides, beginner...",None,4,horse-rugs-guide-different-types-of-rug-and-wh...
377,community/equestrian-advice-guides/horse-healt...,702,22818,3.08,12.98,"[community, equestrian-advice-guides, horse-he...",None,4,treating-horse-ear-mites
381,backing-competition-livery-and-sales-livery/Ho...,690,12600,5.48,10.44,"[backing-competition-livery-and-sales-livery, ...",None,3,620881
384,community/buying-selling/selling-advice_2/how-...,681,33533,2.03,9.51,"[community, buying-selling, selling-advice_2, ...",None,4,how-to-place-an-ad-on-horsemart
385,West-Sussex/C/horse-services.php,676,12003,5.63,15.00,"[West-Sussex, C, horse-services.php]",None,3,horse-services.php
387,community/news-events/13-of-the-richest-people...,674,35878,1.88,23.36,"[community, news-events, 13-of-the-richest-peo...",None,3,13-of-the-richest-people-in-horse-racing
394,community/equestrian-advice-guides/horse-care/...,652,70608,0.92,20.56,"[community, equestrian-advice-guides, horse-ca...",None,4,horse-grooming-step-by-step-guide
402,community/equestrian-advice-guides/beginners-a...,640,38176,1.68,32.85,"[community, equestrian-advice-guides, beginner...",None,4,teaching-a-beginner-to-ride-a-horse
406,community/buying-selling/selling-advice_2/how-...,629,25695,2.45,16.59,"[community, buying-selling, selling-advice_2, ...",None,4,how-to-sell-your-saddle-online-expert-secrets-
430,community/horse-breed-guides/irish-sport-horse...,574,164793,0.35,6.24,"[community, horse-breed-guides, irish-sport-ho...",None,3,irish-sport-horse-breed-guide
436,view-trader/combe-farm-arabians/141650,563,4356,12.92,13.71,"[view-trader, combe-farm-arabians, 141650]",None,3,141650
437,community/equestrian-advice-guides/general-equ...,560,24670,2.27,11.90,"[community, equestrian-advice-guides, general-...",None,4,is-diy-livery-really-the-cheapest-option-
439,community/training-top-tips/showjumping/show-j...,558,27638,2.02,15.85,"[community, training-top-tips, showjumping, sh...",None,4,show-jumping-rules
446,community/equestrian-advice-guides/tack-equipm...,551,11428,4.82,11.78,"[community, equestrian-advice-guides, tack-equ...",None,4,how-to-put-on-sausage-boots
454,community/horse-breed-guides/selle-francais-ho...,535,57780,0.93,5.91,"[community, horse-breed-guides, selle-francais...",None,3,selle-francais-horse-breed-guide
458,community/buying-selling/selling-advice_2/the-...,529,20919,2.53,17.67,"[community, buying-selling, selling-advice_2, ...",None,4,the-ultimate-guide-to-selling-a-horse-online-e...
461,community/blog-contributors/contributor-update...,527,10825,4.87,12.99,"[community, blog-contributors, contributor-upd...",None,4,our-kissing-spine-journey-part-2-rehab-from-th...
462,community/equestrian-advice-guides/horse-care/...,525,13339,3.94,8.42,"[community, equestrian-advice-guides, horse-ca...",None,4,my-winter-top-tip-pig-oil
468,view-trader/jess-coggins-horses-/490207,513,4587,11.18,4.82,"[view-trader, jess-coggins-horses-, 490207]",None,3,490207
473,community/buying-selling/buying-advice/buying-...,508,22764,2.23,17.26,"[community, buying-selling, buying-advice, buy...",None,4,buying-and-owning-a-3-5t-horsebox-safely-
477,community/equestrian-advice-guides/horse-care/...,502,12658,3.97,13.65,"[community, equestrian-advice-guides, horse-ca...",None,4,how-to-keep-your-grey-horse-clean-top-grooming...
489,community/equestrian-advice-guides/general-equ...,491,6443,7.62,11.43,"[community, equestrian-advice-guides, general-...",None,4,moving-livery-yards-is-the-grass-always-greener-
495,community/equestrian-advice-guides/business-ad...,479,11100,4.32,16.57,"[community, equestrian-advice-guides, business...",None,4,essential-paperwork-for-yard-owners
498,community/equestrian-advice-guides/horse-healt...,474,65900,0.72,15.68,"[community, equestrian-advice-guides, horse-he...",None,4,how-to-recognise-and-treat-kissing-spine
516,community/equestrian-advice-guides/business-ad...,454,11437,3.97,15.85,"[community, equestrian-advice-guides, business...",None,4,avoiding-common-mistakes-as-a-new-livery-yard-...
575,4-5t-equito-elite-built-by-bloomfields-weekend...,392,4317,9.08,11.94,[4-5t-equito-elite-built-by-bloomfields-weeken...,None,3,696140
578,community/equestrian-advice-guides/all-discipl...,389,33551,1.16,28.84,"[community, equestrian-advice-guides, all-disc...",None,4,lunging-and-lunge-aids-a-beginners-guide
586,community/training-top-tips/all-disciplines/gr...,383,41494,0.92,11.48,"[community, training-top-tips, all-disciplines...",None,4,groundwork-an-introduction-to-long-reining
587,community/equestrian-advice-guides/horse-healt...,383,35488,1.08,18.08,"[community, equestrian-advice-guides, horse-he...",None,4,diagnosing-and-treating-horse-lice
592,4-5t-trevett-smith-horsebox/Horseboxes-Trailer...,377,5381,7.01,8.13,"[4-5t-trevett-smith-horsebox, Horseboxes-Trail...",None,3,560770
594,community/equestrian-advice-guides/feeding/the...,376,14378,2.62,32.32,"[community, equestrian-advice-guides, feeding,...",None,4,the-pros-and-cons-of-grazing-muzzles
598,community/horse-breed-guides/mountain-and-moor...,374,18305,2.04,13.04,"[community, horse-breed-guides, mountain-and-m...",None,3,mountain-and-moorland-horse-breed-guide
606,community/buying-selling/buying-advice/henning...,368,7342,5.01,12.66,"[community, buying-selling, buying-advice, hen...",None,4,henning-horseboxes-guide-to-buying-a-new-or-us...
619,community/equestrian-advice-guides/horse-healt...,359,15009,2.39,10.46,"[community, equestrian-advice-guides, horse-he...",None,4,six-equine-diabetes-symptoms
625,view-trader/horseboxseller/161170,355,35656,1.00,4.82,"[view-trader, horseboxseller, 161170]",None,3,161170
627,community/equestrian-advice-guides/horse-healt...,355,5012,7.08,21.00,"[community, equestrian-advice-guides, horse-he...",None,4,autumnal-grass-growth-all-you-need-to-know
630,community/buying-selling/buying-advice/buying-...,353,9947,3.55,18.66,"[community, buying-selling, buying-advice, buy...",None,4,buying-a-7-5-tonne-horsebox-the-ultimate-guide
632,community/training-top-tips/all-disciplines/so...,352,12960,2.72,11.41,"[community, training-top-tips, all-disciplines...",None,4,some-helpful-tips-for-gridwork-exercises
643,business/horse-sellers/lynn-robertson-horses-p...,344,2194,15.68,5.36,"[business, horse-sellers, lynn-robertson-horse...",None,4,537479
647,community/news-events/which-nations-import-and...,341,8224,4.15,11.63,"[community, news-events, which-nations-import-...",None,3,which-nations-import-and-export-the-most-horses-
667,community/horse-breed-guides/warmblood-horse-b...,327,32786,1.00,12.38,"[community, horse-breed-guides, warmblood-hors...",None,3,warmblood-horse-breed-guide
676,Bristol/C/horse-services.php,324,7693,4.21,14.47,"[Bristol, C, horse-services.php]",None,3,horse-services.php
683,view-trader/i-c-e-horseboxes/272381,321,8379,3.83,6.30,"[view-trader, i-c-e-horseboxes, 272381]",None,3,272381
685,community/equestrian-advice-guides/general-equ...,321,3873,8.29,14.67,"[community, equestrian-advice-guides, general-...",None,4,what-to-expect-from-your-newly-backed-horse-or...
687,view-trader/horses4homes-www-horses4homes-net/...,320,10269,3.12,5.73,"[view-trader, horses4homes-www-horses4homes-ne...",None,3,398943
688,view-trader/hayling-truck-centre/724054,320,3059,10.46,24.80,"[view-trader, hayling-truck-centre, 724054]",None,3,724054
694,lola-fun-forward-allrounder/Horses/701084,316,2661,11.88,5.94,"[lola-fun-forward-allrounder, Horses, 701084]",None,3,701084
696,view-trader/springbank-farm/230869,315,4396,7.17,10.30,"[view-trader, springbank-farm, 230869]",None,3,230869
699,post/how-to-become-a-chartered-equine-physioth...,313,8320,3.76,13.70,"[post, how-to-become-a-chartered-equine-physio...",None,3,227
716,community/news-events/horse-health/reports-of-...,302,3608,8.37,9.87,"[community, news-events, horse-health, reports...",None,4,reports-of-strangles-outbreaks-across-the-uk
718,ifor-williams-eventa-m-with-living-2015/Horseb...,301,1189,25.32,7.69,"[ifor-williams-eventa-m-with-living-2015, Hors...",None,3,722579
746,community/equestrian-advice-guides/general-equ...,291,67173,0.43,14.12,"[community, equestrian-advice-guides, general-...",None,4,how-to-measure-your-horse-for-a-rug
751,Property/A/horse-services.php,290,27755,1.04,13.73,"[Property, A, horse-services.php]",None,3,horse-services.php
758,view-trader/shanahan-sport-horses/522785,287,1411,20.34,9.36,"[view-trader, shanahan-sport-horses, 522785]",None,3,522785
759,community/training-top-tips/eventing/how-can-i...,286,5532,5.17,10.16,"[community, training-top-tips, eventing, how-c...",None,4,how-can-i-stop-my-lower-leg-swinging-back-whil...
760,view-trader/select-horseboxes-saywell/43073,286,3612,7.92,8.39,"[view-trader, select-horseboxes-saywell, 43073]",None,3,43073
767,community/equestrian-advice-guides/business-ad...,284,6324,4.49,14.84,"[community, equestrian-advice-guides, business...",None,4,health-safety-in-equestrian-establishments
769,community/equestrian-advice-guides/beginners-a...,283,14516,1.95,16.71,"[community, equestrian-advice-guides, beginner...",None,4,horse-showing-everything-you-need-to-know-
770,community/training-top-tips/showjumping/fitnes...,283,4815,5.88,23.21,"[community, training-top-tips, showjumping, fi...",None,4,fitness-training-for-a-show-jumper
773,view-trader/rainbow-bridge-equine-rescue/373104,282,5924,4.76,27.95,"[view-trader, rainbow-bridge-equine-rescue, 37...",None,3,373104
780,community/equestrian-advice-guides/horse-care/...,278,19664,1.41,11.78,"[community, equestrian-advice-guides, horse-ca...",None,4,why-do-flies-like-horses-and-ponies-so-much-
790,equi-sport-horseboxes-new-conversion-3-5t-/Hor...,273,6107,4.47,19.34,"[equi-sport-horseboxes-new-conversion-3-5t-, H...",None,3,685765
793,community/equestrian-advice-guides/horse-care/...,272,8841,3.08,15.67,"[community, equestrian-advice-guides, horse-ca...",None,4,5-considerations-when-putting-a-horse-on-box-rest
796,community/equestrian-advice-guides/tack-equipm...,271,9890,2.74,19.18,"[community, equestrian-advice-guides, tack-equ...",None,4,how-to-put-on-tendon-boots
807,view-trader/south-coast-horses-ltd/763996,267,1013,26.36,12.54,"[view-trader, south-coast-horses-ltd, 763996]",None,3,763996
811,community/training-top-tips/all-disciplines/ho...,264,17889,1.48,16.61,"[community, training-top-tips, all-disciplines...",None,4,how-to-ride-an-arabian-horse
817,community/equestrian-advice-guides/general-equ...,261,8049,3.24,18.43,"[community, equestrian-advice-guides, general-...",None,4,want-some-grazing-companions-for-your-horse-op...
834,community/equestrian-advice-guides/general-equ...,254,8267,3.07,14.28,"[community, equestrian-advice-guides, general-...",None,4,safe-storage-of-your-horsebox-or-trailer
847,community/buying-selling/buying-advice/buying-...,245,20562,1.19,18.48,"[community, buying-selling, buying-advice, buy...",None,4,buying-a-horsebox-on-finance-how-does-it-work-
848,East-Sussex/C/horse-services.php,245,5677,4.32,14.21,"[East-Sussex, C, horse-services.php]",None,3,horse-services.php
853,community/training-top-tips/all-disciplines/th...,244,39158,0.62,6.38,"[community, training-top-tips, all-disciplines...",None,4,the-scales-of-training-for-the-horse
860,Property/North-East/AB/horse-services.php,243,3643,6.67,11.51,"[Property, North-East, AB, horse-services.php]",None,4,horse-services.php
865,community/reviews/cambox-helmet-camera-product...,242,13179,1.84,29.47,"[community, reviews, cambox-helmet-camera-prod...",None,3,cambox-helmet-camera-product-review
873,equi-trek-night-treka-excel-3000kg/Horseboxes-...,240,5986,4.01,9.11,"[equi-trek-night-treka-excel-3000kg, Horseboxe...",None,3,648742
880,view-trader/hunter-horseboxes/270513,238,4572,5.21,7.27,"[view-trader, hunter-horseboxes, 270513]",None,3,270513
886,community/equestrian-advice-guides/beginners-a...,237,7202,3.29,14.61,"[community, equestrian-advice-guides, beginner...",None,4,dealing-with-livery-yard-price-increases
891,community/training-top-tips/how-to-get-started...,236,7657,3.08,15.30,"[community, training-top-tips, how-to-get-star...",None,3,how-to-get-started-with-carriage-driving
943,ifor-williams-hbx511-new-2023-/Horseboxes-Trai...,220,2652,8.30,8.72,"[ifor-williams-hbx511-new-2023-, Horseboxes-Tr...",None,3,709931
952,equi-trek-apollo-special-launch-addition/Horse...,217,4741,4.58,8.99,"[equi-trek-apollo-special-launch-addition, Hor...",None,3,661915
959,missy-teenagers-dream/Horses/701096,216,2987,7.23,7.25,"[missy-teenagers-dream, Horses, 701096]",None,3,701096
960,view-trader/shane-walsh-equestrian/159432,216,2002,10.79,5.74,"[view-trader, shane-walsh-equestrian, 159432]",None,3,159432
961,community/equestrian-advice-guides/business-ad...,215,22140,0.97,43.27,"[community, equestrian-advice-guides, business...",None,4,the-right-insurance-for-your-yard
975,Property/Surrey/AC/horse-services.php,211,5538,3.81,13.35,"[Property, Surrey, AC, horse-services.php]",None,4,horse-services.php
981,community/article/horse-breed-guides/thoroughb...,210,5793,3.63,7.59,"[community, article, horse-breed-guides, thoro...",None,4,thoroughbred-cross-breed-guide
986,Property/East-Sussex/AC/horse-services.php,209,3131,6.68,11.46,"[Property, East-Sussex, AC, horse-services.php]",None,4,horse-services.php
992,carriage-box-3-5t-3-9t-2-horse-3-ponies-small-...,207,2919,7.09,15.74,[carriage-box-3-5t-3-9t-2-horse-3-ponies-small...,None,3,445866
996,community/equestrian-advice-guides/buying-advi...,206,10133,2.03,24.03,"[community, equestrian-advice-guides, buying-a...",None,4,here-are-horsemart-s-5-recommended-fly-rugs-fo...
999,view-trader/lw-equestrian-/201918,206,1629,12.65,8.25,"[view-trader, lw-equestrian-, 201918]",None,3,201918

In [440]:
df_nan['type'].value_counts()

type
horse-services.php                                              7
thoroughbred-cross-breed-guide                                  2
which-countries-have-the-most-horses-                           1
43073                                                           1
522785                                                          1
how-to-measure-your-horse-for-a-rug                             1
722579                                                          1
reports-of-strangles-outbreaks-across-the-uk                    1
227                                                             1
230869                                                          1
701084                                                          1
724054                                                          1
398943                                                          1
what-to-expect-from-your-newly-backed-horse-or-pony             1
272381                                                          1
warmblood-horse-breed-guide                                     1
which-nations-import-and-export-the-most-horses-                1
537479                                                          1
some-helpful-tips-for-gridwork-exercises                        1
buying-a-7-5-tonne-horsebox-the-ultimate-guide                  1
autumnal-grass-growth-all-you-need-to-know                      1
161170                                                          1
six-equine-diabetes-symptoms                                    1
henning-horseboxes-guide-to-buying-a-new-or-used-horsebox       1
mountain-and-moorland-horse-breed-guide                         1
the-pros-and-cons-of-grazing-muzzles                            1
560770                                                          1
how-can-i-stop-my-lower-leg-swinging-back-while-jumping-        1
health-safety-in-equestrian-establishments                      1
groundwork-an-introduction-to-long-reining                      1
cambox-helmet-camera-product-review                             1
here-are-horsemart-s-5-recommended-fly-rugs-for-the-coming-s    1
445866                                                          1
the-right-insurance-for-your-yard                               1
159432                                                          1
701096                                                          1
661915                                                          1
709931                                                          1
how-to-get-started-with-carriage-driving                        1
dealing-with-livery-yard-price-increases                        1
270513                                                          1
648742                                                          1
the-scales-of-training-for-the-horse                            1
horse-showing-everything-you-need-to-know-                      1
buying-a-horsebox-on-finance-how-does-it-work-                  1
safe-storage-of-your-horsebox-or-trailer                        1
want-some-grazing-companions-for-your-horse-options-to-consi    1
how-to-ride-an-arabian-horse                                    1
763996                                                          1
how-to-put-on-tendon-boots                                      1
5-considerations-when-putting-a-horse-on-box-rest               1
685765                                                          1
why-do-flies-like-horses-and-ponies-so-much-                    1
373104                                                          1
fitness-training-for-a-show-jumper                              1
diagnosing-and-treating-horse-lice                              1
lunging-and-lunge-aids-a-beginners-guide                        1
what-horses-can-and-can-t-eat                                   1
ads_new.php                                                     1
how-to-recognise-when-your-horse-is-approaching-foaling         1
the-rider-s-aids-explained-how-we-communicate-with-our-horse    1
120185                                                          1
thinking-of-going-affiliated-showjumping-what-you-need-to-kn    1
the-3-5-tonne-horsebox-a-buyer-s-guide                          1
showing-tips-for-beginners                                      1
horse-share-everything-you-need-to-know                         1
how-to-become-a-chartered-equine-physiotherapist                1
how-to-write-a-loan-contract-sample                             1
micklem-bridles-review-are-they-worth-the-money-and-do-they-    1
our-top-destinations-to-take-your-horse-on-a-uk-holiday         1
show-jumping-dress-code                                         1
draw-reins-teaching-tool-or-torture-instrument-                 1
finding-horses-for-sale-under-1000-pounds                       1
loaning-a-horse-successfully-loanee-do-s-and-don-ts-for-maki    1
the-welsh-pony-breed-guide                                      1
what-is-the-average-weight-of-a-horse-                          1
13-hottest-male-equestrians-voted-by-horsemart                  1
new-stallion-chosen-as-the-black-horse-for-lloyds-tsb           1
how-to-write-a-livery-yard-contract-sample                      1
horse-prices-how-much-does-a-horse-cost-                        1
working-with-horses-15-of-the-best-equine-jobs                  1
find-the-perfect-horse-name                                     1
700616                                                          1
diagnosing-and-treating-horse-mites-mange                       1
696140                                                          1
horse-rugs-guide-different-types-of-rug-and-when-to-use-them    1
avoiding-common-mistakes-as-a-new-livery-yard-owner             1
how-to-recognise-and-treat-kissing-spine                        1
essential-paperwork-for-yard-owners                             1
moving-livery-yards-is-the-grass-always-greener-                1
how-to-keep-your-grey-horse-clean-top-grooming-hacks-           1
buying-and-owning-a-3-5t-horsebox-safely-                       1
490207                                                          1
my-winter-top-tip-pig-oil                                       1
our-kissing-spine-journey-part-2-rehab-from-the-ground-up       1
the-ultimate-guide-to-selling-a-horse-online-everything-you-    1
selle-francais-horse-breed-guide                                1
how-to-put-on-sausage-boots                                     1
show-jumping-rules                                              1
is-diy-livery-really-the-cheapest-option-                       1
141650                                                          1
irish-sport-horse-breed-guide                                   1
how-to-sell-your-saddle-online-expert-secrets-                  1
teaching-a-beginner-to-ride-a-horse                             1
horse-grooming-step-by-step-guide                               1
13-of-the-richest-people-in-horse-racing                        1
how-to-place-an-ad-on-horsemart                                 1
620881                                                          1
treating-horse-ear-mites                                        1
201918                                                          1
Name: count, dtype: int64

In [441]:
df_type = df_nan[df_nan['type'] == 'horse-services.php']

In [442]:
df_type.shape

(7, 9)

In [443]:
df_type.head()

,URL,Clicks,Impressions,CTR,Position,URL_first_half,URL_second_half,items,type
385,West-Sussex/C/horse-services.php,676,12003,5.63,15.00,"[West-Sussex, C, horse-services.php]",None,3,horse-services.php
676,Bristol/C/horse-services.php,324,7693,4.21,14.47,"[Bristol, C, horse-services.php]",None,3,horse-services.php
751,Property/A/horse-services.php,290,27755,1.04,13.73,"[Property, A, horse-services.php]",None,3,horse-services.php
848,East-Sussex/C/horse-services.php,245,5677,4.32,14.21,"[East-Sussex, C, horse-services.php]",None,3,horse-services.php
860,Property/North-East/AB/horse-services.php,243,3643,6.67,11.51,"[Property, North-East, AB, horse-services.php]",None,4,horse-services.php

In [444]:
df_type.describe().T

,count,mean,std,min,25%,50%,75%,max
Clicks,7.0,314.000000,164.901991,209.00,227.00,245.00,307.00,676.00
Impressions,7.0,9348.571429,8639.021470,3131.00,4590.50,5677.00,9848.00,27755.00
CTR,7.0,4.622857,1.966246,1.04,4.01,4.32,6.15,6.68
Position,7.0,13.390000,1.402819,11.46,12.43,13.73,14.34,15.00
items,7.0,3.428571,0.534522,3.00,3.00,3.00,4.00,4.00

In [445]:
df_type['items'].describe(percentiles=[.2,.4,.5,.6,.8,.9,.95])

count    7.000000
mean     3.428571
std      0.534522
min      3.000000
20%      3.000000
40%      3.000000
50%      3.000000
60%      3.600000
80%      4.000000
90%      4.000000
95%      4.000000
max      4.000000
Name: items, dtype: float64

In [446]:
df_type['items'].median()

3.0

In [447]:
pvt = df_type.pivot_table(values = 'Clicks' , index='type', aggfunc='sum').sort_values(by='Clicks',ascending=False)

In [448]:
pvt

                    Clicks
type
horse-services.php    2198

In [ ]:
pvt.to_clipboard(excel=True, sep=',')

In [449]:
df_nan['type'] = df_nan['URL_first_half'].apply(lambda x : x[0])

In [450]:
df_nan.head()

,URL,Clicks,Impressions,CTR,Position,URL_first_half,URL_second_half,items,type
44,community/news-events/which-countries-have-the...,8193,283751,2.89,7.40,"[community, news-events, which-countries-have-...",None,3,community
63,community/equestrian-advice-guides/feeding/wha...,6069,1226935,0.49,8.06,"[community, equestrian-advice-guides, feeding,...",None,4,community
68,community/equestrian-advice-guides/general-equ...,5394,1350425,0.40,12.04,"[community, equestrian-advice-guides, general-...",None,4,community
74,community/equestrian-advice-guides/equestrian-...,4939,148316,3.33,18.94,"[community, equestrian-advice-guides, equestri...",None,4,community
94,community/equestrian-advice-guides/general-equ...,3916,275593,1.42,13.06,"[community, equestrian-advice-guides, general-...",None,4,community

In [451]:
df_nan['type'].value_counts()

type
community                                                       80
view-trader                                                     15
Property                                                         4
post                                                             1
missy-teenagers-dream                                            1
equi-trek-apollo-special-launch-addition                         1
ifor-williams-hbx511-new-2023-                                   1
equi-trek-night-treka-excel-3000kg                               1
East-Sussex                                                      1
equi-sport-horseboxes-new-conversion-3-5t-                       1
ifor-williams-eventa-m-with-living-2015                          1
lola-fun-forward-allrounder                                      1
Bristol                                                          1
business                                                         1
4-5t-trevett-smith-horsebox                                      1
4-5t-equito-elite-built-by-bloomfields-weekender-living-         1
West-Sussex                                                      1
backing-competition-livery-and-sales-livery                      1
ads_new.php                                                      1
3-5t-equito-longstall-built-by-bloomfields                       1
carriage-box-3-5t-3-9t-2-horse-3-ponies-small-driving-carria     1
Name: count, dtype: int64

In [452]:
pvt = df_nan.pivot_table(values = 'Clicks' , index='type', aggfunc='sum').sort_values(by='Clicks',ascending=False)

In [453]:
pvt

                                                    Clicks
type
community                                            80441
view-trader                                           5384
Property                                               953
3-5t-equito-longstall-built-by-bloomfields             752
ads_new.php                                            741
backing-competition-livery-and-sales-livery            690
West-Sussex                                            676
4-5t-equito-elite-built-by-bloomfields-weekende...     392
4-5t-trevett-smith-horsebox                            377
business                                               344
Bristol                                                324
lola-fun-forward-allrounder                            316
post                                                   313
ifor-williams-eventa-m-with-living-2015                301
equi-sport-horseboxes-new-conversion-3-5t-             273
East-Sussex                                            245
equi-trek-night-treka-excel-3000kg                     240
ifor-williams-hbx511-new-2023-                         220
equi-trek-apollo-special-launch-addition               217
missy-teenagers-dream                                  216
carriage-box-3-5t-3-9t-2-horse-3-ponies-small-d...     207

In [456]:
list(df_nan[df_nan['type']=='view-trader']['URL'])

['view-trader/graham-sugden/120185',
 'view-trader/combe-farm-arabians/141650',
 'view-trader/jess-coggins-horses-/490207',
 'view-trader/horseboxseller/161170',
 'view-trader/i-c-e-horseboxes/272381',
 'view-trader/horses4homes-www-horses4homes-net/398943',
 'view-trader/hayling-truck-centre/724054',
 'view-trader/springbank-farm/230869',
 'view-trader/shanahan-sport-horses/522785',
 'view-trader/select-horseboxes-saywell/43073',
 'view-trader/rainbow-bridge-equine-rescue/373104',
 'view-trader/south-coast-horses-ltd/763996',
 'view-trader/hunter-horseboxes/270513',
 'view-trader/shane-walsh-equestrian/159432',
 'view-trader/lw-equestrian-/201918']

# THE END