In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import matplotlib.patches as mpatches
import seaborn as sns
import re
import warnings

In [3]:
df1 = pd.read_csv('/Users/rajathadri_as/Documents/Horsemart-Master-Address-Book.csv')

C:\Users\rajathadri_as\AppData\Local\Temp\ipykernel_10556\2121551318.py:1: DtypeWarning: Columns (10,11,15,16,22,23,24,25,26,28,29,30,32,33,34,39,40,41,43,44,47,48,49,51,53,56,62,66,68,69,71,80,81,85,88,90,92,93,96,97,98,100,101,102,104,107,109,112,113,114,115,116,118,120,122,128,131,137,140,141,148,149,150,166,175,176,178,179,180,181,182,183,184,186,187,188,189,190,191,193,194,196,197,198,199,200,202,204,205,207,208,213,215,216,217,219,220,222,227,229,231,232,233,235,236,237,239,240,241,242,243,244,247,248,249,250,251,252,253,254,258,260,261,262,263,264,265,266,267,269,271,278,281,284,293,295) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('/Users/rajathadri_as/Documents/Horsemart-Master-Address-Book.csv')

In [4]:
df1.head()

,DateCreated,DateModified,Email,MobileNumberId,EmailType,OptInType,LastMailedDate,LastOpenedDate,ACTIVE_USER,ACXIOM_HASH,...,SMSFIELD3,SMSFIELD4,SMSFIELD5,SUBJECT_LINE,TOWN,TWITTER_ID,TYPE,USER_NAME,USER_SOURCE,USER_TYPE
0,20/09/2023 20:23,21/09/2023 02:03,amandaperry160@gmail.com,NaN,Html,Single,21/09/2023 09:07,NaN,NaN,5e750a17351e882d628cd8cf763adf948eaefabc,...,NaN,NaN,NaN,D,NaN,NaN,NaN,amandaperry160,NaN,private
1,20/09/2023 20:23,21/09/2023 02:03,lisamriesr@outlook.com,NaN,Html,Single,21/09/2023 09:07,NaN,NaN,b4e98d46dc1533863ef12fb15b78ef1fa8f61fab,...,NaN,NaN,NaN,D,Darlington,NaN,NaN,lisamariesr,NaN,private
2,20/09/2023 19:23,21/09/2023 02:03,sales@herefordshirehorseboxes.com,NaN,Html,Single,21/09/2023 09:07,NaN,NaN,591137dca877d7e80b7267aadb48450d25b90bc2,...,NaN,NaN,NaN,D,NaN,NaN,NaN,herefordshirehorseb,NaN,trade
3,20/09/2023 19:23,21/09/2023 02:03,ViolettaBeach16@outlook.com,NaN,Html,Single,21/09/2023 09:07,NaN,NaN,22764aa4cb66e4802ae051d9120c4cc59fed8b1f,...,NaN,NaN,NaN,D,NaN,NaN,NaN,violettabeach16,NaN,private
4,20/09/2023 13:23,21/09/2023 02:03,azamshopeju@gmail.com,NaN,Html,Single,21/09/2023 09:07,NaN,NaN,ea0ea2e503203bd1fab833ec4f240d55563df7af,...,NaN,NaN,NaN,D,NaN,NaN,NaN,azamshopeju,NaN,private

In [5]:
df1.shape

(48093, 297)

In [6]:
df1['Email'].nunique()

48093

In [8]:
df1['ACTIVE_USER'].nunique()

0

In [9]:
member = pd.read_csv('/Users/rajathadri_as/Documents/hm_member.csv')

C:\Users\rajathadri_as\AppData\Local\Temp\ipykernel_10556\3551537012.py:1: DtypeWarning: Columns (11,41,42,87,88,89,94,134,139) have mixed types. Specify dtype option on import or set low_memory=False.
  member = pd.read_csv('/Users/rajathadri_as/Documents/hm_member.csv')

In [10]:
member_biz = pd.read_csv('/Users/rajathadri_as/Documents/hm_member_biz.csv')

In [11]:
member.shape

(100000, 142)

In [12]:
member_biz.shape

(432, 176)

In [16]:
member['email'].nunique()

96942

In [17]:
member_biz['email'].nunique()

419

In [19]:
member_email = member[['email']]

In [21]:
member_email.shape

(100000, 1)

In [22]:
member_biz_email = member_biz[['email']]

In [23]:
member_biz_email.shape

(432, 1)

In [24]:
df_emails = pd.concat([member_email, member_biz_email], axis=0)

In [25]:
df_emails.shape

(100432, 1)

In [26]:
df_emails.nunique()

email    97328
dtype: int64

In [28]:
df_emails.duplicated().value_counts()

False    97329
True      3103
Name: count, dtype: int64

In [29]:
df_emails.drop_duplicates(inplace=True)

In [30]:
df_emails.shape

(97329, 1)

In [31]:
df_emails.head()

                     email
0  support@horsemart.co.uk
1   rcruz@memoriavisual.pt
2  samir_owner@hotmail.com
3  teresafmelo@hotmail.com
4  msousa@memoriavisual.pt

In [33]:
df1.shape

(48093, 297)

In [32]:
filtered_df1 = df1[~df1['Email'].isin(df_emails['email'])]
filtered_df1.head()

,DateCreated,DateModified,Email,MobileNumberId,EmailType,OptInType,LastMailedDate,LastOpenedDate,ACTIVE_USER,ACXIOM_HASH,...,SMSFIELD3,SMSFIELD4,SMSFIELD5,SUBJECT_LINE,TOWN,TWITTER_ID,TYPE,USER_NAME,USER_SOURCE,USER_TYPE
1,20/09/2023 20:23,21/09/2023 02:03,lisamriesr@outlook.com,NaN,Html,Single,21/09/2023 09:07,NaN,NaN,b4e98d46dc1533863ef12fb15b78ef1fa8f61fab,...,NaN,NaN,NaN,D,Darlington,NaN,NaN,lisamariesr,NaN,private
3,20/09/2023 19:23,21/09/2023 02:03,ViolettaBeach16@outlook.com,NaN,Html,Single,21/09/2023 09:07,NaN,NaN,22764aa4cb66e4802ae051d9120c4cc59fed8b1f,...,NaN,NaN,NaN,D,NaN,NaN,NaN,violettabeach16,NaN,private
6,19/09/2023 21:23,21/09/2023 02:03,rehomingbs@outlook.com,NaN,Html,Single,20/09/2023 09:05,NaN,NaN,9ad1276ea327d9c373791e94ea3f4ea0837cf512,...,NaN,NaN,NaN,D,NaN,NaN,NaN,rehomingbs,NaN,private
9,14/09/2023 20:23,21/09/2023 02:03,chicabellagates@outlook.com,NaN,Html,Single,20/09/2023 09:05,NaN,NaN,dbf951d64cdc11c88f3d7d99ec977c678d7b96b1,...,NaN,NaN,NaN,D,NaN,NaN,NaN,NaN,NaN,NaN
10,14/09/2023 17:23,21/09/2023 02:03,hayleighandersonyahoo.com@gmail.com,NaN,Html,Single,20/09/2023 09:05,20/09/2023 20:00,NaN,554511210b3dba775257d1a37dd2c85e0877e206,...,NaN,NaN,NaN,D,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
filtered_df1.shape

(42314, 297)

In [35]:
filtered_df1.to_csv('nonreg_users.csv')

In [36]:
filtered_df1['Email'].nunique()

42314

In [37]:
filtered_df1.rename(columns = {'Email':'email'}, inplace = True)

C:\Users\rajathadri_as\AppData\Local\Temp\ipykernel_10556\719621303.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df1.rename(columns = {'Email':'email'}, inplace = True)

In [39]:
pd.merge(filtered_df1, df_emails, how ='inner', on ='email')

Empty DataFrame
Columns: [DateCreated, DateModified, email, MobileNumberId, EmailType, OptInType, LastMailedDate, LastOpenedDate, ACTIVE_USER, ACXIOM_HASH, ADDED_DATE, ADVERTISER_TYPE, BUSINESS_CATEGORY, BUSINESS_NAME, BUSINESS_SIZE, BUSINESS_TYPE, CHRISTMAS, CONTACT_EMAIL, CONTACT_NAME, COUNTRY, COUNTY, DATE_OF_BIRTH, DEVICE_BROWSER, DEVICE_OS, DEVICE_TYPE, E_4X4S, E_ACCESSORIES, E_ALL_ROUNDER_HORSE, E_APPALOOSA, E_ARAB_HORSES, E_ARENAS_MANEGES, E_ART, E_BOOTS_AND_BANDAGES, E_BRIDLE_ACCESSORIES, E_BRIDLES, E_BROODMARES, E_CAREERS, E_CARRIAGE_DRIVING, E_CASPIANS, E_CATS, E_CLIPPING, E_COBS, E_COLOURED_HORSES, E_COUNTRY_PROPERTY, E_DOGS, E_DRESSAGE_HORSES, E_DRIVING_HORSES, E_EDUCATION_TRAINING, E_EQUESTRIAN_CENTRES, E_EQUESTRIAN_DISCIPL, E_EQUESTRIAN_FINANCE, E_EQUESTRIAN_JOBS, E_EQUESTRIAN_PHOTOGR, E_EQUESTRIAN_PROPERT, E_EQUINE_AGENT, E_EQUINE_DENTISTRY, E_EQUINE_FIELD_SHELT, E_EQUINE_SECURITY, E_EQUIPMENT_AND_ACCE, E_EVENTERS, E_EX_RACEHORSES, E_FAMILY_HORSES, E_FARMS_AND_ESTATES, E_FARRIERS, E_FEED_SUPPLEMENTS, E_FENCING, E_HORSE_CREMATION, E_HORSE_INSURANCE, E_HORSE_TRANSPORT, E_HORSEBOX_BUSINESSE, E_HORSEBOXES, E_HORSEBOXES_FOR_HIR, E_HORSEBOXES_TRAILER, E_HORSES, E_HORSES_FOR_LOAN, E_HORSES_WANTED, E_HORSETRAILERS, E_HORTICULTURAL_PROP, E_HUNTERS, E_KENNEL_CATTERIES, E_LAND_FOR_RENT, E_LAND_FOR_SALE, E_LAUNDRY, E_LEAD_REIN_FIRST_RI, E_LIGHT_HACKS, E_LIVERY_YARD, E_LIVESTOCK, E_MOUNTAIN__MOORLAN, E_MOUNTAIN_MOORLAN, E_PADDOCK_MAINTENANC, E_PART_BRED, E_PERFORMANCE_HORSES, E_PETS_LIVESTOCK, E_POLO_PONIES, E_PONY_CLUB_PONIES, E_POT_YOUNG_HORSES, E_QUARTER_HORSES, E_RIDER_CLOTHING, E_RIDING_AND_YARD_BO, E_RIDING_CLUB_HORSES, ...]
Index: []

[0 rows x 297 columns]